# Exploration des données

In [6]:
import pandas as pd
dataFrame=pd.read_csv("job-data.csv", encoding='latin-1')

In [36]:
dataFrame.head(10)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
5,ServiceNow,Sr Staff Data Scientist - ATG,"Kirkland, Washington, United States",Full Time,Senior-level,184K+,"Computer Science,Deep Learning,Industrial,Mach...","401(k) matching,Career development,Competitive..."
6,Natixis in Portugal,Vendor Management and Data Quality Lead,"Porto, Portugal",Full Time,Entry-level,39K+ *,"Banking,Data quality,Excel,Security,,","Gear,,,,"
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,NaN,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
9,Palo Alto Networks,Principal Cloud Data Engineer (Prisma Access),"Santa Clara, CA, United States",Full Time,Senior-level,140K+,"Agile,APIs,AWS,Azure,Big Data,Computer Science","Career development,Medical leave,Salary bonus,..."

In [49]:
dataFrame.sample(20)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
1287,Tubi,Senior Data Scientist,"San Francisco, CA; Remote",Full Time,Senior-level,146K+,"A/B testing,Engineering,Python,R,Scala,SQL","Career development,Flex hours,Flex vacation,He..."
971,Visa,"Staff Data Engineer (Spark, Python, Hadoop)","Bengaluru, India",Full Time,Senior-level,115K+ *,"Agile,Architecture,Big Data,Clustering,Compute...","Career development,,,,"
1102,KPMG Australia,Director | Master Data Management Delivery Lea...,"Canberra, Australia",Full Time,Executive-level,65K+ *,"Architecture,Data governance,Data management,D...","Career development,Flex hours,Parental leave,,"
3100,Vattenfall,Data Manager Zakelijke Markt,"Amsterdam, Netherlands",Full Time,NaN,77K+ *,"CX,Data governance,Data management,,,",",,,,"
911,Plan-S Satellite and Space Technologies,Satellite Image Processing and AI Engineer,"Ankara, Ankara, Turkey",Full Time,Mid-level,45K+ *,"Computer Science,Deep Learning,Engineering,Lin...","Career development,Competitive pay,Team events,,"
2964,Definitive Logic,Senior Artificial Intelligence SME,"Arlington, VA",Full Time,Senior-level,69K+ *,"AI strategy,Architecture,Consulting,Consulting...","Career development,Competitive pay,Flex hours,..."
1933,Amazon.com,"Project Engineer, Data Center Construction","Stafford, Virginia, USA",Full Time,Senior-level,69K+ *,"AWS,Engineering,Excel,Security,Testing,Transfo...","Conferences,,,,"
2258,CleverConnect,Data Analyst - Stage de fin d'études - Paris 2e,"Paris, France",Full Time,Entry-level,48K+ *,"Agile,Architecture,AWS,BigQuery,Dataflow,Data ...","Career development,Yoga,,,"
2369,Precision for Medicine,Data Management Specialist,"Winston-Salem, North Carolina, United States",Full Time,Mid-level,56K+ *,"Data governance,Data management,KPIs,Privacy,,",",,,,"
43,Global Atlantic Financial Group,"VP, Actuarial Modeling and Data Management","Boston, Massachusetts, United States",Full Time,Senior-level,127K+,"Data management,Excel,Finance,Mathematics,ML m...","401(k) matching,Career development,Competitive..."
3090,DigitalOnUs,Data Engineer (Senior),"Monterrey, Nuevo Leon, Mexico",Full Time,Senior-level,115K+ *,"APIs,Azure,Big Data,Computer Science,Data anal...","Competitive pay,Salary bonus,,,"
2077,Dynatrace,Senior Data Analyst - Digital Marketing (m/f/x),"Linz, Vienna, Graz, Austria",Full Time,Senior-level,NaN,"Computer Science,Data Analytics,Data Studio,Da...","Career development,Equity,Home office stipend,..."
2323,PA Consulting,Full stack Data Scientist,"Oslo, Norway",Full Time,NaN,90K+ *,"Agile,AWS,Azure,Consulting,Engineering,Feature...","Career development,,,,"
586,PA Consulting,Data Analyst Consultant,"Manchester, United Kingdom",Full Time,Senior-level,92K+ *,"Big Data,Business Intelligence,Data analysis,E...",",,,,"
341,Clearcover,Senior Insurance Data Scientist,"Chicago, IL or Remote",Full Time,Senior-level,129K+ *,"Economics,Machine Learning,Predictive modeling...","401(k) matching,Career development,Flex hours,..."
1764,ASI,Azure Data Architect (F/H),"Nantes, France",Full Time,Senior-level,62K+ *,"Agile,Architecture,Azure,Big Data,Business Int...",",,,,"
1405,Plantix,Senior Geospatial Machine Learning Engineer (f...,Remote job,Full Time,Senior-level,131K+ *,"Computer Science,Data analysis,Machine Learnin...",",,,,"
1383,Block,"Senior Machine Learning Engineer, Financial Cr...","New York, CA, United States",Full Time,Senior-level,131K+ *,"Banking,Blockchain,Computer Science,Crypto,Eng...","Career development,Equity,Health care,Insuranc..."
806,Clear Street Markets,"Data Engineer, Clearing and Custody",New York,Full Time,Senior-level,150K+,"APIs,Docker,Engineering,Finance,JSON,Kafka","Competitive pay,Equity,Health care,Medical lea..."
2937,"Flagship Pioneering, Inc.",(Sr.) Machine Learning Scientist,"Cambridge, MA USA",Full Time,Senior-level,129K+ *,"Architecture,AWS,Bayesian,Computer Science,Dat...","Startup environment,,,,"

On essai de afficher les premier lignes de notre data set pour just savoir sa forme.

<ul>
<li>Les valeurs NAN </li>
<p> est ce que on peut remplaire ces valeur ? ou bien il faut les supprimer</p>
<li>list des <strong>facilities</strong></li>
<p>une list des que on peut la separer</p>
<li>forme de <strong>salary</strong> "48K+*" </li>
<p>des salaire avec des etoile ,cest quoi la senification de ces etoiles ?, on remarque que on a des salaire sans "*"</p>
</ul>

In [ ]:
dataFrame.Salary.str.contains("GBP")

In [51]:
dataFrame.Salary.sort_values(ascending=False)

1246    GBP 80K+
2536    GBP 65K+
1384    GBP 60K+
2492    GBP 55K+
2716     GBP 55K
          ...
3126         NaN
3134         NaN
3152         NaN
3159         NaN
3166         NaN
Name: Salary, Length: 3198, dtype: object

In [18]:
print("number of rows :",dataFrame.shape[0])

numberof rows : 3198

In [31]:
print("number of columns :",(dataFrame.shape[1])+" : "+ str(dataFrame.columns))

number of columns : 8 Index(['Company', 'Job Title', 'Location', 'Job Type', 'Experience level',
       'Salary', 'Requirment of the company ', 'Facilities'],
      dtype='object')

In [11]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     3197 non-null   object
 1   Job Title                   3197 non-null   object
 2   Location                    3197 non-null   object
 3   Job Type                    3197 non-null   object
 4   Experience level            2962 non-null   object
 5   Salary                      3009 non-null   object
 6   Requirment of the company   3198 non-null   object
 7   Facilities                  3198 non-null   object
dtypes: object(8)
memory usage: 200.0+ KB

In [20]:
dataFrame.describe()

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
count,3197,3197,3197,3197,2962,3009,3198,3198
unique,1106,2138,1117,3,4,218,2600,777
top,Publicis Groupe,Data Engineer,"Bengaluru, India",Full Time,Senior-level,115K+ *,"Big Data,Business Intelligence,Data analysis,E...",",,,,"
freq,126,105,90,3116,1876,253,12,542

In [30]:
print("list of unique Job types :",dataFrame["Job Type"].unique())
print("list of unique Job Title :",dataFrame["Job Title"].unique())
print("list of unique Company :",dataFrame["Company"].unique())
print("list of unique Experience level	 :",dataFrame["Experience level"].unique())

list of unique Job types : ['Full Time' 'Internship' 'Part Time' nan]
list of unique Job Title : ['Clinical Data Analyst' 'AML/CFT & Data Analyst'
 'Machine Learning Engineer' ...
 'Application Integration Engineer, Computer Vision Program'
 'Senior Software Engineer, Machine Learning - Ads Intelligence'
 'Data Scientist - New College Graduate']
list of unique Company : ['SGS' 'Ocorian' 'Cricut' ... 'DNSFilter' 'MUFG Investor Services'
 'Galileo Financial Technologies']
list of unique Experience level	 : ['Entry-level' nan 'Mid-level' 'Senior-level' 'Executive-level']