# Exploration des données

In [6]:
import pandas as pd
dataFrame=pd.read_csv("job-data.csv", encoding='latin-1')

In [36]:
dataFrame.head(10)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
5,ServiceNow,Sr Staff Data Scientist - ATG,"Kirkland, Washington, United States",Full Time,Senior-level,184K+,"Computer Science,Deep Learning,Industrial,Mach...","401(k) matching,Career development,Competitive..."
6,Natixis in Portugal,Vendor Management and Data Quality Lead,"Porto, Portugal",Full Time,Entry-level,39K+ *,"Banking,Data quality,Excel,Security,,","Gear,,,,"
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,NaN,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
9,Palo Alto Networks,Principal Cloud Data Engineer (Prisma Access),"Santa Clara, CA, United States",Full Time,Senior-level,140K+,"Agile,APIs,AWS,Azure,Big Data,Computer Science","Career development,Medical leave,Salary bonus,..."

In [71]:
dataFrame.sample(20)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
1673,BetterSleep,Data Science Intern/Stagiaire en données - Fal...,Montréal,Internship,Entry-level,NaN,"Agile,BigQuery,Data quality,Data visualization...","Career development,Fitness / gym,Team events,,"
93,Publicis Groupe,Data Engineer,"Chicago, IL, United States",Full Time,NaN,96K+ *,"APIs,Azure,Computer Science,Data pipelines,Eng...",",,,,"
125,Amazon.com,"Finance Business Intelligence , Operations Fin...","Sao Paulo, Sao Paulo, BRA",Full Time,NaN,50K+ *,"AWS,Big Data,Business Intelligence,Data Mining...",",,,,"
2855,Experian,Executive Data Manager (Vaga afirmativa para m...,"São Paulo, Brazil",Full Time,Executive-level,77K+ *,"Airflow,APIs,AWS,Python,Scala,Spark",",,,,"
1405,Plantix,Senior Geospatial Machine Learning Engineer (f...,Remote job,Full Time,Senior-level,131K+ *,"Computer Science,Data analysis,Machine Learnin...",",,,,"
2608,Sertis,Senior Data Analyst - Business Intelligence,Bangkok,Full Time,Senior-level,92K+ *,"Banking,Business Intelligence,Computer Vision,...","Career development,Flex hours,Startup environm..."
1280,Evolution,Software Developer in Data Science Team,"Riga, Latvia",Full Time,Senior-level,EUR 36K+,"Agile,AWS,Big Data,Classification,Clustering,C...","Career development,Competitive pay,Health care..."
2768,Lely,Stage Robotics: Integrating new sensors to imp...,"Maassluis, Netherlands",Full Time,Entry-level,NaN,"Engineering,Python,Robotics,SLAM,,",",,,,"
1828,Hitachi Solutions,Data Engineer - D&A (remote/Costa Rica-based),"San José, Costa Rica",Full Time,Senior-level,115K+ *,"Airflow,Architecture,AWS,Azure,Big Data,Databr...","Career development,,,,"
2709,Enpal GmbH,Business Intelligence Analyst (m/f/d),"Milan, Italy",Full Time,Entry-level,39K+ *,"Business Intelligence,Excel,,,,",",,,,"
2217,Publicis Groupe,"Vice President, Business Intelligence","New York City, United States",Full Time,Executive-level,130K+,"Business Intelligence,Market research,Power BI...","Competitive pay,Health care,Startup environment,,"
1192,Western Digital,"Senior Engineer, Data Management Engineering","Batu Kawan, Malaysia",Full Time,Senior-level,55K+ *,"Data analysis,Data Analytics,Data management,D...","Career development,,,,"
2242,Publicis Groupe,Open - Data Analyst (Digitas & Publicis Media),"Tokyo, Japan",Full Time,Senior-level,92K+ *,"A/B testing,Data analysis,Data Analytics,Excel...",",,,,"
274,Outrider,"Senior Manager, Perception Deep Learning",Remote,Full Time,Senior-level,NaN,"Deep Learning,Engineering,Machine Learning,Pyt...","Career development,Equity,Salary bonus,Startup..."
1544,Unit4,Senior Cloud Data Scientist (FinOps),"Kuala Lumpur, Malaysia",Full Time,Senior-level,129K+ *,"Agile,Azure,Consulting,Data analysis,DevOps,Excel","Career development,Startup environment,Unlimit..."
3181,C3.ai,Data Scientist / Senior Data Scientist (Federal),"Tysons, VA; Dayton, OH; Redwood City, CA",Full Time,Senior-level,123K+,"Architecture,Classification,Computer Science,C...","Career development,Competitive pay,Equity,,"
1221,Verisk,Data Analyst,"Mexico City, Mexico",Full Time,Senior-level,92K+ *,"Agile,APIs,AWS,Data quality,Excel,Power BI","Career development,,,,"
889,Magno IT Recruitment,4295 Senior Data Analyst,"Utrecht, Utrecht, Netherlands",Full Time,Senior-level,92K+ *,"Agile,Business Intelligence,Scrum,Spark,,","Career development,,,,"
1963,Excella,Data Scientist,"Arlington, Virginia, United States, Remote",Full Time,Senior-level,129K+ *,"Agile,AWS,Classification,Clustering,Computer S...","Career development,Conferences,Flex hours,Flex..."
3157,Precision for Medicine,Data Engineer,"Remote, United States",Full Time,NaN,70K+,"AWS,Biology,Data management,Git,Linux,MySQL","Health care,Insurance,Parental leave,Salary bo..."

On essai de afficher les premier lignes de notre data set pour just savoir sa forme.

<ul>
<li>Les valeurs NAN </li>
<p> est ce que on peut remplaire ces valeur ? ou bien il faut les supprimer</p>
<li>list des <strong>facilities</strong></li>
<p>une list des que on peut la separer</p>
<li>forme de <strong>salary</strong> "48K+*" </li>
<p>des salaire avec des etoile ,cest quoi la senification de ces etoiles ?, on remarque que on a des salaire sans "*"</p>
<p>On remarque que les salaire sont on deferente davise il faut les unifier.(eur,£,$)</p>

<li>les  <strong>job title</strong> on deferente language il faut les unifier on oenlais ou bien en français </li>

<li>les  <strong>location</strong> on va les deviser par city,state county</li>


</ul>

In [75]:
print("list of unique Salary :",dataFrame["Salary"].unique(),dataFrame["Salary"].unique())

list of unique Salary : [' 48K+ *' ' 90K+ *' ' 108K+' ' 184K+' ' 39K+ *' nan ' 140K+' ' 40K+ *'
 ' 80K+ *' ' 35K+ *' ' 62K+ *' ' 159K+' ' 97K+' ' 92K+ *' ' 129K+ *'
 ' 115K+ *' ' 44K+ *' ' 73K+ *' ' 59K+ *' ' 106K+' ' 105K+ *' ' 55K+ *'
 ' 110K+ *' ' 63K+ *' ' 49K+ *' ' 180K+' ' 127K+' ' 60K+' ' 45K+ *'
 ' 135K+' ' 69K+ *' ' 176K+' ' 65K+ *' ' 51K+ *' ' 67K+' ' 104K+' ' 105K+'
 ' 166K+' ' 131K+ *' ' 115K+' ' 43K+' ' 81K+ *' ' 96K+ *' ' 56K+ *'
 ' 130K+' ' 131K+' ' 50K+ *' ' 100K+' ' 60K+ *' ' 52K+' ' 135K+ *' ' 76K+'
 ' 172K+' ' 119K+' ' 125K+' ' 116K+' ' 77K+ *' ' 74K+ *' ' 70K+ *'
 ' 120K+' ' 189K+' ' 149K+' ' 110K+' ' 90K+' ' 30K+ *' ' 167K+' ' 236K+'
 ' 179K+' ' 80K+' ' 200K+' ' 139K+' ' 129K+' ' 113K+' ' 150K+' ' 158K+'
 ' 40K+' ' 184K+ *' ' 133K+' ' 78K+' ' 36K+ *' ' 122K+ *' ' 81K+' ' 59K+'
 'EUR 81K' ' 190K+' ' 72K+' ' 136K+' ' 102K+ *' ' 31K+ *' ' 89K+ *'
 ' 156K+' ' 107K+' ' 199K+' ' 224K+' ' 142K+' 'GBP 35K' ' 183K+' ' 164K+'
 'EUR 130K+' ' 174K+' ' 84K+' ' 79K+' ' 103K+ *' ' 143K+' ' 175K+'
 ' 170K+' ' 141K+ *' ' 283K+' ' 151K+' ' 111K+' ' 51K+' ' 96K+' ' 148K+'
 ' 204K+' ' 202K+' ' 295K+' ' 68K+' ' 195K+' ' 145K+' ' 50K+' ' 267K+'
 ' 200K+ *' ' 109K+ *' ' 310K+' ' 153K+' ' 154K+' ' 86K+' ' 70K+' ' 207K+'
 ' 85K+' ' 66K+' ' 315K+' ' 160K+' ' 66K+ *' ' 144K+' ' 245K+' ' 126K+'
 ' 63K+' ' 182K+' ' 157K+' ' 214K+' ' 173K+' 'EUR 80K+' ' 120K+ *'
 'EUR 36K+' 'EUR 60K+' 'GBP 42K+' ' 112K+' ' 124K+' ' 185K+' ' 147K+'
 ' 122K+' 'GBP 80K+' ' 144K+ *' ' 146K+' ' 165K+' ' 75K+' ' 163K+'
 ' 193K+' ' 109K+' 'GBP 60K+' ' 218K+' ' 230K+' ' 168K+' ' 134K+' ' 225K+'
 ' 253K+' ' 83K+' ' 235K+' ' 187K+' ' 227K+' ' 73K+' ' 61K+ *' ' 171K+'
 ' 234K+' 'GBP 45K+' ' 155K+' ' 71K+' ' 94K+' ' 57K+ *' ' 197K+' ' 102K+'
 ' 82K+' ' 177K+' 'GBP 50K+' ' 93K+' ' 55K+' ' 121K+' ' 42K+ *' ' 45K+'
 ' 75K+ *' ' 152K+' ' 161K+' ' 155K+ *' ' 132K+' 'GBP 55K+' ' 138K+'
 ' 196K+' ' 205K+' 'GBP 65K+' ' 178K+' ' 95K+' ' 33K+ *' ' 54K+ *' ' 98K+'
 ' 141K+' ' 95K+ *' ' 65K+' 'GBP 55K' ' 99K+' ' 220K+' ' 74K+' ' 103K+'
 ' 100K+ *' 'GBP 51K+' ' 128K+' 'GBP 54K+' ' 123K+' ' 117K+'] [' 48K+ *' ' 90K+ *' ' 108K+' ' 184K+' ' 39K+ *' nan ' 140K+' ' 40K+ *'
 ' 80K+ *' ' 35K+ *' ' 62K+ *' ' 159K+' ' 97K+' ' 92K+ *' ' 129K+ *'
 ' 115K+ *' ' 44K+ *' ' 73K+ *' ' 59K+ *' ' 106K+' ' 105K+ *' ' 55K+ *'
 ' 110K+ *' ' 63K+ *' ' 49K+ *' ' 180K+' ' 127K+' ' 60K+' ' 45K+ *'
 ' 135K+' ' 69K+ *' ' 176K+' ' 65K+ *' ' 51K+ *' ' 67K+' ' 104K+' ' 105K+'
 ' 166K+' ' 131K+ *' ' 115K+' ' 43K+' ' 81K+ *' ' 96K+ *' ' 56K+ *'
 ' 130K+' ' 131K+' ' 50K+ *' ' 100K+' ' 60K+ *' ' 52K+' ' 135K+ *' ' 76K+'
 ' 172K+' ' 119K+' ' 125K+' ' 116K+' ' 77K+ *' ' 74K+ *' ' 70K+ *'
 ' 120K+' ' 189K+' ' 149K+' ' 110K+' ' 90K+' ' 30K+ *' ' 167K+' ' 236K+'
 ' 179K+' ' 80K+' ' 200K+' ' 139K+' ' 129K+' ' 113K+' ' 150K+' ' 158K+'
 ' 40K+' ' 184K+ *' ' 133K+' ' 78K+' ' 36K+ *' ' 122K+ *' ' 81K+' ' 59K+'
 'EUR 81K' ' 190K+' ' 72K+' ' 136K+' ' 102K+ *' ' 31K+ *' ' 89K+ *'
 ' 156K+' ' 107K+' ' 199K+' ' 224K+' ' 142K+' 'GBP 35K' ' 183K+' ' 164K+'
 'EUR 130K+' ' 174K+' ' 84K+' ' 79K+' ' 103K+ *' ' 143K+' ' 175K+'
 ' 170K+' ' 141K+ *' ' 283K+' ' 151K+' ' 111K+' ' 51K+' ' 96K+' ' 148K+'
 ' 204K+' ' 202K+' ' 295K+' ' 68K+' ' 195K+' ' 145K+' ' 50K+' ' 267K+'
 ' 200K+ *' ' 109K+ *' ' 310K+' ' 153K+' ' 154K+' ' 86K+' ' 70K+' ' 207K+'
 ' 85K+' ' 66K+' ' 315K+' ' 160K+' ' 66K+ *' ' 144K+' ' 245K+' ' 126K+'
 ' 63K+' ' 182K+' ' 157K+' ' 214K+' ' 173K+' 'EUR 80K+' ' 120K+ *'
 'EUR 36K+' 'EUR 60K+' 'GBP 42K+' ' 112K+' ' 124K+' ' 185K+' ' 147K+'
 ' 122K+' 'GBP 80K+' ' 144K+ *' ' 146K+' ' 165K+' ' 75K+' ' 163K+'
 ' 193K+' ' 109K+' 'GBP 60K+' ' 218K+' ' 230K+' ' 168K+' ' 134K+' ' 225K+'
 ' 253K+' ' 83K+' ' 235K+' ' 187K+' ' 227K+' ' 73K+' ' 61K+ *' ' 171K+'
 ' 234K+' 'GBP 45K+' ' 155K+' ' 71K+' ' 94K+' ' 57K+ *' ' 197K+' ' 102K+'
 ' 82K+' ' 177K+' 'GBP 50K+' ' 93K+' ' 55K+' ' 121K+' ' 42K+ *' ' 45K+'
 ' 75K+ *' ' 152K+' ' 161K+' ' 155K+ *' ' 132K+' 'GBP 55K+' ' 138K+'
 ' 196K+' ' 205K+' 'GBP 65K+' ' 178K+' ' 95K+' ' 33K+ *' ' 54K+ *' ' 98K+'
 ' 141K+' ' 95K+ *' ' 65K+' 'GBP 55K' ' 99K+' ' 220K+' ' 74K+' ' 103K+'
 ' 100K+ *' 'GBP 51K+' ' 128K+' 'GBP 54K+' ' 123K+' ' 117K+']

In [51]:
dataFrame.Salary.sort_values(ascending=False)

1246    GBP 80K+
2536    GBP 65K+
1384    GBP 60K+
2492    GBP 55K+
2716     GBP 55K
          ...
3126         NaN
3134         NaN
3152         NaN
3159         NaN
3166         NaN
Name: Salary, Length: 3198, dtype: object

In [18]:
print("number of rows :",dataFrame.shape[0])

numberof rows : 3198

In [31]:
print("number of columns :",(dataFrame.shape[1])+" : "+ str(dataFrame.columns))

number of columns : 8 Index(['Company', 'Job Title', 'Location', 'Job Type', 'Experience level',
       'Salary', 'Requirment of the company ', 'Facilities'],
      dtype='object')

In [11]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     3197 non-null   object
 1   Job Title                   3197 non-null   object
 2   Location                    3197 non-null   object
 3   Job Type                    3197 non-null   object
 4   Experience level            2962 non-null   object
 5   Salary                      3009 non-null   object
 6   Requirment of the company   3198 non-null   object
 7   Facilities                  3198 non-null   object
dtypes: object(8)
memory usage: 200.0+ KB

In [20]:
dataFrame.describe()

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
count,3197,3197,3197,3197,2962,3009,3198,3198
unique,1106,2138,1117,3,4,218,2600,777
top,Publicis Groupe,Data Engineer,"Bengaluru, India",Full Time,Senior-level,115K+ *,"Big Data,Business Intelligence,Data analysis,E...",",,,,"
freq,126,105,90,3116,1876,253,12,542

In [85]:
print("list of unique Job types :",dataFrame["Job Type"].unique())

list of unique Job types : ['Full Time' 'Internship' 'Part Time' nan]

In [87]:
print("list of unique Job Title :",dataFrame["Job Title"].unique())

list of unique Job Title : ['Clinical Data Analyst' 'AML/CFT & Data Analyst'
 'Machine Learning Engineer' ...
 'Application Integration Engineer, Computer Vision Program'
 'Senior Software Engineer, Machine Learning - Ads Intelligence'
 'Data Scientist - New College Graduate']

In [79]:
print("list of unique Experience level	 :",dataFrame["Experience level"].unique())

list of unique Experience level	 : ['Entry-level' nan 'Mid-level' 'Senior-level' 'Executive-level']

#### Duplicates

In [82]:
dataFrame.duplicated().sum()

202

In [83]:
dataFrame.drop_duplicates(inplace=True)

In [92]:
dataFrame.isna().sum()

Company                         1
Job Title                       1
Location                        1
Job Type                        1
Experience level              228
Salary                        172
Requirment of the company       0
Facilities                      0
dtype: int64