# Exploration des données

In [1]:
import pandas as pd
dataFrame=pd.read_csv("job-data.csv", encoding='latin-1')

In [2]:
dataFrame.head(10)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
5,ServiceNow,Sr Staff Data Scientist - ATG,"Kirkland, Washington, United States",Full Time,Senior-level,184K+,"Computer Science,Deep Learning,Industrial,Mach...","401(k) matching,Career development,Competitive..."
6,Natixis in Portugal,Vendor Management and Data Quality Lead,"Porto, Portugal",Full Time,Entry-level,39K+ *,"Banking,Data quality,Excel,Security,,","Gear,,,,"
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,NaN,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
9,Palo Alto Networks,Principal Cloud Data Engineer (Prisma Access),"Santa Clara, CA, United States",Full Time,Senior-level,140K+,"Agile,APIs,AWS,Azure,Big Data,Computer Science","Career development,Medical leave,Salary bonus,..."

In [3]:
dataFrame.sample(10)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
1419,CapTech Consulting,"Data Architect Consultant (AWS, Azure, GCP)","Charlotte, NC, United States",Full Time,Senior-level,135K+ *,"Airflow,Architecture,AWS,Azure,Consulting,Data...","401(k) matching,Career development,Fertility b..."
98,Curated,Machine Learning Engineer,"San Francisco, California, United States",Full Time,Senior-level,131K+ *,"AWS,Azure,BERT,Chatbots,Classification,Deep Le...",",,,,"
2244,Riverside Research,Senior Data Architect (TS/SCI clearance),"Langley AFB, Virginia",Full Time,Senior-level,135K+ *,"Agile,Architecture,Business Intelligence,Compu...","Career development,,,,"
1499,Databricks,Staff Data Scientist,"Bengaluru, India",Full Time,Senior-level,55K+ *,"CX,Databricks,Engineering,Excel,Industrial,Mac...","Career development,Conferences,Insurance,Paren..."
1079,Bosch Group,PreMaster Programm - Big Data (Analytics),"Waiblingen, Germany",Full Time,Entry-level,39K+ *,"Big Data,Industrial,Machine Learning,R&D,Resea...",",,,,"
1944,insightsoftware,User Enablement Learning Technology and Data M...,"Hyderabad, India",Full Time,Senior-level,77K+ *,"Agile,APIs,Architecture,Azure,DevOps,Excel","Career development,Startup environment,,,"
1685,EcoVadis,MLOps Engineering Intern,"Barcelona, Spain",Full Time,Entry-level,NaN,"Azure,Computer Science,Databricks,Engineering,...","Career development,Competitive pay,Equity,Flex..."
2416,modl.ai,Member of Technical Staff - Research (Deep Lea...,"Copenhagen, DK",Full Time,Senior-level,62K+ *,"Airflow,Architecture,Deep Learning,Docker,Git,...","Career development,Competitive pay,Conferences..."
2944,Bosch Group,Process and Data Analyst,"Bengaluru, India",Full Time,Senior-level,92K+ *,"Big Data,Chatbots,Data Analytics,Data manageme...","Career development,,,,"
1598,Poshmark,Sr. Human Resource Business Partner (Technolog...,"Redwood City, CA",Full Time,Senior-level,129K+,"Architecture,Consulting,E-commerce,Engineering...","Career development,Flex hours,Team events,,"

On essai de afficher les premier lignes de notre data set pour just savoir sa forme.

<ul>
<li>Les valeurs NAN </li>
<p> est ce que on peut remplire ces valeur ? ou bien il faut les supprimer</p>
<li>list des <strong>facilities</strong></li>
<p>une list des que on peut la separer</p>
<li>forme de <strong>salary</strong> "48K+*" </li>
<p>des salaire avec des etoile ,cest quoi la senification de ces etoiles ?, on remarque que on a des salaire sans "*"</p>
<p>On remarque que les salaire sont on deferente davise il faut les unifier.(eur,£,$)</p>

<li>les  <strong>job title</strong> on deferente language il faut les unifier on oenlais ou bien en français </li>

<li>les  <strong>location</strong> on va les deviser par city,state county</li>


</ul>

In [4]:
print("list of unique Salary :",dataFrame["Salary"].sort_values(ascending=False).unique().tolist())

list of unique Salary : ['GBP 80K+', 'GBP 65K+', 'GBP 60K+', 'GBP 55K+', 'GBP 55K', 'GBP 54K+', 'GBP 51K+', 'GBP 50K+', 'GBP 45K+', 'GBP 42K+', 'GBP 35K', 'EUR 81K', 'EUR 80K+', 'EUR 60K+', 'EUR 36K+', 'EUR 130K+', ' 99K+', ' 98K+', ' 97K+', ' 96K+ *', ' 96K+', ' 95K+ *', ' 95K+', ' 94K+', ' 93K+', ' 92K+ *', ' 90K+ *', ' 90K+', ' 89K+ *', ' 86K+', ' 85K+', ' 84K+', ' 83K+', ' 82K+', ' 81K+ *', ' 81K+', ' 80K+ *', ' 80K+', ' 79K+', ' 78K+', ' 77K+ *', ' 76K+', ' 75K+ *', ' 75K+', ' 74K+ *', ' 74K+', ' 73K+ *', ' 73K+', ' 72K+', ' 71K+', ' 70K+ *', ' 70K+', ' 69K+ *', ' 68K+', ' 67K+', ' 66K+ *', ' 66K+', ' 65K+ *', ' 65K+', ' 63K+ *', ' 63K+', ' 62K+ *', ' 61K+ *', ' 60K+ *', ' 60K+', ' 59K+ *', ' 59K+', ' 57K+ *', ' 56K+ *', ' 55K+ *', ' 55K+', ' 54K+ *', ' 52K+', ' 51K+ *', ' 51K+', ' 50K+ *', ' 50K+', ' 49K+ *', ' 48K+ *', ' 45K+ *', ' 45K+', ' 44K+ *', ' 43K+', ' 42K+ *', ' 40K+ *', ' 40K+', ' 39K+ *', ' 36K+ *', ' 35K+ *', ' 33K+ *', ' 31K+ *', ' 315K+', ' 310K+', ' 30K+ *', ' 295K+', ' 283K+', ' 267K+', ' 253K+', ' 245K+', ' 236K+', ' 235K+', ' 234K+', ' 230K+', ' 227K+', ' 225K+', ' 224K+', ' 220K+', ' 218K+', ' 214K+', ' 207K+', ' 205K+', ' 204K+', ' 202K+', ' 200K+ *', ' 200K+', ' 199K+', ' 197K+', ' 196K+', ' 195K+', ' 193K+', ' 190K+', ' 189K+', ' 187K+', ' 185K+', ' 184K+ *', ' 184K+', ' 183K+', ' 182K+', ' 180K+', ' 179K+', ' 178K+', ' 177K+', ' 176K+', ' 175K+', ' 174K+', ' 173K+', ' 172K+', ' 171K+', ' 170K+', ' 168K+', ' 167K+', ' 166K+', ' 165K+', ' 164K+', ' 163K+', ' 161K+', ' 160K+', ' 159K+', ' 158K+', ' 157K+', ' 156K+', ' 155K+ *', ' 155K+', ' 154K+', ' 153K+', ' 152K+', ' 151K+', ' 150K+', ' 149K+', ' 148K+', ' 147K+', ' 146K+', ' 145K+', ' 144K+ *', ' 144K+', ' 143K+', ' 142K+', ' 141K+ *', ' 141K+', ' 140K+', ' 139K+', ' 138K+', ' 136K+', ' 135K+ *', ' 135K+', ' 134K+', ' 133K+', ' 132K+', ' 131K+ *', ' 131K+', ' 130K+', ' 129K+ *', ' 129K+', ' 128K+', ' 127K+', ' 126K+', ' 125K+', ' 124K+', ' 123K+', ' 122K+ *', ' 122K+', ' 121K+', ' 120K+ *', ' 120K+', ' 119K+', ' 117K+', ' 116K+', ' 115K+ *', ' 115K+', ' 113K+', ' 112K+', ' 111K+', ' 110K+ *', ' 110K+', ' 109K+ *', ' 109K+', ' 108K+', ' 107K+', ' 106K+', ' 105K+ *', ' 105K+', ' 104K+', ' 103K+ *', ' 103K+', ' 102K+ *', ' 102K+', ' 100K+ *', ' 100K+', nan]

In [5]:
dataFrame.Salary.sort_values(ascending=False)

1246    GBP 80K+
2536    GBP 65K+
1384    GBP 60K+
2492    GBP 55K+
2716     GBP 55K
          ...
3126         NaN
3134         NaN
3152         NaN
3159         NaN
3166         NaN
Name: Salary, Length: 3198, dtype: object

In [6]:
print("number of rows :",dataFrame.shape[0])

number of rows : 3198

In [7]:
print("number of columns :",str(dataFrame.shape[1])+" : "+ str(dataFrame.columns))

number of columns : 8 : Index(['Company', 'Job Title', 'Location', 'Job Type', 'Experience level',
       'Salary', 'Requirment of the company ', 'Facilities'],
      dtype='object')

In [8]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     3197 non-null   object
 1   Job Title                   3197 non-null   object
 2   Location                    3197 non-null   object
 3   Job Type                    3197 non-null   object
 4   Experience level            2962 non-null   object
 5   Salary                      3009 non-null   object
 6   Requirment of the company   3198 non-null   object
 7   Facilities                  3198 non-null   object
dtypes: object(8)
memory usage: 200.0+ KB

In [9]:
dataFrame.describe()

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
count,3197,3197,3197,3197,2962,3009,3198,3198
unique,1106,2138,1117,3,4,218,2600,777
top,Publicis Groupe,Data Engineer,"Bengaluru, India",Full Time,Senior-level,115K+ *,"Big Data,Business Intelligence,Data analysis,E...",",,,,"
freq,126,105,90,3116,1876,253,12,542

In [10]:
print("list of unique Job types :",dataFrame["Job Type"].unique())

list of unique Job types : ['Full Time' 'Internship' 'Part Time' nan]

In [11]:
print("list of unique Job Title :",dataFrame["Job Title"].unique())

list of unique Job Title : ['Clinical Data Analyst' 'AML/CFT & Data Analyst'
 'Machine Learning Engineer' ...
 'Application Integration Engineer, Computer Vision Program'
 'Senior Software Engineer, Machine Learning - Ads Intelligence'
 'Data Scientist - New College Graduate']

In [12]:
print("list of unique Experience level	 :",dataFrame["Experience level"].unique())

list of unique Experience level	 : ['Entry-level' nan 'Mid-level' 'Senior-level' 'Executive-level']

#### Duplicates

In [13]:
dataFrame.duplicated().sum()

202

In [14]:
dataFrame.drop_duplicates(inplace=True)

In [15]:
dataFrame.isna().sum()

Company                         1
Job Title                       1
Location                        1
Job Type                        1
Experience level              228
Salary                        172
Requirment of the company       0
Facilities                      0
dtype: int64

# Data Cleaning

#### Salary column

In [16]:
dataFrame["Salary"].isna().sum()

172

In [17]:
dataFrame["Salary"].str.strip()

0       48K+ *
1       48K+ *
2       90K+ *
3       48K+ *
4        108K+
         ...
3190     113K+
3191     106K+
3192     176K+
3193    39K+ *
3196    39K+ *
Name: Salary, Length: 2996, dtype: object

In [18]:
dataFrame[dataFrame["Salary"].isna()].sort_values('Location')

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
669,bunq,Data Science Intern - Large Language Models,"Amsterdam, Noord-Holland, Netherlands",Internship,Entry-level,NaN,"Engineering,FinTech,LLMs,NLP,,","Career development,,,,"
973,bunq,Data Science Intern - Large Language Model,"Amsterdam, Noord-Holland, Netherlands",Internship,Entry-level,NaN,"Engineering,FinTech,LLMs,NLP,,","Career development,,,,"
3073,Definitive Logic,Data Science Intern,"Arlington, VA",Internship,Entry-level,NaN,"Big Data,Consulting,Consulting firm,Data analy...","Career development,Competitive pay,Flex hours,..."
1525,Cube RM,Business Data Analyst Intern,"Athens, Attica, Greece",Internship,Entry-level,NaN,"Agile,Azure,Computer Science,Data analysis,Exc...","Career development,Flex hours,Flex vacation,Ge..."
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
...,...,...,...,...,...,...,...,...
1669,Dentons,Marketing Data Analyst Intern,"Warsaw, Masovian Voivodeship, Poland",Internship,Entry-level,NaN,"Data analysis,Excel,,,,",",,,,"
3166,DNSFilter,Senior Data Scientist,"Washington, District of Columbia, United State...",Full Time,Mid-level,NaN,"AWS,Computer Science,Data analysis,Data visual...","Career development,Flex hours,Flex vacation,He..."
44,REWE International Dienstleistungsgesellschaft...,Junior Data Science Engineer (m/w/x),"Wien, Austria",Full Time,Entry-level,NaN,"CI/CD,Computer Science,Data pipelines,Deep Lea...",",,,,"
1954,Opera,Data Scientist Summer Intern,"Wroclaw, PL",Part Time,Entry-level,NaN,"Computer Science,Data analysis,Data visualizat...","Startup environment,,,,"
797,NaN,NaN,NaN,NaN,NaN,NaN,",,,,,",",,,,"

In [19]:
dataFrame.dropna(thresh=3,inplace=True)

In [20]:
dataFrame[dataFrame["Salary"].isna()]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,NaN,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
39,Angi,Senior Data Scientist,"Indianapolis, IN - Hybrid",Full Time,Senior-level,NaN,"Big Data,Data Mining,Machine Learning,Mathemat...","401(k) matching,Career development,Competitive..."
44,REWE International Dienstleistungsgesellschaft...,Junior Data Science Engineer (m/w/x),"Wien, Austria",Full Time,Entry-level,NaN,"CI/CD,Computer Science,Data pipelines,Deep Lea...",",,,,"
75,Metiora,Data Analyst Intern,"Madrid, Spain",Full Time,Entry-level,NaN,"Matplotlib,MongoDB,NumPy,Pandas,Power BI,Python",",,,,"
...,...,...,...,...,...,...,...,...
3109,METRO/MAKRO,STAGE 6 mois - Data Scientist Junior H/F,"Nanterre, France",Full Time,Entry-level,NaN,"Big Data,Power BI,Python,R,SQL,",",,,,"
3134,Junglee Games,ETL and Data Warehouse Testing Intern,"Bengaluru, Karnataka, India",Internship,Entry-level,NaN,"Computer Science,Data quality,Data warehouse,E...",",,,,"
3152,Lely,"Stage: Computer Science, Robotics, Computer Vi...","Maassluis, Netherlands",Full Time,Entry-level,NaN,"Computer Science,Computer Vision,Engineering,O...",",,,,"
3159,Deezer,Data Analyst Intern m/f/d - Business,"Paris, France",Internship,Entry-level,NaN,"Data analysis,Data pipelines,Data visualizatio...","Career development,Health care,Insurance,Start..."
3166,DNSFilter,Senior Data Scientist,"Washington, District of Columbia, United State...",Full Time,Mid-level,NaN,"AWS,Computer Science,Data analysis,Data visual...","Career development,Flex hours,Flex vacation,He..."

In [21]:
dataFrame["Salary"].fillna('negociable',inplace=True)

In [22]:
dataFrame[dataFrame["Experience level"]=="Entry-level"]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
6,Natixis in Portugal,Vendor Management and Data Quality Lead,"Porto, Portugal",Full Time,Entry-level,39K+ *,"Banking,Data quality,Excel,Security,,","Gear,,,,"
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,negociable,"Business Intelligence,Excel,Genetics,,,",",,,,"
...,...,...,...,...,...,...,...,...
3164,Rackspace,Trainee Data Engineer - R-16792,India - Remote,Full Time,Entry-level,59K+ *,"Architecture,Azure,Big Data,Computer Science,D...","Team events,,,,"
3170,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120K+ *,"Airflow,APIs,Data Analytics,Data pipelines,Dat...",",,,,"
3176,iTech Media,Data Analytics Engineer,Warsaw Remote,Full Time,Entry-level,30K+ *,"Airflow,Data Analytics,Engineering,Finance,Kaf...","Career development,Flex hours,Flex vacation,He..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [23]:
# pour les valeurs nan on salaire on va les remplacer par "negociable" pour le moment 
#return
# dataFrame["Salary"].replace(['negociable'],'',inplace=True)

Ajout  autre colonne de bonuses (primes).

In [24]:
dataFrame[['Salary', 'Plus']] = dataFrame["Salary"].apply(lambda x: pd.Series(str(x).split("+")))

In [25]:
dataFrame["Plus"].fillna('no bonuses',inplace=True)

Bonuses est une colonnes qui sinifier les primes (*).

In [26]:
dataFrame[dataFrame["Salary"].isna()]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Requirment of the company , Facilities, Plus]
Index: []

Ajout  autre colonne des devises.

In [27]:
dataFrame[['Currency','Salary']] = dataFrame["Salary"][dataFrame["Salary"]!="negociable"].apply(lambda x: pd.Series(str(x).split(" ")))

In [28]:
# les salaire avec des valeurs vides sont on dollar:
# dataFrame['Currency']=dataFrame['Currency'][dataFrame['Salary']=='negociable'].replace('negociable','USD',inplace=True)

In [29]:
# pour les valeurs nan on salaire on va les remplacer par "negociable" pour le moment 
dataFrame[dataFrame["Currency"]== "EUR"]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
324,Bosch Group,Master Data Management Plants (f/m/div.) (sala...,"Karlsruhe, Germany",Full Time,Entry-level,81K,"Agile,Computer Science,Data analysis,Data mana...","Career development,Competitive pay,Salary bonus,,",no bonuses,EUR
456,Mozilla,Sr. Staff Machine Learning Engineer,Remote Germany,Full Time,Senior-level,130K,"Architecture,AWS,Azure,Big Data,Computer Scien...","Career development,Flex vacation,Health care,H...",,EUR
1057,Mozilla,"Staff Product Manager, Machine Learning and Re...",Remote Germany,Full Time,Senior-level,80K,"Agile,Computer Science,Data management,Enginee...","Career development,Flex vacation,Health care,H...",,EUR
1100,Metiora,Data Scientist Senior,"Madrid, Spain",Full Time,Senior-level,36K,"Deep Learning,Machine Learning,Matplotlib,Mong...",",,,,",,EUR
1117,CybelAngel,Senior Data Engineer,"Paris, Île-de-France, France - Remote",Full Time,Mid-level,60K,"Airflow,BigQuery,Bigtable,Data analysis,Data g...","Career development,Equity,Salary bonus,,",,EUR
1280,Evolution,Software Developer in Data Science Team,"Riga, Latvia",Full Time,Senior-level,36K,"Agile,AWS,Big Data,Classification,Clustering,C...","Career development,Competitive pay,Health care...",,EUR
1467,CITECH,Ingénieur Data / Power BI (H/F),"Dijon, France",Full Time,Senior-level,60K,"Azure,Data Analytics,KPIs,PostgreSQL,Power BI,...",",,,,",,EUR

In [30]:
dataFrame['Currency'].replace('','USD',inplace=True)

In [31]:
dataFrame['Currency'][dataFrame['Salary'].isna()]=dataFrame['Currency'].str.replace('nan','--')

In [32]:
dataFrame['Plus'].replace('','no bonuses',inplace=True)

In [33]:
dataFrame['Plus'].replace(' *','bonuses',inplace=True)

In [34]:
dataFrame['Plus'] = dataFrame['Plus'].map({'bonuses': True, 'no bonuses': False})      # Replace string by boolean

In [35]:
print("list of unique Currency :",dataFrame["Currency"].unique().tolist())

list of unique Currency : ['USD', nan, 'EUR', 'GBP']

In [36]:
dataFrame['Currency'].replace('nan','USD',inplace=True)

In [37]:
dataFrame['Salary'] = dataFrame['Salary'].str.replace('K', '')

In [38]:
# change tonumerique
dataFrame["Salary"]=pd.to_numeric(dataFrame['Salary'], errors='coerce')*1000

In [39]:
dataFrame["Salary"].fillna(0,inplace=True)

In [40]:
dataFrame[dataFrame["Salary"]==0]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,0.0,"Business Intelligence,Excel,Genetics,,,",",,,,",False,NaN
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,0.0,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex...",False,NaN
39,Angi,Senior Data Scientist,"Indianapolis, IN - Hybrid",Full Time,Senior-level,0.0,"Big Data,Data Mining,Machine Learning,Mathemat...","401(k) matching,Career development,Competitive...",False,NaN
44,REWE International Dienstleistungsgesellschaft...,Junior Data Science Engineer (m/w/x),"Wien, Austria",Full Time,Entry-level,0.0,"CI/CD,Computer Science,Data pipelines,Deep Lea...",",,,,",False,NaN
75,Metiora,Data Analyst Intern,"Madrid, Spain",Full Time,Entry-level,0.0,"Matplotlib,MongoDB,NumPy,Pandas,Power BI,Python",",,,,",False,NaN
...,...,...,...,...,...,...,...,...,...,...
3109,METRO/MAKRO,STAGE 6 mois - Data Scientist Junior H/F,"Nanterre, France",Full Time,Entry-level,0.0,"Big Data,Power BI,Python,R,SQL,",",,,,",False,NaN
3134,Junglee Games,ETL and Data Warehouse Testing Intern,"Bengaluru, Karnataka, India",Internship,Entry-level,0.0,"Computer Science,Data quality,Data warehouse,E...",",,,,",False,NaN
3152,Lely,"Stage: Computer Science, Robotics, Computer Vi...","Maassluis, Netherlands",Full Time,Entry-level,0.0,"Computer Science,Computer Vision,Engineering,O...",",,,,",False,NaN
3159,Deezer,Data Analyst Intern m/f/d - Business,"Paris, France",Internship,Entry-level,0.0,"Data analysis,Data pipelines,Data visualizatio...","Career development,Health care,Insurance,Start...",False,NaN
3166,DNSFilter,Senior Data Scientist,"Washington, District of Columbia, United State...",Full Time,Mid-level,0.0,"AWS,Computer Science,Data analysis,Data visual...","Career development,Flex hours,Flex vacation,He...",False,NaN

In [41]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2995 entries, 0 to 3196
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     2995 non-null   object
 1   Job Title                   2995 non-null   object
 2   Location                    2995 non-null   object
 3   Job Type                    2995 non-null   object
 4   Experience level            2768 non-null   object
 5   Salary                      2995 non-null   float64
 6   Requirment of the company   2995 non-null   object
 7   Facilities                  2995 non-null   object
 8   Plus                        2995 non-null   bool
 9   Currency                    2824 non-null   object
dtypes: bool(1), float64(1), object(8)
memory usage: 236.9+ KB

##### Experience level

In [42]:
print("list of unique Experience level :",dataFrame["Experience level"].unique().tolist())

list of unique Experience level : ['Entry-level', nan, 'Mid-level', 'Senior-level', 'Executive-level']

In [43]:
dataFrame['Facilities'] = dataFrame['Facilities'].str.replace(',,,,', '')

In [44]:
dataFrame["Experience level"].fillna('not-specified',inplace=True)

In [45]:
dataFrame["Experience level"]=dataFrame["Experience level"].str.replace('not-required','not-specified')

In [46]:
#Categorier les "Experience level" colonnes
data = pd.get_dummies(dataFrame, columns=['Experience level'])

In [47]:
data

,Company,Job Title,Location,Job Type,Salary,Requirment of the company,Facilities,Plus,Currency,Experience level_Entry-level,Experience level_Executive-level,Experience level_Mid-level,Experience level_Senior-level,Experience level_not-specified
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,48000.0,"Computer Science,Data quality,Genetics,Mathema...",,True,USD,1,0,0,0,0
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,48000.0,"Agile,Data management,Finance,Security,,",,True,USD,1,0,0,0,0
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,90000.0,"Agile,Architecture,AWS,Computer Science,Comput...",Career development,True,USD,0,0,0,0,1
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,48000.0,"Engineering,Industrial,Oracle,Power BI,R,R&D",,True,USD,1,0,0,0,0
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,108000.0,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi...",False,USD,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,113000.0,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,...",False,USD,0,0,1,0,0
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,106000.0,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,",False,USD,0,0,1,0,0
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,176000.0,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu...",False,USD,0,0,0,1,0
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,39000.0,"APIs,Clustering,Computer Science,Data visualiz...",Career development,True,USD,1,0,0,0,0
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,39000.0,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,",True,USD,1,0,0,0,0

#### Requirment of the company et Facilities

In [48]:
dataFrame[dataFrame["Company"]=='ATB Financial']

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
1585,ATB Financial,Data Analyst,"Edmonton, Alberta, Canada",Full Time,Mid-level,65000.0,"Agile,Banking,Business Analytics,Computer Scie...","Flex hours,Flex vacation,Health care,Startup e...",True,USD
2717,ATB Financial,"Data Developer, Client Experience Metrics","Alberta, Canada - Remote",Full Time,not-specified,56000.0,"Architecture,Banking,Computer Science,CX,Distr...","Career development,Flex vacation,Startup envir...",True,USD
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,",True,USD

In [49]:
def split_comma_column_values (colum_name_comma_value,dataFrame) :
    dataFrame[colum_name_comma_value] = dataFrame[colum_name_comma_value].str.split(',')
    new_df = dataFrame.explode(colum_name_comma_value)
    new_df = new_df.reset_index(drop=True)
    new_df[colum_name_comma_value].str.strip()
    new_df.drop_duplicates(inplace=True)
    return new_df

In [50]:
dataFrame=split_comma_column_values ('Facilities',dataFrame)

In [51]:
dataFrame.sample(10)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
9580,Block,"Senior Data Analyst, Credit Policy","San Francisco, CA, United States",Full Time,Senior-level,110000.0,"Banking,Blockchain,Credit risk,Crypto,CX,Data ...",Health care,False,USD
4025,Block,"Senior Software Engineer, Data Safety","Los Angeles, CA, United States",Full Time,Senior-level,156000.0,"APIs,AWS,Banking,Big Data,Blockchain,Crypto",Insurance,False,USD
3296,"Fastly, Inc.",Senior People Data Analyst - Workday,"New York City, NY",Full Time,Senior-level,113000.0,"Agile,APIs,Business Analytics,Business Intelli...",Health care,False,USD
3261,GOURMEY,Data Science Intern,"Paris, Île-de-France, France",Internship,Entry-level,0.0,"Agile,Data Analytics,Data management,Engineeri...",Health care,False,NaN
8422,Deezer,Data Engineer Intern m/f/d - Industry Team,"Paris, France",Internship,Entry-level,0.0,"APIs,Big Data,BigQuery,Data pipelines,Engineer...",,False,NaN
3321,Jellyfish,Senior data analyst,"Paris, France",Full Time,Senior-level,92000.0,"Agile,AWS,Azure,Data analysis,Data Analytics,D...",Salary bonus,True,USD
9647,Sertis,Data Analyst - Business Insights,Bangkok,Full Time,Senior-level,92000.0,"Banking,Computer Vision,Consulting,Excel,Marke...",,True,USD
9338,Beyond Finance,Senior Data Engineer,"Chicago, IL",Full Time,Senior-level,141000.0,"Airflow,Ansible,Architecture,AWS,BigQuery,Comp...",Health care,False,USD
6321,Snyk,"Director, Engineering - ML / AI",London,Full Time,Executive-level,73000.0,"Engineering,Machine Learning,R,R&D,Research,Se...",Flex hours,True,USD
10264,Nextdoor,Senior/Staff Machine Learning Engineer - Ads,US Remote,Full Time,Senior-level,180000.0,"Biology,Computer Science,Engineering,Machine L...",Equity,False,USD

In [52]:
print("list of unique Facilities :",dataFrame["Facilities"].unique().tolist()),"Length :"+str(len(dataFrame["Facilities"].unique().tolist()))

list of unique Facilities : ['', 'Career development', 'Flex hours', 'Flex vacation', 'Parental leave', 'Unlimited paid time off', '401(k) matching', 'Competitive pay', 'Equity', 'Gear', 'Health care', 'Medical leave', 'Salary bonus', 'Startup environment', 'Team events', 'Home office stipend', 'Insurance', 'Fitness / gym', 'Relocation support', 'Fertility benefits', 'Conferences', 'Cell phone stipend', 'Wellness', 'Transparency', 'Lunch / meals', 'Yoga', 'Flexible spending account', 'Travel', 'Snacks / Drinks', 'Paid sabbatical', 'Pet friendly', 'Flat hierarchy', 'Signing bonus', 'Contract', 'Freelance']

(None, 'Length :35')

In [53]:
dataFrame['Facilities'][dataFrame['Facilities'].str.fullmatch('')]=dataFrame['Facilities'][dataFrame['Facilities'].str.fullmatch('')].str.replace('', 'no-Facilities')

C:\Users\Youcode\AppData\Local\Temp\ipykernel_90516\2557170505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame['Facilities'][dataFrame['Facilities'].str.fullmatch('')]=dataFrame['Facilities'][dataFrame['Facilities'].str.fullmatch('')].str.replace('', 'no-Facilities')

In [54]:
dataFrame[dataFrame['Facilities']=='no-Facilities']

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,"Computer Science,Data quality,Genetics,Mathema...",no-Facilities,True,USD
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48000.0,"Agile,Data management,Finance,Security,,",no-Facilities,True,USD
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48000.0,"Engineering,Industrial,Oracle,Power BI,R,R&D",no-Facilities,True,USD
8,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108000.0,"AWS,Azure,Computer Science,Consulting,Dataflow...",no-Facilities,False,USD
15,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,0.0,"Business Intelligence,Excel,Genetics,,,",no-Facilities,False,NaN
...,...,...,...,...,...,...,...,...,...,...
11117,C3.ai,Lead Data Scientist - Healthcare,"London, UK",Full Time,Senior-level,129000.0,"Architecture,Classification,Computer Science,D...",no-Facilities,True,USD
11123,C3.ai,Data Scientist / Senior Data Scientist (Federal),"Tysons, VA; Dayton, OH; Redwood City, CA",Full Time,Senior-level,123000.0,"Architecture,Classification,Computer Science,C...",no-Facilities,False,USD
11133,C3.ai,Data Science Instructor,"Redwood City, California",Full Time,Senior-level,109000.0,"Architecture,Clustering,ETL,Jupyter,Machine Le...",no-Facilities,False,USD
11157,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106000.0,"Bayesian,Classification,Clustering,Data analys...",no-Facilities,False,USD
11168,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,"Computer Science,Data Analytics,Data Mining,Ec...",no-Facilities,True,USD

In [55]:
dataFrame=split_comma_column_values ("Requirment of the company ",dataFrame)

In [56]:
dataFrame

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Computer Science,no-Facilities,True,USD
1,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Data quality,no-Facilities,True,USD
2,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Genetics,no-Facilities,True,USD
3,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Mathematics,no-Facilities,True,USD
4,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,SAS,no-Facilities,True,USD
...,...,...,...,...,...,...,...,...,...,...
60325,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Data Analytics,no-Facilities,True,USD
60326,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Data Mining,no-Facilities,True,USD
60327,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Economics,no-Facilities,True,USD
60328,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Engineering,no-Facilities,True,USD
60329,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,GCP,no-Facilities,True,USD

In [57]:
print("list of unique Requirment of the company :",dataFrame["Requirment of the company "].unique().tolist()),"Length :"+str(len(dataFrame["Requirment of the company "].unique().tolist()))

list of unique Requirment of the company : ['Computer Science', 'Data quality', 'Genetics', 'Mathematics', 'SAS', 'Statistics', 'Agile', 'Data management', 'Finance', 'Security', '', 'Architecture', 'AWS', 'Computer Vision', 'Deep Learning', 'Engineering', 'Industrial', 'Oracle', 'Power BI', 'R', 'R&D', 'Azure', 'Consulting', 'Dataflow', 'Data pipelines', 'Machine Learning', 'NLP', 'NumPy', 'Banking', 'Excel', 'Business Intelligence', 'Big Data', 'Matlab', 'APIs', 'Data analysis', 'Keras', 'PhD', 'Business Analytics', 'Economics', 'Data Analytics', 'Market research', 'Privacy', 'Spark', 'BigQuery', 'LLMs', 'Pandas', 'Python', 'CUDA', 'Docker', 'Git', 'GitHub', 'GitLab', 'Redshift', 'Data warehouse', 'Looker', 'Data visualization', 'Metabase', 'E-commerce', 'Airflow', 'Clustering', 'Data governance', 'Data Mining', 'Blockchain', 'Databricks', 'SQL', 'CI/CD', 'DevOps', 'ETL', 'Crypto', 'Fraud risk', 'Tableau', 'Cybernetics', 'DataRobot', 'A/B testing', 'Angular', 'JavaScript', 'Data Warehousing', 'KPIs', 'ML models', 'Pipelines', 'Classification', 'Bigtable', 'Distributed Systems', 'GCP', 'Generative modeling', 'DataOps', 'Research', 'Testing', 'Hadoop', 'Dagster', 'Physics', 'Causal inference', 'CX', 'Autonomous Driving', 'Linux', 'Matplotlib', 'MongoDB', 'Jira', 'React', 'Consulting firm', 'MySQL', 'GANs', 'Athena', 'Cassandra', 'ELT', 'Snowflake', 'Econometrics', 'Biology', 'BERT', 'Chatbots', 'Dataproc', 'NoSQL', 'ASR', 'FinTech', 'Prototyping', 'Ansible', 'Elasticsearch', 'Credit risk', 'Google Cloud', 'Feature engineering', 'EDA', 'Data strategy', 'JSON', 'Model design', 'Airtable', 'PostgreSQL', 'DynamoDB', 'Bayesian', 'EC2', 'Kubernetes', 'OOP', 'Grafana', 'Diffusion models', 'Drug discovery', 'Kafka', 'AI strategy', 'GPT', 'Drones', 'Bitbucket', 'MLFlow', 'Conversational AI', 'ICLR', 'ICML', 'FiveTran', 'AI governance', 'Robotics', 'Scrum', 'Scala', 'Model training', 'SLAM', 'Streaming', 'Chemistry', 'CAD', 'HuggingFace', 'Cluster analysis', 'Qlik', 'Data Studio', 'Nonprofit', 'Avro', 'MS SQL', 'Healthcare technology', 'API Development', 'UX', 'Ruby', 'CMake', 'Open Source', 'Golang', 'Linear algebra', 'Machine intelligence', 'Caffe', 'VR', 'Jupyter', 'Lambda', 'Predictive modeling', 'Amplitude', 'MXNet', 'ChatGPT', 'Kinesis', 'TypeScript', 'DICOM', 'LangChain', 'Unstructured data', 'PHP', 'GPT-3', 'GPT-4', 'Azkaban', 'GPU', 'RDBMS', 'Flink', 'Haystack', 'Driver\x92s license', 'Flask', 'Kanban', 'Parquet', 'OpenCV', 'STEM', 'MLOps', 'Plotly', 'D3', 'Circuit Design', 'EMNLP', 'ML infrastructure', 'Kubeflow', '3D Reconstruction', 'CSV', 'Elixir', 'OLAP', 'Julia', 'HPC', 'DB2', 'ECS', 'Content creation', 'Perl', 'Teaching', 'TensorFlow', 'ITIL', 'PyTorch', 'Lua', 'OpenAI', 'OCR', 'Pentaho', 'XML', 'XSD', 'AGI', 'DALL-E', 'Model inference', 'GloVe', 'Node.js', 'Informatica', 'OKR', 'Lidar', 'Periscope', 'SharePoint', 'HBase', 'PySpark', 'SSIS', 'NLTK', 'AIStats', 'Autoregressive models', 'Microservices', 'Minitab', 'SDLC', 'LookML', 'Core ML', 'Django', 'cuDNN', 'Anaconda', 'AI art', 'JAX', 'QlikView', '3D graphics', 'SDL', 'Vue', 'Biochemistry', 'AI content', 'REST API', 'KNIME', 'Alpaca', 'NLG', 'ANN', 'NeurIPS', 'Fortran', 'Transformers', 'Clinical NLP', 'Teradata', 'Kibana', 'HDFS', 'Arrow', 'C++', '.NET', 'Travel', 'fastai', 'Horovod', 'ISO 27001', 'Copywriting', 'HiveQL', 'Splunk', 'LightGBM', 'Clojure', 'SIMD', 'ELK', 'Model deployment', 'CoreML', 'TDD', 'Recommender systems', 'Maven']

(None, 'Length :286')

In [58]:
dataFrame[dataFrame["Job Title"]=='AML/CFT & Data Analyst']

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
6,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48000.0,Agile,no-Facilities,True,USD
7,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48000.0,Data management,no-Facilities,True,USD
8,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48000.0,Finance,no-Facilities,True,USD
9,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48000.0,Security,no-Facilities,True,USD
10,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48000.0,,no-Facilities,True,USD
44472,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,42000.0,Agile,no-Facilities,True,USD
44473,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,42000.0,Data management,no-Facilities,True,USD
44474,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,42000.0,Finance,no-Facilities,True,USD
44475,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,42000.0,Security,no-Facilities,True,USD
44476,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,42000.0,,no-Facilities,True,USD

In [59]:
df_index = dataFrame[(dataFrame["Requirment of the company "] == '') & (dataFrame['Facilities'] == 'no-Facilities')].index
dataFrame.drop(df_index , inplace=True)
dataFrame.head(15)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Computer Science,no-Facilities,True,USD
1,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Data quality,no-Facilities,True,USD
2,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Genetics,no-Facilities,True,USD
3,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Mathematics,no-Facilities,True,USD
4,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,SAS,no-Facilities,True,USD
5,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Statistics,no-Facilities,True,USD
6,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48000.0,Agile,no-Facilities,True,USD
7,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48000.0,Data management,no-Facilities,True,USD
8,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48000.0,Finance,no-Facilities,True,USD
9,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48000.0,Security,no-Facilities,True,USD
12,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,not-specified,90000.0,Agile,Career development,True,USD
13,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,not-specified,90000.0,Architecture,Career development,True,USD
14,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,not-specified,90000.0,AWS,Career development,True,USD
15,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,not-specified,90000.0,Computer Science,Career development,True,USD
16,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,not-specified,90000.0,Computer Vision,Career development,True,USD

In [60]:
dataFrame[(dataFrame["Requirment of the company "] == '') & (dataFrame['Facilities'] == 'no-Facilities')]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Requirment of the company , Facilities, Plus, Currency]
Index: []

In [61]:
dataFrame['Currency'][dataFrame["Salary"] == 0]=dataFrame['Currency'].fillna('--')

C:\Users\Youcode\AppData\Local\Temp\ipykernel_90516\658576616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame['Currency'][dataFrame["Salary"] == 0]=dataFrame['Currency'].fillna('--')

In [62]:
dataFrame[dataFrame["Salary"] >12000]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Computer Science,no-Facilities,True,USD
1,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Data quality,no-Facilities,True,USD
2,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Genetics,no-Facilities,True,USD
3,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Mathematics,no-Facilities,True,USD
4,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,SAS,no-Facilities,True,USD
...,...,...,...,...,...,...,...,...,...,...
60325,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Data Analytics,no-Facilities,True,USD
60326,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Data Mining,no-Facilities,True,USD
60327,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Economics,no-Facilities,True,USD
60328,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Engineering,no-Facilities,True,USD
60329,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,GCP,no-Facilities,True,USD

### Location

In [63]:
dataFrame[['City_State_Location', 'Country_Location']] = dataFrame['Location'].str.split(",",n=1, expand = True)

In [64]:
locationgrop=dataFrame[(dataFrame['Country_Location'].isna()) | (dataFrame['City_State_Location'].isna())].groupby('Company')
locationgrop.first()

,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency,City_State_Location,Country_Location
Company,,,,,,,,,,,
2K,"Senior Data Engineer, Platforms",United States,Full Time,Senior-level,115000.0,Airflow,Career development,True,USD,United States,None
2U,Data Engineer III,US-MD-Lanham//US-Remote,Full Time,Senior-level,115000.0,AWS,401(k) matching,True,USD,US-MD-Lanham//US-Remote,None
3Cloud,QA Data Engineer,Remote in Philippines,Full Time,not-specified,96000.0,Agile,Competitive pay,True,USD,Remote in Philippines,None
3Pillar Global,Senior Software Engineer - Data analytics,India,Full Time,Senior-level,49000.0,Agile,Career development,True,USD,India,None
"6sense Insights, Inc.",Senior Data Scientist,India,Full Time,Senior-level,129000.0,APIs,Career development,True,USD,India,None
...,...,...,...,...,...,...,...,...,...,...,...
iTech Media,Commercial Data Analyst,London or Remote UK,Full Time,Senior-level,92000.0,APIs,Career development,True,USD,London or Remote UK,None
komoot,Senior Analytics Engineer,Germany - Remote,Full Time,Senior-level,110000.0,Airflow,Career development,True,USD,Germany - Remote,None
myAgro,Data Analytics Manager,Remote,Full Time,not-specified,120000.0,Business Analytics,Career development,True,USD,Remote,None
takealot.com,Data Analyst,Cape Town,Full Time,not-specified,80000.0,AWS,Career development,True,USD,Cape Town,None
tiket.com,Data Engineer Intern,Jakarta,Internship,Entry-level,0.0,Airflow,no-Facilities,False,--,Jakarta,None

In [65]:
# !pip install pycountry

In [66]:
import pycountry
j=0
h="ett"
    # for country in pycountry.countries:
for Location in dataFrame["City_State_Location"]:
    print(pycountry.countries.name)

AttributeError: 'ExistingCountries' object has no attribute 'name'

In [ ]:
print(pycountry.countries.name)

AttributeError: 'ExistingCountries' object has no attribute 'name'

In [ ]:
import pycountry
text = dataFrame["Location"][60325]
for country in pycountry.countries:
    if country.name in text:
        print(country.name)

Canada

In [ ]:
dataFrame["Location"][60325]

'Edmonton, Alberta, Canada'

### Job Title

In [ ]:
dataFrame["Job Title"]=dataFrame["Job Title"].str.lower()

In [ ]:
print("list of unique Facilities :",dataFrame["Job Title"].unique().tolist()),"Length :"+str(len(dataFrame["Job Title"].unique().tolist()))

list of unique Facilities : ['clinical data analyst', 'aml/cft & data analyst', 'machine learning engineer', 'application developer & data analyst', 'data engineer full time (public sector) usa', 'sr staff data scientist - atg', 'vendor management and data quality lead', 'intern (business intelligence service support)', 'summer 2023 data engineering intern', 'principal cloud data engineer (prisma access)', 'data scientist (te-crg-glo-2023-19-grap)', 'data analyst - revenue optimizer', 'graduate power bi developer', 'sap consultant - product data management', 'premaster programm - data analytics and visualization', 'staff data scientist - atg', 'senior data analyst - sales', 'bi analyst', 'data scientist | insights (f/m/d) - ger, uk, nl, pl', 'senior data analyst (remote within emea)', 'senior data engineer (evergreen)', 'data management scrum master', 'rotational development program - artificial intelligence and machine learning trainee', 'data engineer scientist', 'data scientist (elasticsearch)', 'data engineer f/h', 'bi developer', 'data scientist - fraud risk', 'quintoandar - senior data analyst', 'ml research engineer', 'principal engineer, data project management', 'senior data engineer', '(senior) digital analytics engineer', 'senior software engineer (data pipeline)', 'senior data scientist', 'data science lead (hybrid)', 'business intelligence analyst', 'lead business intelligence analyst', 'sr data engineer', 'data modeler', 'data engineer', 'vp, actuarial modeling and data management', 'junior data science engineer (m/w/x)', 'healthcare data analyst', 'data scientist', 'data analyst | marketing or sales (f/m/d) - ger, uk, nl, pl', 'business intelligence expert', 'senior data analyst', 'principle mlops engineer', 'machine learning research engineer, generative ai', 'data analyst - product innovation', 'lead data scientist', 'data product owner', 'bi analyst jr - 24170', 'html developer', 'business intelligence developer', 'data scientist, marketing analytics', 'senior manager - aml/cft & data analyst', 'senior data visualization analyst', 'senior data engineer (remote)', 'customer data engineer', 'data engineer- data platform', 'digital marketing lead (zibraai)', 'staff data scientist - marketing', 'senior sales business intelligence manager', 'data analyst, customer experience', 'etas test lead - autonomous driving solutions', 'sr. data engineer', 'specialist solutions architect - mlops', 'data scientist, terminal', 'data analyst intern', 'react native engineer - mobile (dubai)', 'artificial intelligence lead | kpmg futures', 'jr. crm data quality specialist', 'data management consultant banking (f/d/m) financial services data platform fsdm', 'director, artificial intelligence (ai)', 'intermediate bi developer', 'senior business intelligence analyst', 'data analyst', 'staff machine learning engineer', 'data analyst (remote)', 'lead applied data scientist (experience with media mix modeling)', 'data engineer i', 'cloud database analyst', 'senior machine learning engineer', 'junior data analyst', 'financial data analyst', 'senior consultant in data science', 'staff clinical data manager # 3073', 'hr data analyst', 'consultant in data science', 'staff engineer, data platform', 'senior data scientist, marketing analytics', 'director, iva and ai solutions - professional services practice lead', 'lead data analyst(marketing/growth analytics)', 'data analyst, service analytics', 'amazon robotics - hardware engineer co-op (july-december 2023), amazon robotics', 'senior/staff data engineer', 'data product manager', 'fsa (fintech) - quantitative machine learning specialist & software developer', 'data engineer analyst', 'software engineer (data pipeline)', 'associate data scientist', 'data engineering analyst', 'talan consulting \x96 consultant senior/manager \x96 data strategy (h/f)', 'enterprise data architect - 6 month contract', 'data engineer ii', 'data scientist/machine learning engineer', 'senior data scientist, product', 'senior technical support engineer, dataset', 'finance business intelligence , operations finance', 'staff machine learning modeler, financial crimes', 'data engineer - music', 'data manager', 'salesforce administrator/data specialist', 'data engineer (starlink)', 'data engineer confirmé bi - big data', 'director, spark technical solutions', 'middle data engineer (healthcare domain)', 'senior data analyst (pricing)', 'people analytics data visualization senior associate (open to remote)', 'développeur power bi - h/f', 'product manager - experts & artificial intelligence', 'group manager data analytics india', 'vice president director, data scientist', 'business intelligence analyst, aws cloud logistics', 'scientist/senior scientist, machine learning', 'principal site reliability engineer, datastores (hybrid)', 'machine learning manager (systems)', 'consultant data engineer', 'machine learning engineer l3', 'data analyst coches.net', 'senior product marketing manager, conversational intelligence & ai products', 'graduate data analyst', 'analytics engineer', 'specialist solutions architect - data engineering (public sector)', 'senior data quality assurance specialist', 'senior site reliability engineer, datastores (hybrid)', 'customer success junior ml engineer, onboarding specialist', 'senior data science engineer', 'digital analytics engineer', 'senior big data engineer', 'senior data scientist, marketing', 'analytics engineer intern', 'master data team manager', 'senior data engineer, enterprise engineering', 'data operations associate', 'staff ml engineer (8627)', 'specialist architect : big data', 'research engineer in multi agent path finding for mobile robots (f/m/div.)', 'product marketing manager, data engineering', 'cv/ml engineer for 3d virtual humans - remote europe', 'senior data engineer - data bricks', 'director ai science', 'researcher- business intelligence', 'machine learning research scientist', 'staff database reliability engineer, datastores', 'senior data scientist - viator, london, oxford, uk remote', 'data analyst (bangkok based, relocation provided)', 'associate ai/ml engineer', 'azure data architect', 'senior applied data scientist', 'senior scientist, decision sciences', 'data operations & insights manager', 'principal ml engineer - ai platform', 'principal product marketing manager, ai & machine learning', 'technical support specialist (robotics) - eu - remote', 'data architect', 'operations data analyst (tableau)', 'head of applied ai/ml', 'data analytics engineer', 'software engineer - autonomy metrics', 'product manager- data visualization & analytics', 'data science in product design engineering', 'senior director of product - machine learning', 'senior data analyst (bangkok based, relocation provided)', 'operations planner data management technician', 'senior associate data engineering', 'data operations client onboarding', 'machine learning research scientist - reinforcement learning', 'machine learning engineer, generative ai', 'data management internship', 'sr big data engineer', 'consulting - robotics process automation (rpa) developer', 'data engineer with databricks - empower (remote/costa rica-based)', 'databricks and scala engineer geospatial', 'software engineer, data platform', 'senior manager data engineering', 'senior data engineer (p3949).', 'junior data engineer customer analytics', 'chief engineer, autonomy (r2020)', 'senior research data analyst', 'sport data operator', 'associate director | artificial intelligence lead | kpmg futures', 'research scientist', 'data engineering manager', 'principal engineer - data integrations', 'python engineer - machine learning specialist (remote)', 'senior applied scientist - document intelligence', 'data analyst, go live', 'senior data scientist (m/f)', 'researcher/senior researcher \x96 natural language processing and text analytics', 'data analyst (customer service industry, mandarin support)', 'manager data strategy', 'business partner, data analysis', 'data engineer - remote', 'marketing data analyst', 'post-doctoral fellow or associate - agronomy data scientist', 'sr. data scientist', 'researcher- computer vision', 'data science lead', 'senior data scientist, product analytics', 'software engineer - machine learning, granica screen', 'data engineer - türkiye', 'sde-iii, data engineering', 'oracle data modeler / pl/sql - data warehouse', 'product data specialist (hw)', 'sparkcognition director of accounting - controller', 'senior machine learning scientist (usa remote)', 'senior data scientist (p171).', 'cloud data analyst engineer (finops)', 'dataops engineer', 'robotic research engineer - mechatronics', 'manager - applied data scientist', '??·????/business intelligence engineer, japan operations finance', 'senior data engineer - (christchurch)', 'senior software engineer - data architecture skills', 'bi developer, analytics', 'supervisão de business intelligence (foco em mídia/comunicação)', 'senior manager, perception deep learning', 'sme consultant for data analytics', 'senior data strategist', 'data analyst (oslo-based)', 'senior ai engineer', 'sql data engineers', 'subsurface data manager', 'senior data analyst with python sql - ms- bangalore', 'data analyst supply chain management (f/m/d)', 'senior data quality developer', 'remote intermediate fullstack engineer (ai team)', 'ios engineer (dubai)', 'business intelligence data strategist', 'data engineer customer analytics', 'sr. bi analyst', 'data scientist generalist', 'business intelligence analyst - sales operations', 'senior developer - data engineer (aws/python/node)', 'senior data scientist: nlp', 'data analyst (allegro pay)', 'data analyst (dea)', 'ai research engineer', 'ai research scientist', 'manager, business operations - diagnostic imaging and laboratory', 'data science consultant', 'customer master data analyst', 'senior data quality engineer', 'senior data analyst - hybrid', 'computer vision researcher', 'research scientist - machine learning and algorithms', 'senior applied scientist', 'tableau/bi developer', 'data scientist (real-time ops)', 'data science/ analytics intern- long term', 'master data management plants (f/m/div.)', 'coordinator of data operations', 'data science team lead', 'ai programmer vr (ue)', 'data engineer (python) - payments', 'master data management plants (f/m/div.) (salary: ~81.000 eur p.a.*)', 'data analyst pleno', 'research engineer pem electrolyzer (f/m/div.)', 'consulting - data engineer', 'data analyst intern - product analytics', 'system reliability engineer (big data)', 'enterprise data architect', 'ttgp fleet data manager/senior jico', 'senior software engineer - data analytics', 'staff technical product manager, ai platform and solutions', 'big data engineer - pyspark', 'consultant / sr consultant - qa data engineer', 'computational biologist, translational science - location flexible', 'lead software engineer, ml infrastructure', 'senior insurance data scientist', 'principal engineer, data systems', 'clinical data manager', 'data analyst i - fraud', 'senior data scientist, operations', 'software engineer - data platform (python, cloud, big data)', 'senior cloud data analyst engineer (finops)', 'data engineer - bulgaria', 'power bi developer', 'consultant, data analytics', 'junior mlops - intern', 'business intelligence internship (summer 23/24)', 'business analyst (tech/ai)', 'senior applied scientist, amazon', 'specialist solutions architect - data engineering (financial services)', 'data scientist ebike systems (f/m/div.)', 'graduate data scientist', 'robotics engineer, sensors', 'contract: data infrastructure engineer', 'ai/ml modeling, simulation and analysis engineer (senior)', 'cloud data engineer', 'head of data science, analytics and bi', 'clinical data reporter', 'staff+ machine learning engineer - generative ai', 'especialista em auditoria interna - data analytics', 'engineering team lead, imaging tech', 'senior ml engineer - nlp', 'data analyst (aberdeen-based)', 'principal engineer, data and control systems', 'data scientist (pricing)', 'head of aml operations (m/f/d)', 'data engineer - 14072', 'data analyst (reporting and insights)', 'sr. manager (ai/ml)', 'data scientist, decisions - rider', 'data architect - sme', 'senior sw engineer (machine learning)', '(global) senior research scientist', 'staff data scientist, model risk management', 'graduate imaging geophysicist', 'architecte plateforme big data / devops - f/h', 'data analyst - retention', 'lead machine learning engineer', 'data developer', 'data analyst - digital marketing (all genders)', 'android engineer (dubai)', 'data specialist - governance', 'senior robotics process automation developer', 'technical product manager, data engineering', 'sr. data developer (remote), experian consumer services', 'senior data analyst with python sql - bangalore', 'manager, measurement innovation & data science', 'cloud data architect', 'business intelligence engineering manager', 'devops engineer (dubai)', 'data analytics internship (summer 23/24)', 'confirmed data analyst - data pro supply', 'senior machine learning engineer (modeling)', 'stage: robotics', 'data scientist / data analyst', 'product data analyst sénior (h/f) en cdi à paris', 'data analyst - stage', 'senior analytics engineer', 'sr. software engineer, data engineering', 'senior machine learning engineer i', 'data engineer sr.software engineer dx', 'senior staff data engineer', 'natural language processing intern', 'senior data engineers', 'coordinateur projets genotypage data analyse (h/f)', 'machine learning & software engineer, infrastructure - us remote', 'customer-facing deep learning solutions architect', 'data engineering manager - allegro pay', 'senior business intelligence developer (database architect & etl developer)', 'technical mentor (independent contractor) - data engineering nanodegree (us timezone)', 'data analyst, business optimisation', 'machine learning force fields scientist (materials science)', 'principal machine learning engineer - atg', 'senior associate data sciences', 'senior data engineer (all genders) ai', 'intermediate / senior fullstack engineer (ai team)', 'data quality analyst - stage', 'senior software engineer - ai/ml team (.net + python)', 'software engineer, data platform, data management', 'senior machine learning engineer (modeling), financial crimes technology', 'research analyst', 'backend / data engineers ii, cerebro', 'junior data manager', 'data infrastructure engineer', 'backend engineer (dubai)', 'senior software engineer i, machine learning, retrieval sciences', 'sr. staff machine learning engineer', 'staff systems engineer, autonomy & simulation', '[??-??&???] senior, data analyst (channel analytics)', 'senior machine learning expert (on-site, brussels / belgium)', "spécialiste, intelligence d'affaires / specialist, business intelligence", 'senior product manager | api & data products', 'senior analyst, data science and analytics', 'senior product manager - data management & search', 'accounting professor- data analytics/ais- 90k+ salary', 'senior data engineer - healthgrades', 'sr applied data scientist', 'business intelligence engineer', 'assistant mgr - data sciences', "data analyst - stage de fin d'études - paris 2e", 'trading bi developer', 'data analytics intern - le cubs 2023', 'product data analyst -  f/h', 'data scientist (crypto)', '[job- 10639] senior data engineer developer, brazil', 'business intelligence associate', 'analyst, reporting and business intelligence', 'data science software engineer', 'product owner with tableau/power bi(6 to 10 years)', 'machine learning & software engineer, infrastructure - emea remote', 'sr ai solution developer (servicenow developer)', 'data integrations engineer', 'lead software engineer - ai/ml team (.net + python)', 'transportation data analyst coordinator', 'senior applied data scientist (all genders) ai', 'power bi analyst', 'senior cloud devops engineer (data & ai) bei ebike systems (w/m/div.)', 'business intelligence analyst i', 'power bi data visualization analyst', 'data analyst (ceo office)', 'senior data science analyst- model validation', 'sr. revenue operations specialist - data analytics', 'phd position - neuro-symbolic ai for scene understanding in autonomous driving', 'staff data analyst, product analytics', 'senior product manager, large language model', 'quintoandar - analytics engineer', 'vp, data products', 'data science director, adoption & enterprise', 'data platform developer, machine learning', 'senior vision engineer (english version)', 'lead data scientist (p3436)', '(canada) business intelligence engineer', 'lead ml platform engineer', 'staff data engineer', 'transportation data analyst (tableau)', 'robotics software developer intern fall 2023', 'senior data architect', 'software engineer, computer vision program', 'data engineer - tempcover', 'ml phd intern - llms & generative ai', 'alternance - « data analyst » ou « equipe business intelligence » (h/f)', 'software engineer - structured data strategies', 'data science intern', 'institution data analyst', 'senior solutions engineer - big data', 'principal machine learning (ml) engineer', 'product data engineer', "data engineer - stage de fin d'études - paris 2e", 'senior data engineer/scientist', 'principal data scientist, machine learning', 'sr director - project implementation - medical imaging / pacs', 'big data bi engineer', 'principal data scientist (spain, full-remote)', 'ai programmer', 'business intelligence data analyst', 'machine learning for natural language processing intern', 'data scientist engineer', 'ml postdoc researcher - llms & generative ai', 'principal engineer, data management engineering', 'lead data scientist - pricing', 'data scientist, product analytics', 'senior infrastructure software engineer, ml platform', 'alumio solution engineer (data integration)', 'senior ai research scientist \x96 perception and machine learning', 'field sample specialist (air samples) - eurofins environment testing \x96 pueblo, co', 'senior research scientist \x96 ai-based planning for autonomous systems', 'internship: business intelligence and finance excellence', 'senior data engineer, php', 'head of data science & predictive modeling', 'business and commercial banking (bcb) business intelligence and analytics graduate programme - gauteng', 'data scientist - data analytics and infrastructure', '(senior) machine learning engineer - mlops', 'team lead data science (f/m/x)', 'senior data scientist - monetization', 'lead machine learning research engineer, generative ai', 'course associate, data analysis and visualization in sustainability (fall 2023)', 'robotics engineer', 'ingénieur data modeler et/ou tech data - f/h', 'biomedical data scientist', 'product analyst - remote (mumbai)', 'databricks administrator', 'analyst, data engineering', 'lead data engineer- bangalore', 'marketing data scientist', 'insight analyst', 'data analyst junior f/h', 'senior applied scientist i', 'data manager consultant', 'foundation models lead', 'consultant big data & machine learning', 'senior machine learning scientist (8304)', 'senior product manager (ai team)', 'principal applied scientist', 'director of data science', 'data analyst consultant', 'senior market research analyst', 'senior manager of master data management (hybrid)', 'mid data scientist (f/m/x), remote (eu) / berlin', 'sr. product manager (ai team)', 'data analyst (pricing)', 'principal data strategist consultant', 'senior vehicle data analyst', 'machine learning engineer (m/w/x)', 'principal engineer, datacenter software systems', 'business intelligence (qlik) developer', 'staff data scientist, credit card', 'head of product data science', "data engineer / data analyst - stage de fin d'études - paris 2e (h/f)", 'junior data engineer', 'machine learning research engineer - federal', 'lead data engineer (p3796)', 'senior ml engineer', 'bi engineer & data

(None, 'Length :2129')

In [ ]:
intern=dataFrame[ (dataFrame["Experience level"] == 'Entry-level') &  (dataFrame["Location"].str.contains("United States")) ].groupby('Job Title')

In [ ]:
intern.first()

,Company,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency,City_State_Location,Country_Location
Job Title,,,,,,,,,,,
3d data quality analyst - contract,Geomagical Labs,"Palo Alto, California, United States",Full Time,Entry-level,39000.0,3D graphics,Flex hours,True,USD,Palo Alto,"California, United States"
"act two program- sr. analyst, data quality",NBCUniversal,"New York, NEW YORK, United States",Full Time,Entry-level,0.0,Agile,Career development,False,--,New York,"NEW YORK, United States"
"analyst - business intelligence (us remote in eastern time) fmcg, cpg and retail preferred",NielsenIQ,"Atlanta, GA, United States",Full Time,Entry-level,39000.0,Business Intelligence,Flex hours,True,USD,Atlanta,"GA, United States"
"analyst, business intelligence",Publicis Groupe,"Philadelphia, PA, United States",Full Time,Entry-level,44000.0,Business Intelligence,Startup environment,True,USD,Philadelphia,"PA, United States"
"analyst, data engineering",Publicis Groupe,"New York City, United States",Full Time,Entry-level,52000.0,AWS,Career development,False,USD,New York City,United States
"analyst, decision sciences",Publicis Groupe,"New York City, United States",Full Time,Entry-level,52000.0,Consulting,Health care,False,USD,New York City,United States
analytics engineer,Oxfam America,"Boston, MA, United States",Full Time,Entry-level,84000.0,Agile,Career development,False,USD,Boston,"MA, United States"
"bi analyst  based in parsippany-troy hills, nj",NielsenIQ,"Parsippany-Troy Hills, NJ, United States",Full Time,Entry-level,48000.0,Business Intelligence,Career development,True,USD,Parsippany-Troy Hills,"NJ, United States"
broadcast research analyst,Sportradar,"Remote, New York, United States",Full Time,Entry-level,45000.0,Data analysis,401(k) matching,False,USD,Remote,"New York, United States"
business/data analyst intern (graduate student),Bosch Group,"Burnsville, MN, United States",Internship,Entry-level,0.0,Economics,no-Facilities,False,--,Burnsville,"MN, United States"
clinical data analyst,SGS,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Computer Science,no-Facilities,True,USD,Richardson,"TX, United States"
cnsp surface force training requirements & data analyst,Sigma Defense,"San Diego, California, United States",Full Time,Entry-level,105000.0,Excel,Career development,False,USD,San Diego,"California, United States"
"course associate, data analysis and visualization in sustainability (fall 2023)",Columbia University,"New York City, United States",Full Time,Entry-level,44000.0,Data analysis,no-Facilities,True,USD,New York City,United States
customer success & insight analyst,NielsenIQ,"Knoxville, TN, United States",Full Time,Entry-level,44000.0,Business Intelligence,no-Facilities,True,USD,Knoxville,"TN, United States"
data analyst,Hitch,"Austin, Texas, United States",Full Time,Entry-level,48000.0,Computer Science,Startup environment,True,USD,Austin,"Texas, United States"
data analyst (dea),WWC Global,"New York City, United States",Full Time,Entry-level,48000.0,Consulting,Career development,True,USD,New York City,United States
data analyst (jira & azure devops or hp alm) - remote,matchpoint solutions,"California, California, United States",Full Time,Entry-level,48000.0,Azure,no-Facilities,True,USD,California,"California, United States"
data analyst intern,Bosch Group,"Mount Prospect, IL, United States",Full Time,Entry-level,0.0,Industrial,no-Facilities,False,--,Mount Prospect,"IL, United States"
"data architect, internal it (remote in us)",Resultant,"Indianapolis, IN, United States",Full Time,Entry-level,135000.0,APIs,Career development,True,USD,Indianapolis,"IN, United States"
data engineer,Adtalem Global Education,"Remote, REMOTE, United States",Full Time,Entry-level,71000.0,Airflow,401(k) matching,False,USD,Remote,"REMOTE, United States"
data engineering analyst,Publicis Groupe,"New York City, United States",Full Time,Entry-level,52000.0,AWS,Career development,False,USD,New York City,United States
data integration support representative,Renaissance,"Remote, REMOTE, United States",Full Time,Entry-level,40000.0,Computer Science,401(k) matching,False,USD,Remote,"REMOTE, United States"
data management supervisor,Eurofins,"Saint Charles, MO, United States",Full Time,Entry-level,44000.0,Data management,401(k) matching,True,USD,Saint Charles,"MO, United States"
data quality analyst,Qualtrics,"Provo, Utah, United States",Full Time,Entry-level,44000.0,APIs,no-Facilities,True,USD,Provo,"Utah, United States"
data science & analytics internships  academic year,NBCUniversal,"Universal City, CA, United States",Internship,Entry-level,0.0,AWS,Career development,False,--,Universal City,"CA, United States"
data science intern,Equip Health,Remote United States,Internship,Entry-level,0.0,AWS,Career development,False,--,Remote United States,None
data science lead,Bosch Group,"Mount Prospect, IL, United States",Full Time,Entry-level,44000.0,A/B testing,Career development,True,USD,Mount Prospect,"IL, United States"
data scientist,NBCUniversal,"New York, NEW YORK, United States",Full Time,Entry-level,0.0,Computer Science,Career development,False,--,New York,"NEW YORK, United States"
data scientist (elasticsearch),CGG,"Houston, TX, United States",Full Time,Entry-level,40000.0,Agile,Career development,True,USD,Houston,"TX, United States"
data scientist (real-time ops),Gridware,"Walnut Creek, California, United States",Full Time,Entry-level,40000.0,Data analysis,401(k) matching,True,USD,Walnut Creek,"California, United States"
"data scientist - digitalization, trading & origination",Statkraft,"Stamford, CT, United States",Full Time,Entry-level,40000.0,Ansible,Career development,True,USD,Stamford,"CT, United States"
data scientist intern,Zscaler,"San Jose, CA, United States",Internship,Entry-level,0.0,Agile,Career development,False,--,San Jose,"CA, United States"
entry level (recent tech grads) bi analyst - must be us-based,NielsenIQ,"Parsippany-Troy Hills, NJ, United States",Full Time,Entry-level,48000.0,Business Intelligence,Career development,True,USD,Parsippany-Troy Hills,"NJ, United States"
"entry level (recent tech grads) business intelligence analyst  parsippany-troy hills, nj",NielsenIQ,"Parsippany-Troy Hills, NJ, United States",Full Time,Entry-level,44000.0,Business Intelligence,Career development,True,USD,Parsippany-Troy Hills,"NJ, United States"
entry level data scientist,Eurofins,"Lancaster, PA, United States",Full Time,Entry-level,44000.0,Chemistry,401(k) matching,True,USD,Lancaster,"PA, United States"
"field sample specialist (air samples) - eurofins environment testing  pueblo, co",Eurofins,"Pueblo, CO, United States",Full Time,Entry-level,40000.0,Chemistry,Career development,False,USD,Pueblo,"CO, United States"
information technology data analyst,OceanaGold,"Kershaw, South Carolina, United States",Full Time,Entry-level,48000.0,Data management,Career development,True,USD,Kershaw,"South Carolina, United States"
junior data analyst,Liquid Advertising,United States - Remote,Full Time,Entry-level,40000.0,Excel,401(k) matching,False,USD,United States - Remote,None
junior software engineer - python / java / ai / ml,Captivation Software,"Annapolis Junction, Maryland, United States",Full Time,Entry-level,125000.0,Computer Science,401(k) matching,False,USD,Annapolis Junction,"Maryland, United States"
lead data scientist,Verisk,"Jersey City, NJ, United States",Full Time,Entry-level,40000.0,Big Data,Career development,True,USD,Jersey City,"NJ, United States"
machine learning engineer,CGG,"Houston, TX, United States",Full Time,Entry-level,30000.0,Architecture,Career development,True,USD,Houston,"TX, United States"
machine learning engineer intern,Firework,"United States, Remote",Internship,Entry-level,0.0,AWS,Career development,False,--,United States,Remote
machine learning for natural language processing intern,Bosch Group,"Sunnyvale, CA, United States",Internship,Entry-level,0.0,Autonomous Driving,Conferences,False,--,Sunnyvale,"CA, United States"
natural language processing intern,Bosch Group,"Sunnyvale, CA, United States",Internship,Entry-level,0.0,APIs,Conferences,False,--,Sunnyvale,"CA, United States"
nlp engineer,CGG,"Houston, TX, United States",Full Time,Entry-level,44000.0,Architecture,Career development,True,USD,Houston,"TX, United States"
phd machine learning engineer intern (fall 2023),Block,"San Francisco, CA, United States",Internship,Entry-level,0.0,Architecture,Career development,False,--,San Francisco,"CA, United States"
"pre-college instructor, big data, machine learning & their real world applications (on-campus) summer 2023",Columbia University,"New York City, United States",Full Time,Entry-level,44000.0,Big Data,no-Facilities,True,USD,New York City,United States
product manager for healthcare ai products,John Snow Labs,"Remote, REMOTE, United States",Full Time,Entry-level,39000.0,Big Data,no-Facilities,True,USD,Remote,"REMOTE, United States"
program management data analytics internships  academic year,NBCUniversal,"New York City, United States",Internship,Entry-level,0.0,Business Analytics,Career development,False,--,New York City,United States
research engineer- atmospheric perils vulnerability,Verisk,"Boston, MA, United States",Full Time,Entry-level,105000.0,Data Mining,Career development,True,USD,Boston,"MA, United States"
research scientist - machine learning and algorithms,Granica,"Mountain View, California, United States, Remote",Full Time,Entry-level,120000.0,Computer Science,401(k) matching,False,USD,Mountain View,"California, United States, Remote"
rotational development program - artificial intelligence and machine learning trainee,Bosch Group,"Plymouth, MI, United States",Full Time,Entry-level,44000.0,Airflow,Career development,True,USD,Plymouth,"MI, United States"
seismic imaging analyst,CGG,"Houston, TX, United States",Full Time,Entry-level,85000.0,Data analysis,401(k) matching,False,USD,Houston,"TX, United States"
senior data scientist,Verisk,"Jersey City, NJ, United States",Full Time,Entry-level,39000.0,Big Data,Career development,True,USD,Jersey City,"NJ, United States"
"software engineer, computer vision program",CCRi,"Charlottesville, Virginia, United States",Full Time,Entry-level,84000.0,Agile,401(k) matching,False,USD,Charlottesville,"Virginia, United States"
"software engineer, data streaming platform",Block,"Atlanta, GA, United States",Full Time,Entry-level,129000.0,Airflow,Career development,False,USD,Atlanta,"GA, United States"
specification coordinator - data management,Eurofins,"Ithaca, NY, United States",Full Time,Entry-level,39000.0,Data management,Flex hours,True,USD,Ithaca,"NY, United States"
summer 2023 data engineering intern,Western Digital,"San Jose, CA, United States",Internship,Entry-level,0.0,Big Data,Career development,False,--,San Jose,"CA, United States"

In [ ]:
dataFrame[dataFrame["Job Title"].str.contains('intern')]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency,City_State_Location,Country_Location
17760,Mitek Systems,Machine Learning Researcher (internship),Barcelona,Internship,Entry-level,0.0,Computer Vision,Career development,False,--,Barcelona,None
17761,Mitek Systems,Machine Learning Researcher (internship),Barcelona,Internship,Entry-level,0.0,Deep Learning,Career development,False,--,Barcelona,None
17762,Mitek Systems,Machine Learning Researcher (internship),Barcelona,Internship,Entry-level,0.0,Docker,Career development,False,--,Barcelona,None
17763,Mitek Systems,Machine Learning Researcher (internship),Barcelona,Internship,Entry-level,0.0,Git,Career development,False,--,Barcelona,None
17764,Mitek Systems,Machine Learning Researcher (internship),Barcelona,Internship,Entry-level,0.0,Linux,Career development,False,--,Barcelona,None
...,...,...,...,...,...,...,...,...,...,...,...,...
42949,Equip Health,Data Science intern,Remote United States,Internship,Entry-level,0.0,Computer Science,Salary bonus,False,--,Remote United States,None
42950,Equip Health,Data Science intern,Remote United States,Internship,Entry-level,0.0,Genetics,Salary bonus,False,--,Remote United States,None
42951,Equip Health,Data Science intern,Remote United States,Internship,Entry-level,0.0,GitHub,Salary bonus,False,--,Remote United States,None
42952,Equip Health,Data Science intern,Remote United States,Internship,Entry-level,0.0,LLMs,Salary bonus,False,--,Remote United States,None
42953,Equip Health,Data Science intern,Remote United States,Internship,Entry-level,0.0,Machine Learning,Salary bonus,False,--,Remote United States,None

In [ ]:
dataFrame[dataFrame['Job Title'] == 'Data Analytics Manager - Compliance, Risk & Internal Audit']

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency,City_State_Location,Country_Location
59880,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120000.0,Airflow,no-Facilities,True,USD,London,None
59881,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120000.0,APIs,no-Facilities,True,USD,London,None
59882,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120000.0,Data Analytics,no-Facilities,True,USD,London,None
59883,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120000.0,Data pipelines,no-Facilities,True,USD,London,None
59884,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120000.0,Data warehouse,no-Facilities,True,USD,London,None
59885,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120000.0,Engineering,no-Facilities,True,USD,London,None

In [ ]:
import nltk

# Set the data directory for NLTK
# nltk.data.path.append("C:/Users/Youcode/nltk_data")

# Download necessary NLTK data
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Error loading punkt: <urlopen error [WinError 10060] Une
[nltk_data]     tentative de connexion a échoué car le parti connecté
[nltk_data]     n’a pas répondu convenablement au-delà d’une certaine
[nltk_data]     durée ou une connexion établie a échoué car l’hôte de
[nltk_data]     connexion n’a pas répondu>

KeyboardInterrupt:

In [ ]:
import nltk
import pandas as pd
from nltk import word_tokenize, pos_tag



def extract_job_name_and_more_info(job_title):
    words = word_tokenize(job_title)
    tagged_words = pos_tag(words)

    job_name = []
    more_info = []

    for i in range(len(tagged_words)):
        word, tag = tagged_words[i]
        if tag == 'NN' or tag == 'NNP':  # Noun or Proper Noun (potential job name)
            prev_word, prev_tag = tagged_words[i - 1] if i > 0 else (None, None)
            if prev_tag != 'JJ':  # Exclude if the previous word is an adjective (e.g., "Senior")
                job_name.append(word)
            else:
                more_info.append(word)
        else:
            more_info.append(word)

    return ' '.join(job_name), ' '.join(more_info)

def extract_location_info(location):
    location_info = location.split(', ')
    num_parts = len(location_info)

    city = location_info[0]

    state = location_info[1] if num_parts > 1 else ""

    country = location_info[-1]

    return city, state, country

# Example DataFrame with the provided lines
# data = {'Company': ['Freeform', 'Opera', 'Bosch Group', 'Tiendanube', 'Ask Media Group', 'Angi', 'Visa', 'AVIV Group', 'Mutt Data', 'Global Atlantic Financial Group', 'REWE International Dienstleistungsgesellschaft m.b.H', 'Imagen Technologies', 'Sunnova Energy International'],
#         'Job Title': ['Senior Software Engineer (Data Pipeline)', 'Senior Data Scientist', 'Data Science Lead (Hybrid)', 'Business Intelligence Analyst', 'Lead Business Intelligence Analyst', 'Senior Data Scientist', 'Sr Data Engineer', 'Data Modeler', 'Data Engineer', 'VP, Actuarial Modeling and Data Management', 'Junior Data Science Engineer (m/w/x)', 'Healthcare Data Analyst', 'Data Scientist'],
#         'Location': ['Los Angeles, CA', 'Wroclaw, PL', 'Mount Prospect, IL, United States', 'Buenos Aires, Buenos Aires, Argentina - Remote', 'United States - Remote', 'Indianapolis, IN - Hybrid', 'Bengaluru, India', 'Brussels, Germany', 'Argentina', 'Boston, Massachusetts, United States', 'Wien, Austria', 'Remote', 'United States'],
#         'Job Type': ['Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time'],
#         'Experience level': ['Senior-level', 'Senior-level', '', 'Senior-level', 'Senior-level', 'Senior-level', 'Senior-level', 'Senior-level', 'Mid-level', 'Senior-level', 'Entry-level', 'Mid-level', 'Senior-level'],
#         'Salary': ['140K+', '129K+ *', '63K+ *', '49K+ *', '180K+', '', '115K+ *', '62K+ *', '73K+ *', '127K+', '', '60K+', '129K+ *'],
#         'Requirements': ['Big Data, CI/CD, Computer Science, Computer Vision, Data pipelines, Data Warehousing', 'Agile, Airflow, Big Data, BigQuery, Computer Science, Data analysis', 'A/B testing, Data visualization, Economics, Engineering, Mathematics, Power BI', 'Business Intelligence, E-commerce, Python, SQL, Tableau,', 'A/B testing, Business Intelligence, Data visualization, KPIs, Looker, Mathematics', 'Big Data, Data Mining, Machine Learning, Mathematics, ML models, PhD', 'Agile, Big Data, Business Intelligence, Data Mining, Data visualization, Engineering', 'Architecture, Data governance, Data management, Engineering, KPIs, Privacy', 'Airflow, Architecture, AWS, Big Data, BigQuery, CI/CD', 'Data management, Excel, Finance, Mathematics, ML models, Privacy', 'CI/CD, Computer Science, Data pipelines, Deep Learning, Oracle, Pipelines', 'Business Intelligence, Engineering, Genetics, Git, Pandas, Python', 'Agile, APIs, Architecture, AWS, Big Data, Classification'],
#         'Facilities': ['Career development, Equity, Flex hours, Flex vacation, Health care', 'Career development, Relocation support,,,', 'Career development, Competitive pay, Health care,,', ',,,,', 'Career development, Competitive pay, Equity, Fertility benefits', '401(k) matching, Career development, Competitive pay, Equity, Flex vacation', 'Career development, Flex hours, Startup environment,,,', 'Flex hours, Flex vacation,,,', 'Career development, Fitness / gym, Flex hours, Flex vacation, Gear', '401(k) matching, Career development, Competitive pay, Equity, Fertility benefits', ',,,,', 'Salary bonus, Startup environment,,,']}
df = dataFrame

# Extract job names and create a new column
df['Job Name'], df['More Job Information'] = zip(*df['Job Title'].apply(extract_job_name_and_more_info))

# Extract cities, states, and countries and create new columns
df['City'], df['State'], df['Country'] = zip(*df['Location'].apply(extract_location_info))

# Drop the original 'Job Title' and 'Location' columns (optional)
# df.drop(columns=['Job Title', 'Location'], inplace=True)

# Display the resulting DataFrame
print(df)

LookupError:
**********************************************************************
  Resource punkt not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt/english.pickle

  Searched in:
    - 'C:\\Users\\Youcode/nltk_data'
    - 'c:\\Users\\Youcode\\miniconda3\\envs\\scraping_brief\\nltk_data'
    - 'c:\\Users\\Youcode\\miniconda3\\envs\\scraping_brief\\share\\nltk_data'
    - 'c:\\Users\\Youcode\\miniconda3\\envs\\scraping_brief\\lib\\nltk_data'
    - 'C:\\Users\\Youcode\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
    - 'C:/Users/Youcode/nltk_data'
    - 'C:/Users/Youcode/nltk_data'
    - ''
**********************************************************************

In [ ]:
def extract_location_info(location):
    location_info = location.split(', ')
    num_parts = len(location_info)

    city = location_info[0]

    state = location_info[1] if num_parts > 1 else ""

    country = location_info[-1]


    return city, state, country

df = dataFrame

# Extract cities, states, and countries and create new columns
df['City'], df['State'], df['Country'] = zip(*df['Location'].apply(extract_location_info))

# Display the resulting DataFrame
df[df['City'].str.contains('Remote')]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency,City_State_Location,Country_Location,City,State,Country
336,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Full Time,Senior-level,129000.0,Agile,Career development,True,USD,Remote job,None,Remote job,,Remote job
337,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Full Time,Senior-level,129000.0,Data visualization,Career development,True,USD,Remote job,None,Remote job,,Remote job
338,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Full Time,Senior-level,129000.0,Economics,Career development,True,USD,Remote job,None,Remote job,,Remote job
339,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Full Time,Senior-level,129000.0,Machine Learning,Career development,True,USD,Remote job,None,Remote job,,Remote job
340,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Full Time,Senior-level,129000.0,Mathematics,Career development,True,USD,Remote job,None,Remote job,,Remote job
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60037,Galileo Financial Technologies,Staff ETL Developer,UT - Remote; UT - Cottonwood Heights,Full Time,Senior-level,63000.0,Data pipelines,no-Facilities,True,USD,UT - Remote; UT - Cottonwood Heights,None,UT - Remote; UT - Cottonwood Heights,,UT - Remote; UT - Cottonwood Heights
60038,Galileo Financial Technologies,Staff ETL Developer,UT - Remote; UT - Cottonwood Heights,Full Time,Senior-level,63000.0,Data warehouse,no-Facilities,True,USD,UT - Remote; UT - Cottonwood Heights,None,UT - Remote; UT - Cottonwood Heights,,UT - Remote; UT - Cottonwood Heights
60039,Galileo Financial Technologies,Staff ETL Developer,UT - Remote; UT - Cottonwood Heights,Full Time,Senior-level,63000.0,Data Warehousing,no-Facilities,True,USD,UT - Remote; UT - Cottonwood Heights,None,UT - Remote; UT - Cottonwood Heights,,UT - Remote; UT - Cottonwood Heights
60040,Galileo Financial Technologies,Staff ETL Developer,UT - Remote; UT - Cottonwood Heights,Full Time,Senior-level,63000.0,Engineering,no-Facilities,True,USD,UT - Remote; UT - Cottonwood Heights,None,UT - Remote; UT - Cottonwood Heights,,UT - Remote; UT - Cottonwood Heights
60041,Galileo Financial Technologies,Staff ETL Developer,UT - Remote; UT - Cottonwood Heights,Full Time,Senior-level,63000.0,ETL,no-Facilities,True,USD,UT - Remote; UT - Cottonwood Heights,None,UT - Remote; UT - Cottonwood Heights,,UT - Remote; UT - Cottonwood Heights

In [ ]:
import pandas as pd
import pycountry
import re

# Sample DataFrame with the job titles


df = dataFrame

# Function to detect countries in job titles
def detect_country(title):
    for country in pycountry.countries:
        if re.search(r'\b' + re.escape(country.name) + r'\b', title, re.IGNORECASE):
            return country.name
    return None

# Create a new column to store detected countries
df['Detected Country'] = df['Job Title'].apply(detect_country)

df

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency,City_State_Location,Country_Location,Detected Country
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Computer Science,no-Facilities,True,USD,Richardson,"TX, United States",None
1,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Data quality,no-Facilities,True,USD,Richardson,"TX, United States",None
2,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Genetics,no-Facilities,True,USD,Richardson,"TX, United States",None
3,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Mathematics,no-Facilities,True,USD,Richardson,"TX, United States",None
4,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,SAS,no-Facilities,True,USD,Richardson,"TX, United States",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60325,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Data Analytics,no-Facilities,True,USD,Edmonton,"Alberta, Canada",None
60326,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Data Mining,no-Facilities,True,USD,Edmonton,"Alberta, Canada",None
60327,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Economics,no-Facilities,True,USD,Edmonton,"Alberta, Canada",None
60328,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Engineering,no-Facilities,True,USD,Edmonton,"Alberta, Canada",None
60329,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,GCP,no-Facilities,True,USD,Edmonton,"Alberta, Canada",None

In [ ]:
import pandas as pd
import pycountry

# Sample DataFrame with the job titles and locations


df = dataFrame

# Function to detect countries in job locations
def detect_country(location):
    location=str(location).split(',')[-1]
    try:
        return pycountry.countries.search_fuzzy(location)[0].name
    except:
        pass

    return location

# Preprocess 'Location' column to contain only country names
df['Location'] = df['Location'].str.lower()  # Convert to lowercase for case-insensitive matching

# Create a new column to store detected countries
df['Detected Country'] = df['Location'].apply(detect_country)

df

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Detected Country
0,SGS,Clinical Data Analyst,"richardson, tx, united states",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,",United States
1,Ocorian,AML/CFT & Data Analyst,"ebène, mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,",Mauritius
2,Cricut,Machine Learning Engineer,"south jordan, ut, united states",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,",United States
3,Bosch Group,Application Developer & Data Analyst,"nonantola, italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,",Italy
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"arlington, va, united states",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi...",United States
...,...,...,...,...,...,...,...,...,...
3193,Western Digital,Data Scientist - New College Graduate,"biñan, philippines",Full Time,Entry-level,39K+ *,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,",Philippines
3194,Experian,Cloud Data Analyst,"heredia, costa rica",Full Time,Senior-level,92K+ *,"AWS,Big Data,Computer Science,GCP,Snowflake,SQL","Equity,Medical leave,Salary bonus,,",Costa Rica
3195,Locus Robotics,"Robotics Engineer, Sensors","wilmington, ma, united states",Full Time,Senior-level,62K+ *,"E-commerce,Engineering,Linux,Python,Robotics,S...",",,,,",United States
3196,ATB Financial,Data Scientist,"edmonton, alberta, canada",Full Time,Entry-level,39K+ *,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,",Canada
3197,Shippeo,Senior Data Engineer,"paris, france",Full Time,Senior-level,115K+ *,"Airflow,Architecture,BigQuery,CI/CD,Computer S...",",,,,",France

In [ ]:
df[df['Detected Country'].str.contains('remote')]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Detected Country
19,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",remote job,Full Time,Senior-level,129K+ *,"Agile,Data visualization,Economics,Machine Lea...","Career development,,,,",remote job
24,EX2 Outcoding,Data Engineer Scientist,remote worldwide,Full Time,Mid-level,73K+ *,"Computer Science,Data Mining,Engineering,Pytho...",",,,,",remote worldwide
30,Neo Cybernetica,ML Research Engineer,poland or eastern europe remote,Full Time,Senior-level,105K+ *,"Cybernetics,DataRobot,Engineering,Keras,Machin...","Career development,Flex hours,Health care,Star...",poland or eastern europe remote
32,Podium,Senior Data Engineer,"lehi, utah, open to remote",Full Time,Senior-level,115K+ *,"APIs,Big Data,Computer Science,Data analysis,D...",",,,,",open to remote
37,Tiendanube,Business Intelligence Analyst,"buenos aires, buenos aires, argentina - remote",Full Time,Senior-level,49K+ *,"Business Intelligence,E-commerce,Python,SQL,Ta...",",,,,",argentina - remote
...,...,...,...,...,...,...,...,...,...
3161,EquipmentShare,BI Data Analyst,remote: kansas city; denver; chicago; phoenix;...,Full Time,Senior-level,36K+ *,"Business Analytics,Business Intelligence,Finan...","401(k) matching,Career development,Competitive...",remote: kansas city; denver; chicago; phoenix;...
3164,Rackspace,Trainee Data Engineer - R-16792,india - remote,Full Time,Entry-level,59K+ *,"Architecture,Azure,Big Data,Computer Science,D...","Team events,,,,",india - remote
3174,Sand Cherry Associates,Data Analyst,united states - remote,Full Time,Mid-level,65K+,"Computer Science,Consulting,Data Analytics,Dat...","401(k) matching,Flex hours,Flex vacation,Healt...",united states - remote
3176,iTech Media,Data Analytics Engineer,warsaw remote,Full Time,Entry-level,30K+ *,"Airflow,Data Analytics,Engineering,Finance,Kaf...","Career development,Flex hours,Flex vacation,He...",warsaw remote
3178,Galileo Financial Technologies,Staff ETL Developer,ut - remote; ut - cottonwood heights,Full Time,Senior-level,63K+ *,"Computer Science,Data pipelines,Data warehouse...","Flex hours,Health care,Insurance,,",ut - remote; ut - cottonwood heights

### DATA INSERTION