# Exploration des donn√©es

In [1]:
import pandas as pd
dataFrame=pd.read_csv("job-data.csv", encoding='latin-1')

In [2]:
pip install spacy

Collecting spacyNote: you may need to restart the kernel to use updated packages.

  Downloading spacy-3.6.0-cp311-cp311-win_amd64.whl (12.3 MB)
                                              0.0/12.3 MB ? eta -:--:--
                                              0.0/12.3 MB 1.4 MB/s eta 0:00:09
                                             0.1/12.3 MB 991.0 kB/s eta 0:00:13
                                             0.1/12.3 MB 901.1 kB/s eta 0:00:14
                                             0.1/12.3 MB 950.9 kB/s eta 0:00:13
                                             0.1/12.3 MB 950.9 kB/s eta 0:00:13
                                             0.1/12.3 MB 950.9 kB/s eta 0:00:13
                                             0.2/12.3 MB 510.2 kB/s eta 0:00:24
                                             0.2/12.3 MB 477.7 kB/s eta 0:00:26
                                             0.2/12.3 MB 491.5 kB/s eta 0:00:25
                                             0.2/12.3 MB 474.7 kB/s eta 0:00:26
                                             0.2/12.3 MB 474.7 kB/s eta 0:00:26
                                             0.2/12.3 MB 474.7 kB/s eta 0:00:26
                                             0.2/12.3 MB 411.8 kB/s eta 0:00:30
                                             0.3/12.3 MB 414.4 kB/s eta 0:00:29
                                             0.3/12.3 MB 411.4 kB/s eta 0:00:30
     -                                       0.3/12.3 MB 427.9 kB/s eta 0:00:28
     -                                       0.4/12.3 MB 464.2 kB/s eta 0:00:26
     -                                       0.4/12.3 MB 432.9 kB/s eta 0:00:28
     -                                       0.4/12.3 MB 453.0 kB/s eta 0:00:27
     -                                       0.5/12.3 MB 486.0 kB/s eta 0:00:25
     -                                       0.5/12.3 MB 537.2 kB/s eta 0:00:22
     -                                       0.6/12.3 MB 542.7 kB/s eta 0:00:22
     -                                       0.6/12.3 MB 544.8 kB/s eta 0:00:22
     -                                       0.6/12.3 MB 544.8 kB/s eta 0:00:22
     --                                      0.7/12.3 MB 574.9 kB/s eta 0:00:21
     --                                      0.7/12.3 MB 594.1 kB/s eta 0:00:20
     --                                      0.8/12.3 MB 614.1 kB/s eta 0:00:19
     --                                      0.8/12.3 MB 623.3 kB/s eta 0:00:19
     --                                      0.8/12.3 MB 623.7 kB/s eta 0:00:19
     --                                      0.8/12.3 MB 623.7 kB/s eta 0:00:19
     --                                      0.8/12.3 MB 623.7 kB/s eta 0:00:19
     --                                      0.8/12.3 MB 623.7 kB/s eta 0:00:19
     --                                      0.9/12.3 MB 586.5 kB/s eta 0:00:20
     --                                      0.9/12.3 MB 588.0 kB/s eta 0:00:20
     ---                                     1.0/12.3 MB 585.5 kB/s eta 0:00:20
     ---                                     1.0/12.3 MB 586.0 kB/s eta 0:00:20
     ---                                     1.0/12.3 MB 594.9 kB/s eta 0:00:19
     ---                                     1.1/12.3 MB 602.7 kB/s eta 0:00:19
     ---                                     1.1/12.3 MB 621.0 kB/s eta 0:00:18
     ---                                     1.2/12.3 MB 638.6 kB/s eta 0:00:18
     ---                                     1.2/12.3 MB 655.5 kB/s eta 0:00:17
     ----                                    1.3/12.3 MB 650.0 kB/s eta 0:00:17
     ----                                    1.3/12.3 MB 645.2 kB/s eta 0:00:18
     ----                                    1.4/12.3 MB 680.6 kB/s eta 0:00:16
     ----                                    1.4/12.3 MB 675.4 kB/s eta 0:00:17
     ----                                    1.5/12.3 MB 684.6 kB/s eta 0:00:16
     ----                                    1.5/12.3 MB 683.9 kB/s eta 0:00:16
     ----                                    1.5/12.3 MB 687.9 kB/s eta 0:00:16
     ----                                    1.6/12.3 MB 691.8 kB/s eta 0:00:16
     ----                                    1.6/12.3 MB 691.8 kB/s eta 0:00:16
     -----                                   1.6/12.3 MB 686.2 kB/s eta 0:00:16
     -----                                   1.6/12.3 MB 685.8 kB/s eta 0:00:16
     -----                                   1.7/12.3 MB 676.5 kB/s eta 0:00:16
     -----                                   1.7/12.3 MB 676.5 kB/s eta 0:00:16
     -----                                   1.7/12.3 MB 663.7 kB/s eta 0:00:16
     -----                                   1.7/12.3 MB 663.5 kB/s eta 0:00:16
     -----                                   1.7/12.3 MB 659.4 kB/s eta 0:00:16
     -----                                   1.7/12.3 MB 659.4 kB/s eta 0:00:16
     -----                                   1.7/12.3 MB 640.2 kB/s eta 0:00:17
     -----                                   1.8/12.3 MB 640.5 kB/s eta 0:00:17
     -----                                   1.8/12.3 MB 644.3 kB/s eta 0:00:17
     -----                                   1.8/12.3 MB 648.1 kB/s eta 0:00:17
     -----                                   1.8/12.3 MB 648.1 kB/s eta 0:00:17
     -----                                   1.8/12.3 MB 648.1 kB/s eta 0:00:17
     -----                                   1.8/12.3 MB 648.1 kB/s eta 0:00:17
     -----                                   1.8/12.3 MB 648.1 kB/s eta 0:00:17
     -----                                   1.8/12.3 MB 648.1 kB/s eta 0:00:17
     ------                                  1.9/12.3 MB 606.2 kB/s eta 0:00:18
     ------                                  1.9/12.3 MB 606.2 kB/s eta 0:00:18
     ------                                  1.9/12.3 MB 598.2 kB/s eta 0:00:18
     ------                                  2.0/12.3 MB 595.9 kB/s eta 0:00:18
     ------                                  2.0/12.3 MB 595.9 kB/s eta 0:00:18
     ------                                  2.0/12.3 MB 595.9 kB/s eta 0:00:18
     ------                                  2.0/12.3 MB 595.9 kB/s eta 0:00:18
     ------                                  2.0/12.3 MB 572.0 kB/s eta 0:00:18
     ------                                  2.0/12.3 MB 573.1 kB/s eta 0:00:18
     ------                                  2.0/12.3 MB 568.4 kB/s eta 0:00:19
     ------                                  2.0/12.3 MB 568.4 kB/s eta 0:00:19
     ------                                  2.0/12.3 MB 568.4 kB/s eta 0:00:19
     ------                                  2.0/12.3 MB 568.4 kB/s eta 0:00:19
     ------                                  2.0/12.3 MB 568.4 kB/s eta 0:00:19
     ------                                  2.0/12.3 MB 568.4 kB/s eta 0:00:19
     ------                                  2.0/12.3 MB 529.7 kB/s eta 0:00:20
     ------                                  2.1/12.3 MB 537.7 kB/s eta 0:00:19
     ------                                  2.1/12.3 MB 537.7 kB/s eta 0:00:19
     ------                                  2.1/12.3 MB 537.7 kB/s eta 0:00:19
     ------                                  2.1/12.3 MB 537.7 kB/s eta 0:00:19
     ------                                  2.1/12.3 MB 537.7 kB/s eta 0:00:19
     ------                                  2.1/12.3 MB 510.4 kB/s eta 0:00:20
     ------                                  2.1/12.3 MB 510.4 kB/s eta 0:00:20
     ------                                  2.1/12.3 MB 510.4 kB/s eta 0:00:20
     ------                                  2.1/12.3 MB 501.9 kB/s eta 0:00:21
     ------                                  2.1/12.3 MB 497.5 kB/s eta 0:00:21
     ------                                  2.1/12.3 MB 497.5 kB/s eta 0:00:21
     ------                                  2.2/12.3 MB 493.9 kB/s eta 0:00:21
     ------                                  2.2/12.3 MB 492.7 kB/s eta 0:00:21
     -------                                 2.2/12.3 MB 496.7 kB/s eta 0:00:21
     -------                                 2.2/12.3 MB 493.8 kB/s eta 0:00:21
     -------                                 2.3/12.3 MB 493.8 kB/s eta 0:00:21
     -------                                 2.3/12.3 MB 499.4 kB/s eta 0:00:20
     -------                                 2.3/12.3 MB 501.0 kB/s eta 0:00:20
     -------                                 2.4/12.3 MB 506.9 kB/s eta 0:00:20
     -------                                 2.4/12.3 MB 510.0 kB/s eta 0:00:20
     -------                                 2.5/12.3 MB 516.2 kB/s eta 0:00:19
     -------                                 2.5/12.3 MB 517.5 kB/s eta 0:00:19
     --------                                2.5/12.3 MB 522.6 kB/s eta 0:00:19
     --------                                2.6/12.3 MB 523.9 kB/s eta 0:00:19
     --------                                2.6/12.3 MB 523.5 kB/s eta 0:00:19
     --------                                2.7/12.3 MB 528.8 kB/s eta 0:00:19
     --------                                2.7/12.3 MB 533.3 kB/s eta 0:00:18
     --------                                2.7/12.3 MB 536.8 kB/s eta 0:00:18
     --------                                2.8/12.3 MB 541.9 kB/s eta 0:00:18
     ---------                               2.8/12.3 MB 544.9 kB/s eta 0:00:18
     ---------                               2.9/12.3 MB 549.8 kB/s eta 0:00:18
     ---------                               3.0/12.3 MB 558.4 kB/s eta 0:00:17
     ---------                               3.0/12.3 MB 565.0 kB/s eta 0:00:17
     ---------                               3.1/12.3 MB 571.5 kB/s eta 0:00:17
     ----------                              3.2/12.3 MB 579.8 kB/s eta 0:00:16
     ----------                              3.2/12.3 MB 586.2 kB/s eta 0:00:16
     ----------                              3.2/12.3 MB 588.3 kB/s eta 0:00:16
     ----------                              3.3/12.3 MB 591.0 kB/s eta 0:00:16
     ----------                              3.4/12.3 MB 598.8 kB/s eta 0:00:15
     ----------                              3.4/12.3 MB 606.4 kB/s eta 0:00:15
     -----------                             3.5/12.3 MB 617.7 kB/s eta 0:00:15
     -----------                             3.6/12.3 MB 619.7 kB/s eta 0:00:15
     -----------                             3.7/12.3 MB 628.8 kB/s eta 0:00:14
     -----------                             3.7/12.3 MB 639.6 kB/s eta 0:00:14
     ------------                            3.8/12.3 MB 646.7 kB/s eta 0:00:14
     ------------                            3.9/12.3 MB 660.5 kB/s eta 0:00:13
     ------------                            4.0/12.3 MB 664.0 kB/s eta 0:00:13
     ------------                            4.1/12.3 MB 677.6 kB/s eta 0:00:13
     -------------                           4.2/12.3 MB 685.8 kB/s eta 0:00:12
     -------------                           4.3/12.3 MB 695.6 kB/s eta 0:00:12
     -------------                           4.4/12.3 MB 707.0 kB/s eta 0:00:12
     --------------                          4.4/12.3 MB 709.9 kB/s eta 0:00:12
     --------------                          4.5/12.3 MB 717.6 kB/s eta 0:00:11
     --------------                          4.6/12.3 MB 728.5 kB/s eta 0:00:11
     --------------                          4.7/12.3 MB 737.8 kB/s eta 0:00:11
     ---------------                         4.7/12.3 MB 742.1 kB/s eta 0:00:11
     ---------------                         4.8/12.3 MB 750.9 kB/s eta 0:00:10
     ---------------                         4.9/12.3 MB 759.9 kB/s eta 0:00:10
     ---------------                         5.0/12.3 MB 767.0 kB/s eta 0:00:10
     ---------------                         5.0/12.3 MB 767.0 kB/s eta 0:00:10
     ----------------                        5.0/12.3 MB 758.9 kB/s eta 0:00:10
     ----------------                        5.1/12.3 MB 762.8 kB/s eta 0:00:10
     ----------------                        5.2/12.3 MB 766.9 kB/s eta 0:00:10
     ----------------                        5.3/12.3 MB 776.7 kB/s eta 0:00:10
     ----------------                        5.3/12.3 MB 777.4 kB/s eta 0:00:09
     ----------------                        5.3/12.3 MB 779.8 kB/s eta 0:00:09
     -----------------                       5.4/12.3 MB 777.3 kB/s eta 0:00:09
     -----------------                       5.4/12.3 MB 780.9 kB/s eta 0:00:09
     -----------------                       5.5/12.3 MB 783.0 kB/s eta 0:00:09
     -----------------                       5.5/12.3 MB 788.5 kB/s eta 0:00:09
     -----------------                       5.6/12.3 MB 788.5 kB/s eta 0:00:09
     ------------------                      5.7/12.3 MB 796.6 kB/s eta 0:00:09
     ------------------                      5.8/12.3 MB 801.0 kB/s eta 0:00:09
     ------------------                      5.9/12.3 MB 811.8 kB/s eta 0:00:08
     ------------------                      5.9/12.3 MB 813.5 kB/s eta 0:00:08
     ------------------                      5.9/12.3 MB 812.3 kB/s eta 0:00:08
     -------------------                     6.0/12.3 MB 816.1 kB/s eta 0:00:08
     -------------------                     6.1/12.3 MB 817.5 kB/s eta 0:00:08
     -------------------                     6.1/12.3 MB 820.6 kB/s eta 0:00:08
     -------------------                     6.2/12.3 MB 825.1 kB/s eta 0:00:08
     -------------------                     6.3/12.3 MB 830.8 kB/s eta 0:00:08
     --------------------                    6.3/12.3 MB 835.5 kB/s eta 0:00:08
     --------------------                    6.4/12.3 MB 842.0 kB/s eta 0:00:07
     --------------------                    6.5/12.3 MB 844.9 kB/s eta 0:00:07
     --------------------                    6.5/12.3 MB 844.9 kB/s eta 0:00:07
     --------------------                    6.5/12.3 MB 844.9 kB/s eta 0:00:07
     --------------------                    6.5/12.3 MB 844.9 kB/s eta 0:00:07
     --------------------                    6.5/12.3 MB 844.9 kB/s eta 0:00:07
     --------------------                    6.5/12.3 MB 844.9 kB/s eta 0:00:07
     --------------------                    6.5/12.3 MB 844.9 kB/s eta 0:00:07
     --------------------                    6.5/12.3 MB 844.9 kB/s eta 0:00:07
     --------------------                    6.5/12.3 MB 844.9 kB/s eta 0:00:07
     --------------------                    6.5/12.3 MB 844.9 kB/s eta 0:00:07
     --------------------                    6.5/12.3 MB 844.9 kB/s eta 0:00:07
     --------------------                    6.6/12.3 MB 803.2 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 803.2 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 803.2 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 803.2 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 803.2 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 803.2 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 803.2 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     --------------------                    6.6/12.3 MB 776.1 kB/s eta 0:00:08
     ---------------------                   6.7/12.3 MB 709.9 kB/s eta 0:00:08
     ---------------------                   6.7/12.3 MB 709.9 kB/s eta 0:00:08
     ---------------------                   6.7/12.3 MB 709.9 kB/s eta 0:00:08
     ---------------------                   6.7/12.3 MB 709.9 kB/s eta 0:00:08
     ---------------------                   6.7/12.3 MB 709.9 kB/s eta 0:00:08
     ---------------------                   6.7/12.3 MB 694.8 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 694.8 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 694.8 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 694.8 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 694.8 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 694.8 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 694.8 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 694.8 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 694.8 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 670.7 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 670.7 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 670.7 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 670.7 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 670.7 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 670.7 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 670.7 kB/s eta 0:00:09
     ---------------------                   6.7/12.3 MB 670.7 kB/s eta 0:00:09
     ---------------------                   6.8/12.3 MB 648.5 kB/s eta 0:00:09
     ---------------------                   6.8/12.3 MB 647.5 kB/s eta 0:00:09
     ---------------------                   6.8/12.3 MB 644.7 kB/s eta 0:00:09
     ---------------------                   6.8/12.3 MB 643.7 kB/s eta 0:00:09
     ---------------------                   6.8/12.3 MB 640.9 kB/s eta 0:00:09
     ---------------------                   6.8/12.3 MB 640.0 kB/s eta 0:00:09
     ---------------------                   6.8/12.3 MB 640.0 kB/s eta 0:00:09
     ---------------------                   6.8/12.3 MB 640.0 kB/s eta 0:00:09
     ---------------------                   6.8/12.3 MB 640.0 kB/s eta 0:00:09
     ---------------------                   6.8/12.3 MB 640.0 kB/s eta 0:00:09
     ---------------------                   6.8/12.3 MB 640.0 kB/s eta 0:00:09
     ---------------------                   6.8/12.3 MB 640.0 kB/s eta 0:00:09
     ---------------------                   6.9/12.3 MB 622.8 kB/s eta 0:00:09
     ---------------------                   6.9/12.3 MB 622.8 kB/s eta 0:00:09
     ---------------------                   6.9/12.3 MB 621.1 kB/s eta 0:00:09
     ---------------------                   6.9/12.3 MB 621.1 kB/s eta 0:00:09
     ---------------------                   6.9/12.3 MB 621.1 kB/s eta 0:00:09
     ---------------------                   6.9/12.3 MB 615.9 kB/s eta 0:00:09
     ---------------------                   6.9/12.3 MB 615.9 kB/s eta 0:00:09
     ---------------------                   6.9/12.3 MB 615.9 kB/s eta 0:00:09
     ---------------------                   6.9/12.3 MB 615.9 kB/s eta 0:00:09
     ---------------------                   6.9/12.3 MB 615.9 kB/s eta 0:00:09

ERROR: Exception:
Traceback (most recent call last):
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_vendor\urllib3\response.py", line 438, in _error_catcher
    yield
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_vendor\urllib3\response.py", line 561, in read
    data = self._fp_read(amt) if not fp_closed else b""
           ^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_vendor\urllib3\response.py", line 527, in _fp_read
    return self._fp.read(amt) if amt is not None else self._fp.read()
           ^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_vendor\cachecontrol\filewrapper.py", line 90, in read
    data = self.__fp.read(amt)
           ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\http\client.py", line 466, in read
    s = self.fp.read(amt)
        ^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\ssl.py", line 1278, in recv_into
    return self.read(nbytes, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\ssl.py", line 1134, in read
    return self._sslobj.read(len, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TimeoutError: The read operation timed out

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\cli\base_command.py", line 169, in exc_logging_wrapper
    status = run_func(*args)
             ^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\cli\req_command.py", line 248, in wrapper
    return func(self, options, args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\commands\install.py", line 377, in run
    requirement_set = resolver.resolve(
                      ^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\resolution\resolvelib\resolver.py", line 92, in resolve
    result = self._result = resolver.resolve(
                            ^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 546, in resolve
    state = resolution.resolve(requirements, max_rounds=max_rounds)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 397, in resolve
    self._add_to_criteria(self.state.criteria, r, parent=None)
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_vendor\resolvelib\resolvers.py", line 173, in _add_to_criteria
    if not criterion.candidates:
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_vendor\resolvelib\structs.py", line 156, in __bool__
    return bool(self._sequence)
           ^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 155, in __bool__
    return any(self)
           ^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 143, in <genexpr>
    return (c for c in iterator if id(c) not in self._incompatible_ids)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\resolution\resolvelib\found_candidates.py", line 47, in _iter_built
    candidate = func()
                ^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\resolution\resolvelib\factory.py", line 206, in _make_candidate_from_link
    self._link_candidate_cache[link] = LinkCandidate(
                                       ^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 293, in __init__
    super().__init__(
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 156, in __init__
    self.dist = self._prepare()
                ^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 225, in _prepare
    dist = self._prepare_distribution()
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\resolution\resolvelib\candidates.py", line 304, in _prepare_distribution
    return preparer.prepare_linked_requirement(self._ireq, parallel_builds=True)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\operations\prepare.py", line 516, in prepare_linked_requirement
    return self._prepare_linked_requirement(req, parallel_builds)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\operations\prepare.py", line 587, in _prepare_linked_requirement
    local_file = unpack_url(
                 ^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\operations\prepare.py", line 166, in unpack_url
    file = get_http_url(
           ^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\operations\prepare.py", line 107, in get_http_url
    from_path, content_type = download(link, temp_dir.path)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\network\download.py", line 147, in __call__
    for chunk in chunks:
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\cli\progress_bars.py", line 53, in _rich_progress_bar
    for chunk in iterable:
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_internal\network\utils.py", line 63, in response_chunks
    for chunk in response.raw.stream(
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_vendor\urllib3\response.py", line 622, in stream
    data = self.read(amt=amt, decode_content=decode_content)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_vendor\urllib3\response.py", line 560, in read
    with self._error_catcher():
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\contextlib.py", line 155, in __exit__
    self.gen.throw(typ, value, traceback)
  File "c:\Users\LENOVO\miniconda3\envs\scraping_brief\Lib\site-packages\pip\_vendor\urllib3\response.py", line 443, in _error_catcher
    raise ReadTimeoutError(self._pool, None, "Read timed out.")
pip._vendor.urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out.

In [3]:
import spacy

# Load the spaCy language model
nlp = spacy.load('en_core_web_sm')

# Sample job titles (replace this with your actual job titles)
job_titles =dataFrame['Job Title']

# Define a function to extract location from job titles
def extract_location(text):
    doc = nlp(text)
    location = []
    for ent in doc.ents:
        if ent.label_ in ['GPE', 'LOC']:  # GPE: Geo-Political Entity, LOC: Location
            location.append(ent.text)
    if "remote" in text.lower():
        location.append("Remote")
    return location

# Create a new 'location' column with extracted locations
location_column = [extract_location(title) for title in job_titles]

# Combine the job titles and locations into a DataFrame (assuming you already have a DataFrame for job titles)
import pandas as pd

data = {
    'Job Title': job_titles,
    'Location': location_column
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

ModuleNotFoundError: No module named 'spacy'

In [5]:
pip install tqdm

Collecting tqdm
  Downloading tqdm-4.65.0-py3-none-any.whl (77 kB)
                                              0.0/77.1 kB ? eta -:--:--
     ---------------                          30.7/77.1 kB ? eta -:--:--
     --------------------                   41.0/77.1 kB 653.6 kB/s eta 0:00:01
     --------------------                   41.0/77.1 kB 653.6 kB/s eta 0:00:01
     -----------------------------------    71.7/77.1 kB 280.5 kB/s eta 0:00:01
     -------------------------------------- 77.1/77.1 kB 251.3 kB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\lenovo\miniconda3\envs\scraping_brief\lib\site-packages (from tqdm) (0.4.6)
Installing collected packages: tqdm
Successfully installed tqdm-4.65.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
dataFrame = dataFrame.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [4]:
dataFrame.head(10)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,48k+ *,"computer science,data quality,genetics,mathema...",",,,,"
1,ocorian,aml/cft & data analyst,"eb√®ne, mauritius",full time,entry-level,48k+ *,"agile,data management,finance,security,,",",,,,"
2,cricut,machine learning engineer,"south jordan, ut, united states",full time,NaN,90k+ *,"agile,architecture,aws,computer science,comput...","career development,,,,"
3,bosch group,application developer & data analyst,"nonantola, italy",full time,entry-level,48k+ *,"engineering,industrial,oracle,power bi,r,r&d",",,,,"
4,publicis groupe,data engineer full time (public sector) usa,"arlington, va, united states",full time,mid-level,108k+,"aws,azure,computer science,consulting,dataflow...","flex hours,flex vacation,parental leave,unlimi..."
5,servicenow,sr staff data scientist - atg,"kirkland, washington, united states",full time,senior-level,184k+,"computer science,deep learning,industrial,mach...","401(k) matching,career development,competitive..."
6,natixis in portugal,vendor management and data quality lead,"porto, portugal",full time,entry-level,39k+ *,"banking,data quality,excel,security,,","gear,,,,"
7,nielseniq,intern (business intelligence service support),"bangkok, thailand",internship,entry-level,NaN,"business intelligence,excel,genetics,,,",",,,,"
8,western digital,summer 2023 data engineering intern,"san jose, ca, united states",internship,entry-level,NaN,"big data,computer science,engineering,machine ...","career development,competitive pay,equity,flex..."
9,palo alto networks,principal cloud data engineer (prisma access),"santa clara, ca, united states",full time,senior-level,140k+,"agile,apis,aws,azure,big data,computer science","career development,medical leave,salary bonus,..."

On essai de afficher les premier lignes de notre data set pour just savoir sa forme.

<ul>
<li>Les valeurs NAN </li>
<p> est ce que on peut remplire ces valeur ? ou bien il faut les supprimer</p>
<li>list des <strong>facilities</strong></li>
<p>une list des que on peut la separer</p>
<li>forme de <strong>salary</strong> "48K+*" </li>
<p>des salaire avec des etoile ,cest quoi la senification de ces etoiles ?, on remarque que on a des salaire sans "*"</p>
<p>On remarque que les salaire sont on deferente davise il faut les unifier.(eur,¬£,$)</p>

<li>les  <strong>job title</strong> on deferente language il faut les unifier on oenlais ou bien en fran√ßais </li>

<li>les  <strong>location</strong> on va les deviser par city,state county</li>


</ul>

In [5]:
print("list of unique Salary :",dataFrame["Salary"].sort_values(ascending=False).unique().tolist())

list of unique Salary : ['GBP 80K+', 'GBP 65K+', 'GBP 60K+', 'GBP 55K+', 'GBP 55K', 'GBP 54K+', 'GBP 51K+', 'GBP 50K+', 'GBP 45K+', 'GBP 42K+', 'GBP 35K', 'EUR 81K', 'EUR 80K+', 'EUR 60K+', 'EUR 36K+', 'EUR 130K+', ' 99K+', ' 98K+', ' 97K+', ' 96K+ *', ' 96K+', ' 95K+ *', ' 95K+', ' 94K+', ' 93K+', ' 92K+ *', ' 90K+ *', ' 90K+', ' 89K+ *', ' 86K+', ' 85K+', ' 84K+', ' 83K+', ' 82K+', ' 81K+ *', ' 81K+', ' 80K+ *', ' 80K+', ' 79K+', ' 78K+', ' 77K+ *', ' 76K+', ' 75K+ *', ' 75K+', ' 74K+ *', ' 74K+', ' 73K+ *', ' 73K+', ' 72K+', ' 71K+', ' 70K+ *', ' 70K+', ' 69K+ *', ' 68K+', ' 67K+', ' 66K+ *', ' 66K+', ' 65K+ *', ' 65K+', ' 63K+ *', ' 63K+', ' 62K+ *', ' 61K+ *', ' 60K+ *', ' 60K+', ' 59K+ *', ' 59K+', ' 57K+ *', ' 56K+ *', ' 55K+ *', ' 55K+', ' 54K+ *', ' 52K+', ' 51K+ *', ' 51K+', ' 50K+ *', ' 50K+', ' 49K+ *', ' 48K+ *', ' 45K+ *', ' 45K+', ' 44K+ *', ' 43K+', ' 42K+ *', ' 40K+ *', ' 40K+', ' 39K+ *', ' 36K+ *', ' 35K+ *', ' 33K+ *', ' 31K+ *', ' 315K+', ' 310K+', ' 30K+ *', ' 295K+', ' 283K+', ' 267K+', ' 253K+', ' 245K+', ' 236K+', ' 235K+', ' 234K+', ' 230K+', ' 227K+', ' 225K+', ' 224K+', ' 220K+', ' 218K+', ' 214K+', ' 207K+', ' 205K+', ' 204K+', ' 202K+', ' 200K+ *', ' 200K+', ' 199K+', ' 197K+', ' 196K+', ' 195K+', ' 193K+', ' 190K+', ' 189K+', ' 187K+', ' 185K+', ' 184K+ *', ' 184K+', ' 183K+', ' 182K+', ' 180K+', ' 179K+', ' 178K+', ' 177K+', ' 176K+', ' 175K+', ' 174K+', ' 173K+', ' 172K+', ' 171K+', ' 170K+', ' 168K+', ' 167K+', ' 166K+', ' 165K+', ' 164K+', ' 163K+', ' 161K+', ' 160K+', ' 159K+', ' 158K+', ' 157K+', ' 156K+', ' 155K+ *', ' 155K+', ' 154K+', ' 153K+', ' 152K+', ' 151K+', ' 150K+', ' 149K+', ' 148K+', ' 147K+', ' 146K+', ' 145K+', ' 144K+ *', ' 144K+', ' 143K+', ' 142K+', ' 141K+ *', ' 141K+', ' 140K+', ' 139K+', ' 138K+', ' 136K+', ' 135K+ *', ' 135K+', ' 134K+', ' 133K+', ' 132K+', ' 131K+ *', ' 131K+', ' 130K+', ' 129K+ *', ' 129K+', ' 128K+', ' 127K+', ' 126K+', ' 125K+', ' 124K+', ' 123K+', ' 122K+ *', ' 122K+', ' 121K+', ' 120K+ *', ' 120K+', ' 119K+', ' 117K+', ' 116K+', ' 115K+ *', ' 115K+', ' 113K+', ' 112K+', ' 111K+', ' 110K+ *', ' 110K+', ' 109K+ *', ' 109K+', ' 108K+', ' 107K+', ' 106K+', ' 105K+ *', ' 105K+', ' 104K+', ' 103K+ *', ' 103K+', ' 102K+ *', ' 102K+', ' 100K+ *', ' 100K+', nan]

In [6]:
dataFrame.Salary.sort_values(ascending=False)

1246    GBP 80K+
2536    GBP 65K+
1384    GBP 60K+
2492    GBP 55K+
2716     GBP 55K
          ...
3126         NaN
3134         NaN
3152         NaN
3159         NaN
3166         NaN
Name: Salary, Length: 3198, dtype: object

In [7]:
print("number of rows :",dataFrame.shape[0])

number of rows : 3198

In [8]:
print("number of columns :",str(dataFrame.shape[1])+" : "+ str(dataFrame.columns))

number of columns : 8 : Index(['Company', 'Job Title', 'Location', 'Job Type', 'Experience level',
       'Salary', 'Requirment of the company ', 'Facilities'],
      dtype='object')

In [9]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     3197 non-null   object
 1   Job Title                   3197 non-null   object
 2   Location                    3197 non-null   object
 3   Job Type                    3197 non-null   object
 4   Experience level            2962 non-null   object
 5   Salary                      3009 non-null   object
 6   Requirment of the company   3198 non-null   object
 7   Facilities                  3198 non-null   object
dtypes: object(8)
memory usage: 200.0+ KB

In [10]:
dataFrame.describe()

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
count,3197,3197,3197,3197,2962,3009,3198,3198
unique,1106,2138,1117,3,4,218,2600,777
top,Publicis Groupe,Data Engineer,"Bengaluru, India",Full Time,Senior-level,115K+ *,"Big Data,Business Intelligence,Data analysis,E...",",,,,"
freq,126,105,90,3116,1876,253,12,542

In [11]:
print("list of unique Job types :",dataFrame["Job Type"].unique())

list of unique Job types : ['Full Time' 'Internship' 'Part Time' nan]

In [12]:
print("list of unique Job Title :",dataFrame["Job Title"].unique())

list of unique Job Title : ['Clinical Data Analyst' 'AML/CFT & Data Analyst'
 'Machine Learning Engineer' ...
 'Application Integration Engineer, Computer Vision Program'
 'Senior Software Engineer, Machine Learning - Ads Intelligence'
 'Data Scientist - New College Graduate']

In [13]:
print("list of unique Experience level	 :",dataFrame["Experience level"].unique())

list of unique Experience level	 : ['Entry-level' nan 'Mid-level' 'Senior-level' 'Executive-level']

#### Duplicates

In [14]:
dataFrame.duplicated().sum()

202

In [15]:
dataFrame.drop_duplicates(inplace=True)

In [16]:
dataFrame.isna().sum()

Company                         1
Job Title                       1
Location                        1
Job Type                        1
Experience level              228
Salary                        172
Requirment of the company       0
Facilities                      0
dtype: int64

# Data Cleaning

#### Salary column

In [17]:
dataFrame["Salary"].isna().sum()

172

In [18]:
dataFrame["Salary"].str.strip()

0       48K+ *
1       48K+ *
2       90K+ *
3       48K+ *
4        108K+
         ...
3190     113K+
3191     106K+
3192     176K+
3193    39K+ *
3196    39K+ *
Name: Salary, Length: 2996, dtype: object

In [19]:
dataFrame[dataFrame["Salary"].isna()].sort_values('Location')

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
669,bunq,Data Science Intern - Large Language Models,"Amsterdam, Noord-Holland, Netherlands",Internship,Entry-level,NaN,"Engineering,FinTech,LLMs,NLP,,","Career development,,,,"
973,bunq,Data Science Intern - Large Language Model,"Amsterdam, Noord-Holland, Netherlands",Internship,Entry-level,NaN,"Engineering,FinTech,LLMs,NLP,,","Career development,,,,"
3073,Definitive Logic,Data Science Intern,"Arlington, VA",Internship,Entry-level,NaN,"Big Data,Consulting,Consulting firm,Data analy...","Career development,Competitive pay,Flex hours,..."
1525,Cube RM,Business Data Analyst Intern,"Athens, Attica, Greece",Internship,Entry-level,NaN,"Agile,Azure,Computer Science,Data analysis,Exc...","Career development,Flex hours,Flex vacation,Ge..."
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
...,...,...,...,...,...,...,...,...
1669,Dentons,Marketing Data Analyst Intern,"Warsaw, Masovian Voivodeship, Poland",Internship,Entry-level,NaN,"Data analysis,Excel,,,,",",,,,"
3166,DNSFilter,Senior Data Scientist,"Washington, District of Columbia, United State...",Full Time,Mid-level,NaN,"AWS,Computer Science,Data analysis,Data visual...","Career development,Flex hours,Flex vacation,He..."
44,REWE International Dienstleistungsgesellschaft...,Junior Data Science Engineer (m/w/x),"Wien, Austria",Full Time,Entry-level,NaN,"CI/CD,Computer Science,Data pipelines,Deep Lea...",",,,,"
1954,Opera,Data Scientist Summer Intern,"Wroclaw, PL",Part Time,Entry-level,NaN,"Computer Science,Data analysis,Data visualizat...","Startup environment,,,,"
797,NaN,NaN,NaN,NaN,NaN,NaN,",,,,,",",,,,"

In [20]:
dataFrame.dropna(thresh=3,inplace=True)

In [21]:
dataFrame[dataFrame["Salary"].isna()]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,NaN,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
39,Angi,Senior Data Scientist,"Indianapolis, IN - Hybrid",Full Time,Senior-level,NaN,"Big Data,Data Mining,Machine Learning,Mathemat...","401(k) matching,Career development,Competitive..."
44,REWE International Dienstleistungsgesellschaft...,Junior Data Science Engineer (m/w/x),"Wien, Austria",Full Time,Entry-level,NaN,"CI/CD,Computer Science,Data pipelines,Deep Lea...",",,,,"
75,Metiora,Data Analyst Intern,"Madrid, Spain",Full Time,Entry-level,NaN,"Matplotlib,MongoDB,NumPy,Pandas,Power BI,Python",",,,,"
...,...,...,...,...,...,...,...,...
3109,METRO/MAKRO,STAGE 6 mois - Data Scientist Junior H/F,"Nanterre, France",Full Time,Entry-level,NaN,"Big Data,Power BI,Python,R,SQL,",",,,,"
3134,Junglee Games,ETL and Data Warehouse Testing Intern,"Bengaluru, Karnataka, India",Internship,Entry-level,NaN,"Computer Science,Data quality,Data warehouse,E...",",,,,"
3152,Lely,"Stage: Computer Science, Robotics, Computer Vi...","Maassluis, Netherlands",Full Time,Entry-level,NaN,"Computer Science,Computer Vision,Engineering,O...",",,,,"
3159,Deezer,Data Analyst Intern m/f/d - Business,"Paris, France",Internship,Entry-level,NaN,"Data analysis,Data pipelines,Data visualizatio...","Career development,Health care,Insurance,Start..."
3166,DNSFilter,Senior Data Scientist,"Washington, District of Columbia, United State...",Full Time,Mid-level,NaN,"AWS,Computer Science,Data analysis,Data visual...","Career development,Flex hours,Flex vacation,He..."

In [22]:
dataFrame["Salary"].fillna('negociable',inplace=True)

In [23]:
dataFrame[dataFrame["Experience level"]=="Entry-level"]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
6,Natixis in Portugal,Vendor Management and Data Quality Lead,"Porto, Portugal",Full Time,Entry-level,39K+ *,"Banking,Data quality,Excel,Security,,","Gear,,,,"
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,negociable,"Business Intelligence,Excel,Genetics,,,",",,,,"
...,...,...,...,...,...,...,...,...
3164,Rackspace,Trainee Data Engineer - R-16792,India - Remote,Full Time,Entry-level,59K+ *,"Architecture,Azure,Big Data,Computer Science,D...","Team events,,,,"
3170,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120K+ *,"Airflow,APIs,Data Analytics,Data pipelines,Dat...",",,,,"
3176,iTech Media,Data Analytics Engineer,Warsaw Remote,Full Time,Entry-level,30K+ *,"Airflow,Data Analytics,Engineering,Finance,Kaf...","Career development,Flex hours,Flex vacation,He..."
3193,Western Digital,Data Scientist - New College Graduate,"Bi√±an, Philippines",Full Time,Entry-level,39K+ *,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [23]:
# pour les valeurs nan on salaire on va les remplacer par "negociable" pour le moment 
#return
# dataFrame["Salary"].replace(['negociable'],'',inplace=True)

Ajout  autre colonne de bonuses (primes).

In [24]:
dataFrame[['Salary', 'Plus']] = dataFrame["Salary"].apply(lambda x: pd.Series(str(x).split("+")))

In [25]:
dataFrame["Plus"].fillna('no bonuses',inplace=True)

Bonuses est une colonnes qui sinifier les primes (*).

In [26]:
dataFrame[dataFrame["Salary"].isna()]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Requirment of the company , Facilities, Plus]
Index: []

Ajout  autre colonne des devises.

In [27]:
dataFrame[['Currency','Salary']] = dataFrame["Salary"][dataFrame["Salary"]!="negociable"].apply(lambda x: pd.Series(str(x).split(" ")))

In [28]:
# les salaire avec des valeurs vides sont on dollar:
# dataFrame['Currency']=dataFrame['Currency'][dataFrame['Salary']=='negociable'].replace('negociable','USD',inplace=True)

In [28]:
# pour les valeurs nan on salaire on va les remplacer par "negociable" pour le moment 
dataFrame[dataFrame["Currency"]== "EUR"]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
324,Bosch Group,Master Data Management Plants (f/m/div.) (sala...,"Karlsruhe, Germany",Full Time,Entry-level,81K,"Agile,Computer Science,Data analysis,Data mana...","Career development,Competitive pay,Salary bonus,,",no bonuses,EUR
456,Mozilla,Sr. Staff Machine Learning Engineer,Remote Germany,Full Time,Senior-level,130K,"Architecture,AWS,Azure,Big Data,Computer Scien...","Career development,Flex vacation,Health care,H...",,EUR
1057,Mozilla,"Staff Product Manager, Machine Learning and Re...",Remote Germany,Full Time,Senior-level,80K,"Agile,Computer Science,Data management,Enginee...","Career development,Flex vacation,Health care,H...",,EUR
1100,Metiora,Data Scientist Senior,"Madrid, Spain",Full Time,Senior-level,36K,"Deep Learning,Machine Learning,Matplotlib,Mong...",",,,,",,EUR
1117,CybelAngel,Senior Data Engineer,"Paris, √éle-de-France, France - Remote",Full Time,Mid-level,60K,"Airflow,BigQuery,Bigtable,Data analysis,Data g...","Career development,Equity,Salary bonus,,",,EUR
1280,Evolution,Software Developer in Data Science Team,"Riga, Latvia",Full Time,Senior-level,36K,"Agile,AWS,Big Data,Classification,Clustering,C...","Career development,Competitive pay,Health care...",,EUR
1467,CITECH,Ing√©nieur Data / Power BI (H/F),"Dijon, France",Full Time,Senior-level,60K,"Azure,Data Analytics,KPIs,PostgreSQL,Power BI,...",",,,,",,EUR

In [29]:
dataFrame['Currency'].replace('','USD',inplace=True)

In [30]:
dataFrame['Currency'][dataFrame['Salary'].isna()]=dataFrame['Currency'].str.replace('nan','--')

In [31]:
dataFrame['Plus'].replace('','no bonuses',inplace=True)

In [32]:
dataFrame['Plus'].replace(' *','bonuses',inplace=True)

In [33]:
dataFrame['Plus'] = dataFrame['Plus'].map({'bonuses': True, 'no bonuses': False})      # Replace string by boolean

In [49]:
print("list of unique Currency :",dataFrame["Currency"].unique().tolist())

list of unique Currency : ['USD', 'EUR', 'GBP']

In [50]:
dataFrame[dataFrame['Currency'].isna()]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Requirment of the company , Facilities, Plus, Currency]
Index: []

In [48]:
dataFrame['Currency'].fillna('--',inplace=True)

In [39]:
dataFrame['Salary'] = dataFrame['Salary'].str.replace('K', '')

In [51]:
# change tonumerique
dataFrame["Salary"]=pd.to_numeric(dataFrame['Salary'], errors='coerce')*1000

In [52]:
dataFrame["Salary"].fillna(0,inplace=True)

In [53]:
dataFrame[dataFrame["Salary"]==0]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,0.0,"Business Intelligence,Excel,Genetics,,,",",,,,",False,USD
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,0.0,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex...",False,USD
39,Angi,Senior Data Scientist,"Indianapolis, IN - Hybrid",Full Time,Senior-level,0.0,"Big Data,Data Mining,Machine Learning,Mathemat...","401(k) matching,Career development,Competitive...",False,USD
44,REWE International Dienstleistungsgesellschaft...,Junior Data Science Engineer (m/w/x),"Wien, Austria",Full Time,Entry-level,0.0,"CI/CD,Computer Science,Data pipelines,Deep Lea...",",,,,",False,USD
75,Metiora,Data Analyst Intern,"Madrid, Spain",Full Time,Entry-level,0.0,"Matplotlib,MongoDB,NumPy,Pandas,Power BI,Python",",,,,",False,USD
...,...,...,...,...,...,...,...,...,...,...
3109,METRO/MAKRO,STAGE 6 mois - Data Scientist Junior H/F,"Nanterre, France",Full Time,Entry-level,0.0,"Big Data,Power BI,Python,R,SQL,",",,,,",False,USD
3134,Junglee Games,ETL and Data Warehouse Testing Intern,"Bengaluru, Karnataka, India",Internship,Entry-level,0.0,"Computer Science,Data quality,Data warehouse,E...",",,,,",False,USD
3152,Lely,"Stage: Computer Science, Robotics, Computer Vi...","Maassluis, Netherlands",Full Time,Entry-level,0.0,"Computer Science,Computer Vision,Engineering,O...",",,,,",False,USD
3159,Deezer,Data Analyst Intern m/f/d - Business,"Paris, France",Internship,Entry-level,0.0,"Data analysis,Data pipelines,Data visualizatio...","Career development,Health care,Insurance,Start...",False,USD
3166,DNSFilter,Senior Data Scientist,"Washington, District of Columbia, United State...",Full Time,Mid-level,0.0,"AWS,Computer Science,Data analysis,Data visual...","Career development,Flex hours,Flex vacation,He...",False,USD

In [54]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2995 entries, 0 to 3196
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     2995 non-null   object
 1   Job Title                   2995 non-null   object
 2   Location                    2995 non-null   object
 3   Job Type                    2995 non-null   object
 4   Experience level            2768 non-null   object
 5   Salary                      2995 non-null   float64
 6   Requirment of the company   2995 non-null   object
 7   Facilities                  2995 non-null   object
 8   Plus                        2995 non-null   bool
 9   Currency                    2995 non-null   object
dtypes: bool(1), float64(1), object(8)
memory usage: 236.9+ KB

##### Experience level

In [55]:
print("list of unique Experience level :",dataFrame["Experience level"].unique().tolist())

list of unique Experience level : ['Entry-level', nan, 'Mid-level', 'Senior-level', 'Executive-level']

In [60]:
dataFrame["Job Title"][dataFrame["Experience level"].isna()].tolist()

['Machine Learning Engineer',
 'Data Analyst - Revenue Optimizer',
 'BI Analyst',
 'Data Science Lead (Hybrid)',
 'Data Analyst, Customer Experience',
 'Data Engineer',
 'HR Data Analyst',
 'Data Product Manager',
 'Finance Business Intelligence , Operations Finance',
 'Data Scientist',
 'Data Manager',
 'Salesforce Administrator/Data Specialist',
 'Business Intelligence Analyst, AWS Cloud Logistics',
 'Machine Learning Manager (Systems)',
 'Product Manager- Data Visualization & Analytics',
 'Data Engineering Manager',
 'Data Analyst, Go Live',
 'Data Engineer',
 'BI Analyst',
 'Marketing Data Analyst',
 'Software Engineer - Machine Learning, Granica Screen',
 'Robotic Research Engineer - Mechatronics',
 'Supervis√£o de Business Intelligence (foco em m√≠dia/comunica√ß√£o)',
 'Data Analyst (Oslo-based)',
 'Business Intelligence Data Strategist',
 'Data Engineer Customer Analytics',
 'Business Intelligence Analyst - Sales Operations',
 'Data Analyst',
 'Data Engineer',
 'Coordinator of Data Operations',
 'Data Scientist',
 'Data Scientist (Pricing)',
 'Data Specialist - Governance',
 'Data Manager',
 'Confirmed Data Analyst - Data Pro Supply',
 'Product Data Analyst s√©nior (h/f) en CDI √† Paris',
 'Backend / Data Engineers II, Cerebro',
 'Data Infrastructure Engineer',
 'Data Science Software Engineer',
 'Data Scientist',
 'Data Engineer II',
 'Business Intelligence Analyst I',
 'QuintoAndar - Analytics Engineer',
 '(Canada) Business Intelligence Engineer',
 'Machine Learning Engineer',
 'Lead Data Scientist - Pricing',
 'Data Scientist - Data Analytics and Infrastructure',
 'Databricks Administrator',
 'Lead Data Engineer- Bangalore',
 'Marketing Data Scientist',
 'Machine Learning Engineer (m/w/x)',
 'Data Scientist',
 'Python Machine Learning Engineer (AdLight)',
 'Middle Product Manager (Data Analysis, Fintech)',
 'Data Manager Zakelijke Markt',
 'Business Intelligence Specialist',
 'Chatbot Engineer',
 'Data Quality Management Specialist',
 'Data Analyst II',
 'Support Ops Manager I, ML Data Operations, FBA Support Operations',
 'Consultant (German Speaking) - Data Analytics',
 'NLP Engineer',
 'Data Analytics Engineer',
 'Data Visualisation Consultant',
 'Financial Data Analyst',
 'Lead-Data Analyst',
 'Data Scientist for Reliability Engineering (M/F/D)',
 'Data Scientist (Data Science Hub)',
 'Clinical Data Manager',
 'Logistics Lead - Imaging',
 'Lead Data Scientist',
 'Data Science Consultant',
 'Data Operations Manager - Link',
 'Data Scientist, Product Growth',
 'Data Scientist, Research',
 'Data Analyst, Product',
 'Business Intelligence Analytics Lead, (Permanent Remote)',
 'Data Engineer',
 'Data Scientist (Customer Acquisition)',
 'AI/ML Data Labeling Manager - UK',
 'Data Engineering Manager',
 'Data Scientist (S&OP)',
 'Big Data Engineer (IT-DA-DS-2023-76-LD)',
 'Data Analytics Manager',
 'AI Compiler and Performance Engineer',
 'Big Data Specialist',
 'Data Scientist (M/F)',
 'Data Engineer (Hong Kong)',
 'Data Engineer with Top Secret',
 'Business Intelligence Analyst - Risk',
 'Simulation and Data Engineer Inductive Sensors (m/f)',
 'Analyst, Data Science',
 'Manager, Business Intelligence',
 'Economist, Pricing and Causal Inference',
 'Data Specialist',
 'QA Data Engineer',
 'Lead Data Engineer',
 'Data Scientist - Product (U.S. only)',
 'Data Operations Analyst',
 'Quality Assurance Engineer, Data Center Engineering',
 'Data Analyst, Medicare Advantage, Remote',
 'Business Intelligence \x96 Data Engineer (Open to Remote)',
 'Clinical Data Manager/Analyst',
 'Analytics Engineer',
 'Frontend Developer (Chatbot)',
 'Data Engineer (F/H)',
 'Data Product Manager - SafeMine Cloud',
 'Security Engineer, Data Security',
 'Data Engineer',
 'Data Analyst (Dublin or Paris)',
 'Data Analyst, Business Optimisation',
 'Robotics Software Developer (multiple positions) - [BGSW]',
 'Data Engineer',
 'Data Engineer (H/F)',
 'Computer Engineer, Computer Vision Hardware (MID//SR)-m/f/d',
 'Data Engineer - Concepteur - D√©veloppeur SQL - BigL',
 'Research Analyst \x96 LNG Short-Term',
 'Computer Engineer, Computer Vision Hardware (MID//SR)',
 'Implementation Data Scientist',
 'Data Analytics Specialist',
 'Tech Lead BI / Power BI CDI - H/F',
 'Data Science Manager',
 'Data Analyst',
 'MLOps Engineer',
 'Financial Data analyst',
 'SAP Consultant for Product Data Management',
 'Manager, Business Operations - Diagnostic Imaging and Laboratory',
 'Computer Engineer, Computer Vision Software and Hardware',
 'Data Engineer',
 'Data Engineer (Infrastructure)',
 'Data Quality Analyst',
 'BI Developer',
 'Manager, Business Intelligence',
 'Cloud Data Scientist',
 'AI Data Manager',
 'Lead Data Engineer (F/H)',
 'Data Strategy Manager (CRM & Loyalty, Consumer Experience, eCommerce)',
 'Data Integration Analyst (West Coast/Chicago)',
 'Gameplay AI programmer',
 'Data Product Manager',
 'Finance Data Analyst',
 'Product Manager - Computer Vision',
 'Data Science Manager, Risk Interventions',
 'Analyst, Data Science',
 'Vice President, Data Strategy',
 'Data Scientist',
 'Data Analyst',
 'Mid Data Scientist',
 'Marketing Data Analyst',
 'Machine Learning Engineer',
 'Business Intelligence Analyst (m/f/d)',
 'Clinical NLP Engineer',
 'Personal Assistant to the CIO (AI Asset Mgmt Team)',
 'Data Scientist, Marketing & Sales',
 'Data Analyst',
 'Portfolio Data Feeds - Portfolio Data Analyst',
 'Application Infrastructure Consulting (Aic) - 22662 - 22663',
 'Data Scientist (F/H)',
 'Lead Data Manager',
 'IT Data Engineer - Private Banking',
 'Healthcare Data Analyst',
 'Data Scientist (m/f/d)',
 'Data Analyst \x96 CRM',
 'Event manager (AI House)',
 'Data Analytics Engineer H/F',
 'Data Analyst',
 'Data Engineer (TS/SCI clearance)',
 'Java Full Stack Developer-Robotics (Colorado only)',
 'Full stack Data Scientist',
 'SQL Server and ETL Support Engineer (Tier 1/Tier 2)',
 'Data Analyst (Trust, Safety & CX Automation Products)',
 'Product Data Analyst',
 'Hardware Analysis Engineer (Airbag System)',
 'ML Engineer',
 'Data Analyst',
 'Data Operations Manager',
 'Business Intelligence Analyst supporting the Operations and Customer teams',
 'Analytics Engineer',
 'Unreal Engine 3D developer (Zibra AI)',
 'Qlik Data Analyst',
 'Data Scientist',
 'Research Engineer \x96 Electrolysis and Fuel Cell Experiments',
 'Analytics Engineer - ENA London, Warsaw (F/M)',
 'Sales B2B (ZibraAI)',
 'Machine Learning Engineer',
 'Consultant(e) confirm√©(e) ETL',
 'Machine Learning Engineer',
 'Chatbot Specialist',
 '[10418 ] Data Developer Master, Brazil',
 'DB/ETL Tech Lead',
 'Data engineer',
 'Data Analyst',
 'Data Engineer - TheFork',
 'Data Developer, Client Experience Metrics',
 'Quant Researcher (AI Asset Mgmt Team)',
 'Software Engineer for Real-Driving Data Analysis Applications',
 'Lead Data Engineer',
 'Machine Learning Engineer',
 'Data Engineer',
 'Data Engineer',
 'Developer - Big Data',
 'Machine Learning Engineer II',
 'Data Scientist',
 'Engineer I (MLOps)',
 'Data Scientist (TS/SCI clearance)',
 'Machine Learning Solutions Engineer',
 'Product Manager, AI/ML',
 'Machine Learning Specialist',
 'Research Scientist',
 'Analytics Engineer - Ads Business Insights',
 'Data Analyst - London',
 'Data Engineer - 14072',
 'Data Scientist',
 'Data Engineer',
 'Manager, Data Analytics',
 'MLOps Engineer - AI (Remote, India)',
 'Data Engineer (TS/SCI clearance)',
 'Consultant Data Visualisation - H/F',
 'Sustainability Data Analyst',
 'Data Visualisation Consultant',
 'Data Analyst',
 'FAIR Data Lead',
 'Agronomy Data Scientist (M/W) - CDI',
 'Data Engineer',
 'Data Operations Engineer',
 'Data Engineer',
 'Data Engineer (Contractor)']

In [56]:
dataFrame['Facilities'] = dataFrame['Facilities'].str.replace(',,,,', '')

In [44]:
dataFrame["Experience level"].fillna('not-specified',inplace=True)

In [45]:
dataFrame["Experience level"]=dataFrame["Experience level"].str.replace('not-required','not-specified')

In [46]:
#Categorier les "Experience level" colonnes
data = pd.get_dummies(dataFrame, columns=['Experience level'])

In [47]:
data

,Company,Job Title,Location,Job Type,Salary,Requirment of the company,Facilities,Plus,Currency,Experience level_Entry-level,Experience level_Executive-level,Experience level_Mid-level,Experience level_Senior-level,Experience level_not-specified
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,48000.0,"Computer Science,Data quality,Genetics,Mathema...",,True,USD,1,0,0,0,0
1,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,48000.0,"Agile,Data management,Finance,Security,,",,True,USD,1,0,0,0,0
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,90000.0,"Agile,Architecture,AWS,Computer Science,Comput...",Career development,True,USD,0,0,0,0,1
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,48000.0,"Engineering,Industrial,Oracle,Power BI,R,R&D",,True,USD,1,0,0,0,0
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,108000.0,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi...",False,USD,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,113000.0,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,...",False,USD,0,0,1,0,0
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,106000.0,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,",False,USD,0,0,1,0,0
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,176000.0,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu...",False,USD,0,0,0,1,0
3193,Western Digital,Data Scientist - New College Graduate,"Bi√±an, Philippines",Full Time,39000.0,"APIs,Clustering,Computer Science,Data visualiz...",Career development,True,USD,1,0,0,0,0
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,39000.0,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,",True,USD,1,0,0,0,0

#### Requirment of the company et Facilities

In [48]:
dataFrame[dataFrame["Company"]=='ATB Financial']

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
1585,ATB Financial,Data Analyst,"Edmonton, Alberta, Canada",Full Time,Mid-level,65000.0,"Agile,Banking,Business Analytics,Computer Scie...","Flex hours,Flex vacation,Health care,Startup e...",True,USD
2717,ATB Financial,"Data Developer, Client Experience Metrics","Alberta, Canada - Remote",Full Time,not-specified,56000.0,"Architecture,Banking,Computer Science,CX,Distr...","Career development,Flex vacation,Startup envir...",True,USD
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,",True,USD

In [49]:
def split_comma_column_values (colum_name_comma_value,dataFrame) :
    dataFrame[colum_name_comma_value] = dataFrame[colum_name_comma_value].str.split(',')
    new_df = dataFrame.explode(colum_name_comma_value)
    new_df = new_df.reset_index(drop=True)
    new_df[colum_name_comma_value].str.strip()
    new_df.drop_duplicates(inplace=True)
    return new_df

In [50]:
dataFrame=split_comma_column_values ('Facilities',dataFrame)

In [51]:
dataFrame.sample(10)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
9580,Block,"Senior Data Analyst, Credit Policy","San Francisco, CA, United States",Full Time,Senior-level,110000.0,"Banking,Blockchain,Credit risk,Crypto,CX,Data ...",Health care,False,USD
4025,Block,"Senior Software Engineer, Data Safety","Los Angeles, CA, United States",Full Time,Senior-level,156000.0,"APIs,AWS,Banking,Big Data,Blockchain,Crypto",Insurance,False,USD
3296,"Fastly, Inc.",Senior People Data Analyst - Workday,"New York City, NY",Full Time,Senior-level,113000.0,"Agile,APIs,Business Analytics,Business Intelli...",Health care,False,USD
3261,GOURMEY,Data Science Intern,"Paris, √éle-de-France, France",Internship,Entry-level,0.0,"Agile,Data Analytics,Data management,Engineeri...",Health care,False,NaN
8422,Deezer,Data Engineer Intern m/f/d - Industry Team,"Paris, France",Internship,Entry-level,0.0,"APIs,Big Data,BigQuery,Data pipelines,Engineer...",,False,NaN
3321,Jellyfish,Senior data analyst,"Paris, France",Full Time,Senior-level,92000.0,"Agile,AWS,Azure,Data analysis,Data Analytics,D...",Salary bonus,True,USD
9647,Sertis,Data Analyst - Business Insights,Bangkok,Full Time,Senior-level,92000.0,"Banking,Computer Vision,Consulting,Excel,Marke...",,True,USD
9338,Beyond Finance,Senior Data Engineer,"Chicago, IL",Full Time,Senior-level,141000.0,"Airflow,Ansible,Architecture,AWS,BigQuery,Comp...",Health care,False,USD
6321,Snyk,"Director, Engineering - ML / AI",London,Full Time,Executive-level,73000.0,"Engineering,Machine Learning,R,R&D,Research,Se...",Flex hours,True,USD
10264,Nextdoor,Senior/Staff Machine Learning Engineer - Ads,US Remote,Full Time,Senior-level,180000.0,"Biology,Computer Science,Engineering,Machine L...",Equity,False,USD

In [52]:
print("list of unique Facilities :",dataFrame["Facilities"].unique().tolist()),"Length :"+str(len(dataFrame["Facilities"].unique().tolist()))

list of unique Facilities : ['', 'Career development', 'Flex hours', 'Flex vacation', 'Parental leave', 'Unlimited paid time off', '401(k) matching', 'Competitive pay', 'Equity', 'Gear', 'Health care', 'Medical leave', 'Salary bonus', 'Startup environment', 'Team events', 'Home office stipend', 'Insurance', 'Fitness / gym', 'Relocation support', 'Fertility benefits', 'Conferences', 'Cell phone stipend', 'Wellness', 'Transparency', 'Lunch / meals', 'Yoga', 'Flexible spending account', 'Travel', 'Snacks / Drinks', 'Paid sabbatical', 'Pet friendly', 'Flat hierarchy', 'Signing bonus', 'Contract', 'Freelance']

(None, 'Length :35')

In [53]:
dataFrame['Facilities'][dataFrame['Facilities'].str.fullmatch('')]=dataFrame['Facilities'][dataFrame['Facilities'].str.fullmatch('')].str.replace('', 'no-Facilities')

C:\Users\Youcode\AppData\Local\Temp\ipykernel_90516\2557170505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame['Facilities'][dataFrame['Facilities'].str.fullmatch('')]=dataFrame['Facilities'][dataFrame['Facilities'].str.fullmatch('')].str.replace('', 'no-Facilities')

In [54]:
dataFrame[dataFrame['Facilities']=='no-Facilities']

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,"Computer Science,Data quality,Genetics,Mathema...",no-Facilities,True,USD
1,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,48000.0,"Agile,Data management,Finance,Security,,",no-Facilities,True,USD
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48000.0,"Engineering,Industrial,Oracle,Power BI,R,R&D",no-Facilities,True,USD
8,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108000.0,"AWS,Azure,Computer Science,Consulting,Dataflow...",no-Facilities,False,USD
15,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,0.0,"Business Intelligence,Excel,Genetics,,,",no-Facilities,False,NaN
...,...,...,...,...,...,...,...,...,...,...
11117,C3.ai,Lead Data Scientist - Healthcare,"London, UK",Full Time,Senior-level,129000.0,"Architecture,Classification,Computer Science,D...",no-Facilities,True,USD
11123,C3.ai,Data Scientist / Senior Data Scientist (Federal),"Tysons, VA; Dayton, OH; Redwood City, CA",Full Time,Senior-level,123000.0,"Architecture,Classification,Computer Science,C...",no-Facilities,False,USD
11133,C3.ai,Data Science Instructor,"Redwood City, California",Full Time,Senior-level,109000.0,"Architecture,Clustering,ETL,Jupyter,Machine Le...",no-Facilities,False,USD
11157,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106000.0,"Bayesian,Classification,Clustering,Data analys...",no-Facilities,False,USD
11168,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,"Computer Science,Data Analytics,Data Mining,Ec...",no-Facilities,True,USD

In [55]:
dataFrame=split_comma_column_values ("Requirment of the company ",dataFrame)

In [56]:
dataFrame

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Computer Science,no-Facilities,True,USD
1,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Data quality,no-Facilities,True,USD
2,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Genetics,no-Facilities,True,USD
3,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Mathematics,no-Facilities,True,USD
4,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,SAS,no-Facilities,True,USD
...,...,...,...,...,...,...,...,...,...,...
60325,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Data Analytics,no-Facilities,True,USD
60326,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Data Mining,no-Facilities,True,USD
60327,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Economics,no-Facilities,True,USD
60328,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Engineering,no-Facilities,True,USD
60329,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,GCP,no-Facilities,True,USD

In [57]:
print("list of unique Requirment of the company :",dataFrame["Requirment of the company "].unique().tolist()),"Length :"+str(len(dataFrame["Requirment of the company "].unique().tolist()))

list of unique Requirment of the company : ['Computer Science', 'Data quality', 'Genetics', 'Mathematics', 'SAS', 'Statistics', 'Agile', 'Data management', 'Finance', 'Security', '', 'Architecture', 'AWS', 'Computer Vision', 'Deep Learning', 'Engineering', 'Industrial', 'Oracle', 'Power BI', 'R', 'R&D', 'Azure', 'Consulting', 'Dataflow', 'Data pipelines', 'Machine Learning', 'NLP', 'NumPy', 'Banking', 'Excel', 'Business Intelligence', 'Big Data', 'Matlab', 'APIs', 'Data analysis', 'Keras', 'PhD', 'Business Analytics', 'Economics', 'Data Analytics', 'Market research', 'Privacy', 'Spark', 'BigQuery', 'LLMs', 'Pandas', 'Python', 'CUDA', 'Docker', 'Git', 'GitHub', 'GitLab', 'Redshift', 'Data warehouse', 'Looker', 'Data visualization', 'Metabase', 'E-commerce', 'Airflow', 'Clustering', 'Data governance', 'Data Mining', 'Blockchain', 'Databricks', 'SQL', 'CI/CD', 'DevOps', 'ETL', 'Crypto', 'Fraud risk', 'Tableau', 'Cybernetics', 'DataRobot', 'A/B testing', 'Angular', 'JavaScript', 'Data Warehousing', 'KPIs', 'ML models', 'Pipelines', 'Classification', 'Bigtable', 'Distributed Systems', 'GCP', 'Generative modeling', 'DataOps', 'Research', 'Testing', 'Hadoop', 'Dagster', 'Physics', 'Causal inference', 'CX', 'Autonomous Driving', 'Linux', 'Matplotlib', 'MongoDB', 'Jira', 'React', 'Consulting firm', 'MySQL', 'GANs', 'Athena', 'Cassandra', 'ELT', 'Snowflake', 'Econometrics', 'Biology', 'BERT', 'Chatbots', 'Dataproc', 'NoSQL', 'ASR', 'FinTech', 'Prototyping', 'Ansible', 'Elasticsearch', 'Credit risk', 'Google Cloud', 'Feature engineering', 'EDA', 'Data strategy', 'JSON', 'Model design', 'Airtable', 'PostgreSQL', 'DynamoDB', 'Bayesian', 'EC2', 'Kubernetes', 'OOP', 'Grafana', 'Diffusion models', 'Drug discovery', 'Kafka', 'AI strategy', 'GPT', 'Drones', 'Bitbucket', 'MLFlow', 'Conversational AI', 'ICLR', 'ICML', 'FiveTran', 'AI governance', 'Robotics', 'Scrum', 'Scala', 'Model training', 'SLAM', 'Streaming', 'Chemistry', 'CAD', 'HuggingFace', 'Cluster analysis', 'Qlik', 'Data Studio', 'Nonprofit', 'Avro', 'MS SQL', 'Healthcare technology', 'API Development', 'UX', 'Ruby', 'CMake', 'Open Source', 'Golang', 'Linear algebra', 'Machine intelligence', 'Caffe', 'VR', 'Jupyter', 'Lambda', 'Predictive modeling', 'Amplitude', 'MXNet', 'ChatGPT', 'Kinesis', 'TypeScript', 'DICOM', 'LangChain', 'Unstructured data', 'PHP', 'GPT-3', 'GPT-4', 'Azkaban', 'GPU', 'RDBMS', 'Flink', 'Haystack', 'Driver\x92s license', 'Flask', 'Kanban', 'Parquet', 'OpenCV', 'STEM', 'MLOps', 'Plotly', 'D3', 'Circuit Design', 'EMNLP', 'ML infrastructure', 'Kubeflow', '3D Reconstruction', 'CSV', 'Elixir', 'OLAP', 'Julia', 'HPC', 'DB2', 'ECS', 'Content creation', 'Perl', 'Teaching', 'TensorFlow', 'ITIL', 'PyTorch', 'Lua', 'OpenAI', 'OCR', 'Pentaho', 'XML', 'XSD', 'AGI', 'DALL-E', 'Model inference', 'GloVe', 'Node.js', 'Informatica', 'OKR', 'Lidar', 'Periscope', 'SharePoint', 'HBase', 'PySpark', 'SSIS', 'NLTK', 'AIStats', 'Autoregressive models', 'Microservices', 'Minitab', 'SDLC', 'LookML', 'Core ML', 'Django', 'cuDNN', 'Anaconda', 'AI art', 'JAX', 'QlikView', '3D graphics', 'SDL', 'Vue', 'Biochemistry', 'AI content', 'REST API', 'KNIME', 'Alpaca', 'NLG', 'ANN', 'NeurIPS', 'Fortran', 'Transformers', 'Clinical NLP', 'Teradata', 'Kibana', 'HDFS', 'Arrow', 'C++', '.NET', 'Travel', 'fastai', 'Horovod', 'ISO 27001', 'Copywriting', 'HiveQL', 'Splunk', 'LightGBM', 'Clojure', 'SIMD', 'ELK', 'Model deployment', 'CoreML', 'TDD', 'Recommender systems', 'Maven']

(None, 'Length :286')

In [58]:
dataFrame[dataFrame["Job Title"]=='AML/CFT & Data Analyst']

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
6,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,48000.0,Agile,no-Facilities,True,USD
7,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,48000.0,Data management,no-Facilities,True,USD
8,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,48000.0,Finance,no-Facilities,True,USD
9,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,48000.0,Security,no-Facilities,True,USD
10,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,48000.0,,no-Facilities,True,USD
44472,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,42000.0,Agile,no-Facilities,True,USD
44473,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,42000.0,Data management,no-Facilities,True,USD
44474,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,42000.0,Finance,no-Facilities,True,USD
44475,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,42000.0,Security,no-Facilities,True,USD
44476,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,42000.0,,no-Facilities,True,USD

In [59]:
df_index = dataFrame[(dataFrame["Requirment of the company "] == '') & (dataFrame['Facilities'] == 'no-Facilities')].index
dataFrame.drop(df_index , inplace=True)
dataFrame.head(15)

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Computer Science,no-Facilities,True,USD
1,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Data quality,no-Facilities,True,USD
2,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Genetics,no-Facilities,True,USD
3,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Mathematics,no-Facilities,True,USD
4,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,SAS,no-Facilities,True,USD
5,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Statistics,no-Facilities,True,USD
6,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,48000.0,Agile,no-Facilities,True,USD
7,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,48000.0,Data management,no-Facilities,True,USD
8,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,48000.0,Finance,no-Facilities,True,USD
9,Ocorian,AML/CFT & Data Analyst,"Eb√®ne, Mauritius",Full Time,Entry-level,48000.0,Security,no-Facilities,True,USD
12,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,not-specified,90000.0,Agile,Career development,True,USD
13,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,not-specified,90000.0,Architecture,Career development,True,USD
14,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,not-specified,90000.0,AWS,Career development,True,USD
15,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,not-specified,90000.0,Computer Science,Career development,True,USD
16,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,not-specified,90000.0,Computer Vision,Career development,True,USD

In [60]:
dataFrame[(dataFrame["Requirment of the company "] == '') & (dataFrame['Facilities'] == 'no-Facilities')]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Requirment of the company , Facilities, Plus, Currency]
Index: []

In [61]:
dataFrame['Currency'][dataFrame["Salary"] == 0]=dataFrame['Currency'].fillna('--')

C:\Users\Youcode\AppData\Local\Temp\ipykernel_90516\658576616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataFrame['Currency'][dataFrame["Salary"] == 0]=dataFrame['Currency'].fillna('--')

In [62]:
dataFrame[dataFrame["Salary"] >12000]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Computer Science,no-Facilities,True,USD
1,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Data quality,no-Facilities,True,USD
2,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Genetics,no-Facilities,True,USD
3,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Mathematics,no-Facilities,True,USD
4,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48000.0,SAS,no-Facilities,True,USD
...,...,...,...,...,...,...,...,...,...,...
60325,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Data Analytics,no-Facilities,True,USD
60326,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Data Mining,no-Facilities,True,USD
60327,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Economics,no-Facilities,True,USD
60328,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,Engineering,no-Facilities,True,USD
60329,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39000.0,GCP,no-Facilities,True,USD

### Location

In [63]:
dataFrame[['City_State_Location', 'Country_Location']] = dataFrame['Location'].str.split(",",n=1, expand = True)

In [64]:
locationgrop=dataFrame[(dataFrame['Country_Location'].isna()) | (dataFrame['City_State_Location'].isna())].groupby('Company')
locationgrop.first()

,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency,City_State_Location,Country_Location
Company,,,,,,,,,,,
2K,"Senior Data Engineer, Platforms",United States,Full Time,Senior-level,115000.0,Airflow,Career development,True,USD,United States,None
2U,Data Engineer III,US-MD-Lanham//US-Remote,Full Time,Senior-level,115000.0,AWS,401(k) matching,True,USD,US-MD-Lanham//US-Remote,None
3Cloud,QA Data Engineer,Remote in Philippines,Full Time,not-specified,96000.0,Agile,Competitive pay,True,USD,Remote in Philippines,None
3Pillar Global,Senior Software Engineer - Data analytics,India,Full Time,Senior-level,49000.0,Agile,Career development,True,USD,India,None
"6sense Insights, Inc.",Senior Data Scientist,India,Full Time,Senior-level,129000.0,APIs,Career development,True,USD,India,None
...,...,...,...,...,...,...,...,...,...,...,...
iTech Media,Commercial Data Analyst,London or Remote UK,Full Time,Senior-level,92000.0,APIs,Career development,True,USD,London or Remote UK,None
komoot,Senior Analytics Engineer,Germany - Remote,Full Time,Senior-level,110000.0,Airflow,Career development,True,USD,Germany - Remote,None
myAgro,Data Analytics Manager,Remote,Full Time,not-specified,120000.0,Business Analytics,Career development,True,USD,Remote,None
takealot.com,Data Analyst,Cape Town,Full Time,not-specified,80000.0,AWS,Career development,True,USD,Cape Town,None
tiket.com,Data Engineer Intern,Jakarta,Internship,Entry-level,0.0,Airflow,no-Facilities,False,--,Jakarta,None

In [65]:
# !pip install pycountry

In [ ]:
import pycountry
text = dataFrame["Location"][60325]
for country in pycountry.countries:
    if country.name in text:
        print(country.name)

Canada

In [ ]:
dataFrame["Location"][60325]

'Edmonton, Alberta, Canada'

### Job Title

In [7]:
pip install fuzzywuzzy

Collecting fuzzywuzzyNote: you may need to restart the kernel to use updated packages.

  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [ ]:
from fuzzywuzzy import fuzz

def find_job_title(text):
    data_scientist_job_titles = [
        "Data Scientist", "Machine Learning Engineer", "Data Analyst", 
        "Data Engineer", "Business Intelligence Analyst", "Data Science Lead", 
        "Data Modeler", "Data Visualization Analyst", "Senior Data Scientist", 
        "Data Product Owner", "Data Scientist Intern", "Data Management Consultant", 
        "Junior Data Scientist", "Lead Data Scientist", "Staff Data Scientist", 
        "Principal Data Scientist", "Data Scientist II", "Data Science Manager", 
        "Data Science Analyst", "Data Science Intern", "Associate Data Scientist", 
        "Big Data Engineer", "Senior Machine Learning Engineer", "Senior Data Engineer",
        "Senior Business Intelligence Analyst", "Machine Learning Research Engineer",
        "Artificial Intelligence Lead", "Junior Data Analyst", "Senior Data Analyst"
        # Add more job titles as needed
    ]
    
    best_matched_title = None
    best_matched_score = 0
    
    for job_title in data_scientist_job_titles:
        score = fuzz.WRatio(text, job_title)
        if score > best_matched_score:
            best_matched_score = score
            best_matched_title = job_title
            
    if best_matched_score >= 90:
        return best_matched_title
    else:
        return text

df['Job Title'] = df['Job Title'].apply(find_job_title)

In [64]:
pip install langdetect

Collecting langdetect
  Downloading langdetect-1.0.9.tar.gz (981 kB)
                                              0.0/981.5 kB ? eta -:--:--
     -                                     30.7/981.5 kB 660.6 kB/s eta 0:00:02
     ----                                   122.9/981.5 kB 1.4 MB/s eta 0:00:01
     -------                                194.6/981.5 kB 1.5 MB/s eta 0:00:01
     -----------                            307.2/981.5 kB 1.7 MB/s eta 0:00:01
     --------------                         368.6/981.5 kB 1.5 MB/s eta 0:00:01
     ----------------                       430.1/981.5 kB 1.6 MB/s eta 0:00:01
     -------------------                    512.0/981.5 kB 1.7 MB/s eta 0:00:01
     ----------------------                 573.4/981.5 kB 1.6 MB/s eta 0:00:01
     ----------------------                 593.9/981.5 kB 1.6 MB/s eta 0:00:01
     --------------------------             675.8/981.5 kB 1.5 MB/s eta 0:00:01
     ----------------------------           737.3/981.5 kB 1.5 MB/s eta 0:00:01
     -------------------------------        809.0/981.5 kB 1.6 MB/s eta 0:00:01
     --------------------------------       839.7/981.5 kB 1.4 MB/s eta 0:00:01
     ----------------------------------     901.1/981.5 kB 1.4 MB/s eta 0:00:01
     -------------------------------------  972.8/981.5 kB 1.4 MB/s eta 0:00:01
     -------------------------------------  972.8/981.5 kB 1.4 MB/s eta 0:00:01
     -------------------------------------- 981.5/981.5 kB 1.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six in c:\users\lenovo\miniconda3\envs\scraping_brief\lib\site-packages (from langdetect) (1.16.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py): started
  Building wheel for langdetect (setup.py): finished with status 'done'
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993253 sha256=f9a57e952a53cfde3ea78ab445f82db245534932f45a871dd3878ced1ea135dd
  Stored in directory: c:\users\lenovo\appdata\local\pip\cache\wheels\0a\f2\b2\e5ca405801e05eb7c8ed5b3b4bcf1fcabcd6272c167640072e
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.9
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install tqdm

In [6]:
from mtranslate import translate
import langdetect
from tqdm import tqdm  


def translate_with_retry(text):
    return translate(str(text), 'en')

def is_english(text):
    try:
       #remove imojis befor virifying language
        lang = langdetect.detect(text)
        return lang == 'en'
    except langdetect.LangDetectException:
        return False



translated_lines = []
for index, line in tqdm(dataFrame.iterrows()):
    text =line['Job Title']
# i comment it just to see what is hapning
    if isinstance(text, float):
            text = str(description)

    if text and text.strip():  # Skip empty or whitespace-only descriptions
        
        if not is_english(text):
            try:
                    # Translate the non-English description with retry logic
                translated_text = translate_with_retry(text)
                line['Job Title'] = translated_text
            except Exception as e:
                print(f"Translation failed for TEXT: {text}. Error: {str(e)}")
        else:
            print("Skipping translation for TEXT as it is already in English.")
    else:
        print("Skipping translation for empty or whitespace-only TEXT.")

    translated_lines.append(line)
description_trn={'Job Title':translated_lines}

2it [00:03,  1.69s/it]

Skipping translation for TEXT as it is already in English.

7it [00:06,  1.51it/s]

Skipping translation for TEXT as it is already in English.

11it [00:08,  1.68it/s]

Skipping translation for TEXT as it is already in English.

14it [00:09,  1.95it/s]

Skipping translation for TEXT as it is already in English.

16it [00:10,  2.47it/s]

Skipping translation for TEXT as it is already in English.

20it [00:11,  2.48it/s]

Skipping translation for TEXT as it is already in English.

23it [00:12,  2.42it/s]

Skipping translation for TEXT as it is already in English.

25it [00:13,  2.66it/s]

Skipping translation for TEXT as it is already in English.

30it [00:15,  2.29it/s]

Skipping translation for TEXT as it is already in English.

37it [00:19,  1.98it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

45it [00:22,  2.18it/s]

Skipping translation for TEXT as it is already in English.

48it [00:23,  2.46it/s]

Skipping translation for TEXT as it is already in English.

53it [00:25,  2.07it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

56it [00:26,  3.11it/s]

Skipping translation for TEXT as it is already in English.

60it [00:27,  3.18it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

71it [00:33,  3.51it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

73it [00:34,  2.70it/s]

Skipping translation for TEXT as it is already in English.

83it [00:40,  1.50it/s]

Skipping translation for TEXT as it is already in English.

85it [00:40,  2.07it/s]

Skipping translation for TEXT as it is already in English.

87it [00:41,  2.54it/s]

Skipping translation for TEXT as it is already in English.

90it [00:42,  2.49it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

98it [00:46,  1.95it/s]

Skipping translation for TEXT as it is already in English.

108it [00:49,  4.67it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

112it [00:51,  3.17it/s]

Skipping translation for TEXT as it is already in English.

118it [00:54,  2.15it/s]

Skipping translation for TEXT as it is already in English.

129it [00:57,  5.11it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

132it [00:58,  3.36it/s]

Skipping translation for TEXT as it is already in English.

137it [01:01,  2.03it/s]

Skipping translation for TEXT as it is already in English.

140it [01:01,  2.94it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

146it [01:03,  3.64it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

149it [01:05,  2.12it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

153it [01:06,  2.72it/s]

Skipping translation for TEXT as it is already in English.

158it [01:07,  4.70it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

159it [01:07,  3.75it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

166it [01:09,  5.18it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

167it [01:09,  4.11it/s]

Skipping translation for TEXT as it is already in English.

170it [01:10,  3.06it/s]

Skipping translation for TEXT as it is already in English.

178it [01:14,  2.95it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

179it [01:14,  2.53it/s]

Skipping translation for TEXT as it is already in English.

183it [01:16,  2.33it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

188it [01:17,  2.84it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

194it [01:19,  2.92it/s]

Skipping translation for TEXT as it is already in English.

196it [01:20,  3.07it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

204it [01:21,  7.57it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

208it [01:21, 11.30it/s]

Skipping translation for TEXT as it is already in English.

213it [01:21,  9.11it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

215it [01:22,  4.77it/s]

Skipping translation for TEXT as it is already in English.

217it [01:23,  4.67it/s]

Skipping translation for TEXT as it is already in English.

222it [01:24,  4.94it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

225it [01:25,  3.36it/s]

Skipping translation for TEXT as it is already in English.

227it [01:26,  3.69it/s]

Skipping translation for TEXT as it is already in English.

230it [01:26,  4.36it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

233it [01:27,  3.29it/s]

Skipping translation for TEXT as it is already in English.

238it [01:31,  1.60it/s]

Skipping translation for TEXT as it is already in English.

241it [01:32,  1.94it/s]

Skipping translation for TEXT as it is already in English.

251it [01:37,  2.07it/s]

Skipping translation for TEXT as it is already in English.

255it [01:39,  2.48it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

258it [01:40,  2.76it/s]

Skipping translation for TEXT as it is already in English.

260it [01:40,  3.03it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

265it [01:41,  4.95it/s]

Skipping translation for TEXT as it is already in English.

267it [01:41,  4.28it/s]

Skipping translation for TEXT as it is already in English.

269it [01:42,  3.85it/s]

Skipping translation for TEXT as it is already in English.

273it [01:43,  5.03it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

274it [01:43,  4.08it/s]

Skipping translation for TEXT as it is already in English.

279it [01:45,  2.49it/s]

Skipping translation for TEXT as it is already in English.

285it [01:47,  3.26it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

286it [01:48,  2.62it/s]

Skipping translation for TEXT as it is already in English.

289it [01:49,  2.47it/s]

Skipping translation for TEXT as it is already in English.

292it [01:50,  2.73it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

299it [01:53,  2.28it/s]

Skipping translation for TEXT as it is already in English.

302it [01:54,  2.33it/s]

Skipping translation for TEXT as it is already in English.

304it [01:55,  2.47it/s]

Skipping translation for TEXT as it is already in English.

307it [01:56,  2.49it/s]

Skipping translation for TEXT as it is already in English.

313it [01:57,  4.42it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

317it [01:59,  2.63it/s]

Skipping translation for TEXT as it is already in English.

326it [02:03,  2.07it/s]

Skipping translation for TEXT as it is already in English.

328it [02:03,  2.56it/s]

Skipping translation for TEXT as it is already in English.

334it [02:06,  2.03it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

341it [02:07,  4.45it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

348it [02:10,  3.74it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

353it [02:13,  1.97it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

357it [02:14,  2.60it/s]

Skipping translation for TEXT as it is already in English.

359it [02:15,  2.83it/s]

Skipping translation for TEXT as it is already in English.

364it [02:16,  2.92it/s]

Skipping translation for TEXT as it is already in English.

365it [02:17,  2.41it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

368it [02:17,  3.43it/s]

Skipping translation for TEXT as it is already in English.

370it [02:18,  3.49it/s]

Skipping translation for TEXT as it is already in English.

373it [02:19,  2.74it/s]

Skipping translation for TEXT as it is already in English.

376it [02:21,  2.54it/s]

Skipping translation for TEXT as it is already in English.

379it [02:22,  2.61it/s]

Skipping translation for TEXT as it is already in English.

383it [02:23,  2.20it/s]

Skipping translation for TEXT as it is already in English.

388it [02:25,  3.55it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

389it [02:25,  3.01it/s]

Skipping translation for TEXT as it is already in English.

395it [02:26,  4.95it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

397it [02:27,  4.21it/s]

Skipping translation for TEXT as it is already in English.

398it [02:28,  3.33it/s]

Skipping translation for TEXT as it is already in English.

404it [02:31,  1.91it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

406it [02:32,  2.31it/s]

Skipping translation for TEXT as it is already in English.

410it [02:33,  3.57it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

411it [02:33,  3.14it/s]

Skipping translation for TEXT as it is already in English.

414it [02:34,  2.74it/s]

Skipping translation for TEXT as it is already in English.

419it [02:36,  3.87it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

422it [02:37,  2.69it/s]

Skipping translation for TEXT as it is already in English.

425it [02:38,  2.73it/s]

Skipping translation for TEXT as it is already in English.

429it [02:40,  2.54it/s]

Skipping translation for TEXT as it is already in English.

433it [02:40,  4.09it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

435it [02:41,  4.17it/s]

Skipping translation for TEXT as it is already in English.

442it [02:43,  4.80it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

444it [02:43,  3.18it/s]

Skipping translation for TEXT as it is already in English.

446it [02:44,  3.58it/s]

Skipping translation for TEXT as it is already in English.

448it [02:44,  3.75it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

457it [02:47,  4.10it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

465it [02:49,  4.61it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

474it [02:52,  2.32it/s]

Skipping translation for TEXT as it is already in English.

483it [02:53,  6.95it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

487it [02:54,  4.61it/s]

Skipping translation for TEXT as it is already in English.

490it [02:56,  3.00it/s]

Skipping translation for TEXT as it is already in English.

492it [02:57,  2.93it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

495it [02:57,  3.60it/s]

Skipping translation for TEXT as it is already in English.

499it [02:58,  4.68it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

504it [02:59,  4.26it/s]

Skipping translation for TEXT as it is already in English.

508it [03:00,  5.00it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

509it [03:00,  3.95it/s]

Skipping translation for TEXT as it is already in English.

511it [03:01,  3.65it/s]

Skipping translation for TEXT as it is already in English.

514it [03:02,  2.59it/s]

Skipping translation for TEXT as it is already in English.

516it [03:03,  2.96it/s]

Skipping translation for TEXT as it is already in English.

520it [03:04,  3.05it/s]

Skipping translation for TEXT as it is already in English.

521it [03:05,  2.77it/s]

Skipping translation for TEXT as it is already in English.

528it [03:07,  3.63it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

534it [03:10,  2.29it/s]

Skipping translation for TEXT as it is already in English.

538it [03:12,  2.23it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

541it [03:12,  3.36it/s]

Skipping translation for TEXT as it is already in English.

545it [03:14,  2.68it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

548it [03:15,  2.45it/s]

Skipping translation for TEXT as it is already in English.

551it [03:17,  2.00it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

559it [03:18,  5.02it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

564it [03:20,  3.63it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

565it [03:21,  2.86it/s]

Skipping translation for TEXT as it is already in English.

573it [03:25,  1.78it/s]

Skipping translation for TEXT as it is already in English.

575it [03:26,  2.25it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

578it [03:26,  3.07it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

581it [03:27,  3.53it/s]

Skipping translation for TEXT as it is already in English.

583it [03:27,  3.62it/s]

Skipping translation for TEXT as it is already in English.

585it [03:28,  3.78it/s]

Skipping translation for TEXT as it is already in English.

588it [03:29,  3.00it/s]

Skipping translation for TEXT as it is already in English.

591it [03:30,  2.70it/s]

Skipping translation for TEXT as it is already in English.

596it [03:33,  2.55it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

599it [03:34,  2.60it/s]

Skipping translation for TEXT as it is already in English.

603it [03:36,  2.45it/s]

Skipping translation for TEXT as it is already in English.

611it [03:38,  3.85it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

613it [03:39,  3.89it/s]

Skipping translation for TEXT as it is already in English.

614it [03:39,  3.29it/s]

Skipping translation for TEXT as it is already in English.

617it [03:41,  2.81it/s]

Skipping translation for TEXT as it is already in English.

621it [03:42,  2.12it/s]

Skipping translation for TEXT as it is already in English.

624it [03:44,  2.28it/s]

Skipping translation for TEXT as it is already in English.

631it [03:47,  2.09it/s]

Skipping translation for TEXT as it is already in English.

634it [03:48,  2.22it/s]

Skipping translation for TEXT as it is already in English.

640it [03:50,  2.78it/s]

Skipping translation for TEXT as it is already in English.

642it [03:51,  2.23it/s]

Skipping translation for TEXT as it is already in English.

646it [03:52,  4.00it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

650it [03:53,  5.73it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

654it [03:53,  6.03it/s]

Skipping translation for TEXT as it is already in English.

657it [03:54,  4.10it/s]

Skipping translation for TEXT as it is already in English.

659it [03:55,  3.98it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

663it [03:56,  3.90it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

668it [03:57,  4.18it/s]

Skipping translation for TEXT as it is already in English.

671it [03:58,  3.49it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

677it [04:00,  2.78it/s]

Skipping translation for TEXT as it is already in English.

683it [04:02,  2.26it/s]

Skipping translation for TEXT as it is already in English.

687it [04:04,  2.30it/s]

Skipping translation for TEXT as it is already in English.

694it [04:06,  3.69it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

699it [04:08,  2.81it/s]

Skipping translation for TEXT as it is already in English.

701it [04:09,  3.07it/s]

Skipping translation for TEXT as it is already in English.

702it [04:10,  2.44it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

705it [04:10,  3.50it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

708it [04:11,  4.19it/s]

Skipping translation for TEXT as it is already in English.

710it [04:11,  4.19it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

714it [04:12,  3.76it/s]

Skipping translation for TEXT as it is already in English.

719it [04:13,  5.76it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

720it [04:13,  4.67it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

723it [04:14,  4.88it/s]

Skipping translation for TEXT as it is already in English.

729it [04:15,  5.60it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

730it [04:15,  5.59it/s]

Skipping translation for TEXT as it is already in English.

733it [04:16,  6.12it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

736it [04:17,  4.32it/s]

Skipping translation for TEXT as it is already in English.

738it [04:17,  3.98it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

742it [04:18,  4.60it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

748it [04:20,  3.65it/s]

Skipping translation for TEXT as it is already in English.

749it [04:20,  3.20it/s]

Skipping translation for TEXT as it is already in English.

751it [04:21,  3.08it/s]

Skipping translation for TEXT as it is already in English.

753it [04:21,  3.45it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

756it [04:22,  4.25it/s]

Skipping translation for TEXT as it is already in English.

760it [04:22,  5.44it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

761it [04:23,  4.34it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

764it [04:24,  4.45it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

767it [04:24,  4.80it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

778it [04:30,  1.65it/s]

Skipping translation for TEXT as it is already in English.

780it [04:30,  2.05it/s]

Skipping translation for TEXT as it is already in English.

785it [04:31,  4.25it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

787it [04:34,  1.55it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

795it [04:37,  2.61it/s]

Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.
Skipping translation for TEXT as it is already in English.

797it [04:37,  2.87it/s]

NameError: name 'description' is not defined

In [67]:
translated_dataFrame=pd.DataFrame(translated_lines)

In [70]:
translated_dataFrame.to_csv('translated_dataFrame.csv',index=False)

In [10]:
dataFrame['Job Title'].tolist()

['clinical data analyst',
 'aml/cft & data analyst',
 'machine learning engineer',
 'application developer & data analyst',
 'data engineer full time (public sector) usa',
 'sr staff data scientist - atg',
 'vendor management and data quality lead',
 'intern (business intelligence service support)',
 'summer 2023 data engineering intern',
 'principal cloud data engineer (prisma access)',
 'data scientist (te-crg-glo-2023-19-grap)',
 'data analyst - revenue optimizer',
 'graduate power bi developer',
 'sap consultant - product data management',
 'premaster programm - data analytics and visualization',
 'staff data scientist - atg',
 'machine learning engineer',
 'senior data analyst - sales',
 'bi analyst',
 'data scientist | insights (f/m/d) - ger, uk, nl, pl',
 'senior data analyst (remote within emea)',
 'senior data engineer (evergreen)',
 'data management scrum master',
 'rotational development program - artificial intelligence and machine learning trainee',
 'data engineer scientist',
 'data scientist (elasticsearch)',
 'data engineer f/h',
 'bi developer',
 'data scientist - fraud risk',
 'quintoandar - senior data analyst',
 'ml research engineer',
 'principal engineer, data project management',
 'senior data engineer',
 '(senior) digital analytics engineer',
 'senior software engineer (data pipeline)',
 'senior data scientist',
 'data science lead (hybrid)',
 'business intelligence analyst',
 'lead business intelligence analyst',
 'senior data scientist',
 'sr data engineer',
 'data modeler',
 'data engineer',
 'vp, actuarial modeling and data management',
 'junior data science engineer (m/w/x)',
 'healthcare data analyst',
 'data scientist',
 'data analyst | marketing or sales (f/m/d) - ger, uk, nl, pl',
 'business intelligence expert',
 'data engineer',
 'senior data analyst',
 'principle mlops engineer',
 'senior data scientist',
 'machine learning research engineer, generative ai',
 'data analyst - product innovation',
 'lead data scientist',
 'data product owner',
 'become analyst jr -',
 'html developer',
 'business intelligence developer',
 'data scientist, marketing analytics',
 'senior manager - aml/cft & data analyst',
 'senior data visualization analyst',
 'senior data engineer (remote)',
 'customer data engineer',
 'data engineer- data platform',
 'digital marketing lead (zibraai)',
 'staff data scientist - marketing',
 'senior sales business intelligence manager',
 'data analyst, customer experience',
 'machine learning engineer',
 'etas test lead - autonomous driving solutions',
 'sr. data engineer',
 'specialist solutions architect - mlops',
 'data scientist, terminal',
 'data analyst intern',
 'react native engineer - mobile (dubai)',
 'artificial intelligence lead | kpmg futures',
 'jr. crm data quality specialist',
 'senior data analyst',
 'data management consultant banking (f/d/m) financial services data platform fsdm',
 'director, artificial intelligence (ai)',
 'intermediate bi developer',
 'senior business intelligence analyst',
 'data analyst',
 'staff machine learning engineer',
 'data analyst (remote)',
 'lead applied data scientist (experience with media mix modeling)',
 'data engineer i',
 'cloud database analyst',
 'senior machine learning engineer',
 'junior data analyst',
 'financial data analyst',
 'data engineer',
 'senior consultant in data science',
 'staff clinical data manager # 3073',
 'hr data analyst',
 'consultant in data science',
 'machine learning engineer',
 'staff engineer, data platform',
 'staff engineer, data platform',
 'data engineer',
 'data engineer',
 'senior data scientist, marketing analytics',
 'director, iva and ai solutions - professional services practice lead',
 'lead data analyst(marketing/growth analytics)',
 'data analyst, service analytics',
 'amazon robotics - hardware engineer co-op (july-december 2023), amazon robotics',
 'senior/staff data engineer',
 'data engineer',
 'data product manager',
 'fsa (fintech) - quantitative machine learning specialist & software developer',
 'data engineer analyst',
 'software engineer (data pipeline)',
 'senior data scientist',
 'associate data scientist',
 'data engineering analyst',
 'talan consulting \x96 consultant senior/manager \x96 data strategy (h/f)',
 'enterprise data architect - 6 month contract',
 'data engineer ii',
 'data scientist/machine learning engineer',
 'data engineer',
 'data analyst',
 'senior data scientist, product',
 'senior technical support engineer, dataset',
 'finance business intelligence , operations finance',
 'staff machine learning modeler, financial crimes',
 'machine learning engineer',
 'senior business intelligence analyst',
 'data scientist',
 'data engineer - music',
 'data manager',
 'machine learning engineer',
 'salesforce administrator/data specialist',
 'data engineer (starlink)',
 'data engineer',
 'data engineer confirm√© bi - big data',
 'director, spark technical solutions',
 'data engineer',
 'middle data engineer (healthcare domain)',
 'senior data analyst (pricing)',
 'people analytics data visualization senior associate (open to remote)',
 'power bi developer - m/f',
 'data engineer',
 'product manager - experts & artificial intelligence',
 'group manager data analytics india',
 'data analyst',
 'senior data engineer',
 'vice president director, data scientist',
 'business intelligence analyst, aws cloud logistics',
 'scientist/senior scientist, machine learning',
 'principal site reliability engineer, datastores (hybrid)',
 'data scientist',
 'machine learning manager (systems)',
 'consultant data engineer',
 'machine learning engineer l3',
 'data analyst coches.net',
 'senior product marketing manager, conversational intelligence & ai products',
 'graduate data analyst',
 'analytics engineer',
 'specialist solutions architect - data engineering (public sector)',
 'senior machine learning engineer',
 'data scientist',
 'senior data quality assurance specialist',
 'senior site reliability engineer, datastores (hybrid)',
 'customer success junior ml engineer, onboarding specialist',
 'senior data science engineer',
 'digital analytics engineer',
 'senior big data engineer',
 'senior data scientist, marketing',
 'analytics engineer intern',
 'master data team manager',
 'senior data engineer, enterprise engineering',
 'data operations associate',
 'data analyst',
 'staff ml engineer (8627)',
 'specialist architect : big data',
 'research engineer in multi agent path finding for mobile robots (f/m/div.)',
 'product marketing manager, data engineering',
 'machine learning engineer',
 'cv/ml engineer for 3d virtual humans - remote europe',
 'senior data engineer - data bricks',
 'director ai science',
 'researcher- business intelligence',
 'machine learning research scientist',
 'staff database reliability engineer, datastores',
 'senior data scientist - viator, london, oxford, uk remote',
 'data engineer',
 'data analyst (bangkok based, relocation provided)',
 'associate ai/ml engineer',
 'azure data architect',
 'senior applied data scientist',
 'senior scientist, decision sciences',
 'data scientist',
 'data operations & insights manager',
 'principal ml engineer - ai platform',
 'principal product marketing manager, ai & machine learning',
 'technical support specialist (robotics) - eu - remote',
 'data architect',
 'operations data analyst (tableau)',
 'head of applied ai/ml',
 'data analytics engineer',
 'software engineer - autonomy metrics',
 'product manager- data visualization & analytics',
 'data science in product design engineering',
 'senior director of product - machine learning',
 'senior data analyst (bangkok based, relocation provided)',
 'operations planner data management technician',
 'senior associate data engineering',
 'data operations client onboarding',
 'machine learning research scientist - reinforcement learning',
 'machine learning engineer, generative ai',
 'machine learning engineer',
 'data management internship',
 'sr big data engineer',
 'consulting - robotics process automation (rpa) developer',
 'data engineer',
 'data analyst intern',
 'data engineer',
 'data analyst',
 'data engineer with databricks - empower (remote/costa rica-based)',
 'databricks and scala engineer geospatial',
 'software engineer, data platform',
 'senior manager data engineering',
 'senior data engineer (p3949).',
 'junior data engineer customer analytics',
 'chief engineer, autonomy (r2020)',
 'senior research data analyst',
 'sport data operator',
 'associate director | artificial intelligence lead | kpmg futures',
 'research scientist',
 'data engineering manager',
 'principal engineer - data integrations',
 'python engineer - machine learning specialist (remote)',
 'senior applied scientist - document intelligence',
 'data analyst, go live',
 'senior data scientist (m/f)',
 'data engineer',
 'researcher/senior researcher \x96 natural language processing and text analytics',
 'data scientist',
 'data scientist',
 'data analyst (customer service industry, mandarin support)',
 'manager data strategy',
 'business partner, data analysis',
 'data engineer - remote',
 'bi analyst',
 'data analyst',
 'data engineer',
 'marketing data analyst',
 'post-doctoral fellow or associate - agronomy data scientist',
 'sr. data scientist',
 'researcher- computer vision',
 'data science lead',
 'senior data engineer',
 'senior data scientist, product analytics',
 'software engineer - machine learning, granica screen',
 'data engineer - T√ºrkiye',
 'senior data scientist',
 'machine learning engineer',
 'sde-iii, data engineering',
 'oracle data modeler / pl/sql - data warehouse',
 'product data specialist (hw)',
 'sparkcognition director of accounting - controller',
 'senior machine learning scientist (usa remote)',
 'senior data scientist (p171).',
 'cloud data analyst engineer (finops)',
 'data ops engineer',
 'robotic research engineer - mechatronics',
 'manager - applied data scientist',
 '??¬∑????/business intelligence engineer, japan operations finance',
 'senior data engineer - (christchurch)',
 'senior software engineer - data architecture skills',
 'bi developer, analytics',
 'business intelligence oversight (media/communication focus)',
 'senior manager, perception deep learning',
 'sme consultant for data analytics',
 'senior data strategist',
 'data scientist',
 'data engineer',
 'data analyst (oslo-based)',
 'senior ai engineer',
 'sql data engineers',
 'subsurface data manager',
 'senior data analyst with python sql - ms- bangalore',
 'data analyst supply chain management (f/m/d)',
 'senior data quality developer',
 'remote intermediate fullstack engineer (ai team)',
 'ios engineer (dubai)',
 'business intelligence data strategist',
 'data engineer customer analytics',
 'Sr. bi Analyst',
 'data scientist generalist',
 'business intelligence analyst - sales operations',
 'senior developer - data engineer (aws/python/node)',
 'data engineer',
 'senior data scientist: nlp',
 'data analyst (allegro pay)',
 'data analyst (dea)',
 'senior data engineer',
 'ai research engineer',
 'data analyst',
 'data engineer',
 'ai research scientist',
 'html developer',
 'manager, business operations - diagnostic imaging and laboratory',
 'data engineer',
 'data science consultant',
 'customer master data analyst',
 'senior data quality engineer',
 'senior data analyst - hybrid',
 'computer vision researcher',
 'machine learning engineer',
 'research scientist - machine learning and algorithms',
 'senior applied scientist',
 'tableau/bi developer',
 'data engineer',
 'data scientist (real-time ops)',
 'data science/ analytics intern- long term',
 'senior data engineer',
 'master data management plants (f/m/div.)',
 'coordinator of data operations',
 'data science team lead',
 'ai programmer vr (ue)',
 'data engineer (python) - payments',
 'master data management plants (f/m/div.) (salary: ~81.000 eur p.a.*)',
 'data analyst pleno',
 'research engineer pem electrolyzer (f/m/div.)',
 'consulting - data engineer',
 'data analyst intern - product analytics',
 'system reliability engineer (big data)',
 'senior data analyst',
 'azure data architect',
 'enterprise data architect',
 'ttgp fleet data manager/senior jico',
 'staff machine learning engineer',
 'senior software engineer - data analytics',
 'staff technical product manager, ai platform and solutions',
 'big data engineer - pyspark',
 'consultant / sr consultant - qa data engineer',
 'computational biologist, translational science - location flexible',
 'lead software engineer, ml infrastructure',
 'senior insurance data scientist',
 'principal engineer, data systems',
 'clinical data manager',
 'data analyst i - fraud',
 'senior data scientist, operations',
 'software engineer - data platform (python, cloud, big data)',
 'senior cloud data analyst engineer (finops)',
 'data engineer - bulgaria',
 'power bi developer',
 'consultant, data analytics',
 'junior mlops - intern',
 'senior data analyst',
 'business intelligence internship (summer 23/24)',
 'business analyst (tech/ai)',
 'data scientist',
 'senior applied scientist, amazon',
 'specialist solutions architect - data engineering (financial services)',
 'data scientist ebike systems (f/m/div.)',
 'senior machine learning engineer',
 'senior data engineer',
 'graduate data scientist',
 'data engineer',
 'robotics engineer, sensors',
 'contract: data infrastructure engineer',
 'ai/ml modeling, simulation and analysis engineer (senior)',
 'analytics engineer',
 'cloud data engineer',
 'head of data science, analytics and bi',
 'clinical data reporter',
 'staff+ machine learning engineer - generative ai',
 'junior data analyst',
 'internal audit specialist - data analytics',
 'engineering team lead, imaging tech',
 'senior ml engineer - nlp',
 'data analyst (aberdeen-based)',
 'research scientist',
 'principal engineer, data and control systems',
 'data scientist (pricing)',
 'head of aml operations (m/f/d)',
 'data engineer - 14072',
 'senior data engineer',
 'senior data engineer',
 'data analyst (reporting and insights)',
 'sr. manager (ai/ml)',
 'data scientist, decisions - rider',
 'data architect - sme',
 'senior sw engineer (machine learning)',
 'data engineer',
 '(global) senior research scientist',
 'staff data scientist, model risk management',
 'senior data analyst',
 'graduate imaging geophysicist',
 'architecte plateforme big data / devops - f/h',
 'analytics engineer',
 'data engineer',
 'data analyst - retention',
 'data analyst',
 'lead machine learning engineer',
 'data developer',
 'data analyst - digital marketing (all genders)',
 'android engineer (dubai)',
 'data specialist - governance',
 'senior robotics process automation developer',
 'technical product manager, data engineering',
 'sr. data developer (remote), experian consumer services',
 'senior data analyst with python sql - bangalore',
 'manager, measurement innovation & data science',
 'data analytics engineer',
 'cloud data architect',
 'business intelligence engineering manager',
 'senior business intelligence analyst',
 'data manager',
 'devops engineer (dubai)',
 'data analytics internship (summer 23/24)',
 'confirmed data analyst - data pro supply',
 'senior data analyst',
 'senior machine learning engineer (modeling)',
 'stage: robotics',
 'data scientist / data analyst',
 'senior product data analyst (m/f) on permanent contract in paris',
 'data analyst - stage',
 'senior analytics engineer',
 'data analyst intern',
 'sr. software engineer, data engineering',
 'senior machine learning engineer i',
 'data engineer sr.software engineer dx',
 'senior staff data engineer',
 'data engineer',
 'natural language processing intern',
 'senior data engineers',
 'coordinateur projets genotypage data analyse (h/f)',
 'machine learning & software engineer, infrastructure - us remote',
 'customer-facing deep learning solutions architect',
 'data engineering manager - allegro pay',
 'senior business intelligence developer (database architect & etl developer)',
 'data analyst',
 'technical mentor (independent contractor) - data engineering nanodegree (us timezone)',
 'data architect',
 'data analyst, business optimisation',
 'machine learning force fields scientist (materials science)',
 'principal machine learning engineer - atg',
 'senior associate data sciences',
 'senior data engineer (all genders) ai',
 'intermediate / senior fullstack engineer (ai team)',
 'data quality analyst - stage',
 'senior software engineer - ai/ml team (.net + python)',
 'software engineer, data platform, data management',
 'senior machine learning engineer (modeling), financial crimes technology',
 'research analyst',
 'backend / data engineers ii, cerebro',
 'junior data manager',
 'data infrastructure engineer',
 'senior data scientist',
 'backend engineer (dubai)',
 'senior software engineer i, machine learning, retrieval sciences',
 'sr. staff machine learning engineer',
 'staff systems engineer, autonomy & simulation',
 '[??-??&???] senior, data analyst (channel analytics)',
 'senior machine learning expert (on-site, brussels / belgium)',
 'specialist, business intelligence / specialist, business intelligence',
 'senior product manager | api & data products',
 'senior data analyst',
 'senior analyst, data science and analytics',
 'senior product manager - data management & search',
 'accounting professor- data analytics/ais- 90k+ salary',
 'senior data engineer - healthgrades',
 'sr applied data scientist',
 'business intelligence engineer',
 'assistant mgr - data sciences',
 'data scientist',
 'data analyst - end-of-studies internship - paris 2nd',
 'trading bi developer',
 'data analytics intern - le cubs 2023',
 'product data analyst -  f/h',
 'data scientist (crypto)',
 '[job- 10639] senior data engineer developer, brazil',
 'business intelligence associate',
 'analyst, reporting and business intelligence',
 'data science software engineer',
 'product owner with tableau/power bi(6 to 10 years)',
 'machine learning & software engineer, infrastructure - emea remote',
 'sr ai solution developer (servicenow developer)',
 'data integrations engineer',
 'data scientist',
 'data engineer ii',
 'lead software engineer - ai/ml team (.net + python)',
 'transportation data analyst coordinator',
 'senior applied data scientist (all genders) ai',
 'power bi analyst',
 'senior machine learning engineer',
 'senior cloud devops engineer (data & ai) bei ebike systems (w/m/div.)',
 'business intelligence analyst i',
 'power bi data visualization analyst',
 'data engineer',
 'data analyst (ceo office)',
 'senior data science analyst- model validation',
 'machine learning engineer',
 'sr. revenue operations specialist - data analytics',
 'phd position - neuro-symbolic ai for scene understanding in autonomous driving',
 'staff data analyst, product analytics',
 'senior product manager, large language model',
 'quintoandar - analytics engineer',
 'vp, data products',
 'machine learning engineer',
 'data science director, adoption & enterprise',
 'data platform developer, machine learning',
 'senior vision engineer (english version)',
 'lead data scientist (p3436)',
 '(canada) business intelligence engineer',
 'data engineer',
 'lead ml platform engineer',
 'staff data engineer',
 'transportation data analyst (tableau)',
 'robotics software developer intern fall 2023',
 'senior data architect',
 'software engineer, computer vision program',
 'data engineer - tempcover',
 'data engineer',
 'ml phd intern - llms & generative ai',
 'work-study - "data analyst" or "business intelligence team" (m/f)',
 'software engineer - structured data strategies',
 'data science intern',
 'data scientist',
 'institution data analyst',
 'senior solutions engineer - big data',
 'machine learning engineer',
 'principal machine learning (ml) engineer',
 'product data engineer',
 'data engineer - end-of-studies internship - paris 2nd',
 'data engineer',
 'senior data engineer/scientist',
 'data scientist',

In [ ]:
dataFrame["Job Title"]=dataFrame["Job Title"].str.lower()

In [ ]:
print("list of unique Facilities :",dataFrame["Job Title"].unique().tolist()),"Length :"+str(len(dataFrame["Job Title"].unique().tolist()))

list of unique Facilities : ['clinical data analyst', 'aml/cft & data analyst', 'machine learning engineer', 'application developer & data analyst', 'data engineer full time (public sector) usa', 'sr staff data scientist - atg', 'vendor management and data quality lead', 'intern (business intelligence service support)', 'summer 2023 data engineering intern', 'principal cloud data engineer (prisma access)', 'data scientist (te-crg-glo-2023-19-grap)', 'data analyst - revenue optimizer', 'graduate power bi developer', 'sap consultant - product data management', 'premaster programm - data analytics and visualization', 'staff data scientist - atg', 'senior data analyst - sales', 'bi analyst', 'data scientist | insights (f/m/d) - ger, uk, nl, pl', 'senior data analyst (remote within emea)', 'senior data engineer (evergreen)', 'data management scrum master', 'rotational development program - artificial intelligence and machine learning trainee', 'data engineer scientist', 'data scientist (elasticsearch)', 'data engineer f/h', 'bi developer', 'data scientist - fraud risk', 'quintoandar - senior data analyst', 'ml research engineer', 'principal engineer, data project management', 'senior data engineer', '(senior) digital analytics engineer', 'senior software engineer (data pipeline)', 'senior data scientist', 'data science lead (hybrid)', 'business intelligence analyst', 'lead business intelligence analyst', 'sr data engineer', 'data modeler', 'data engineer', 'vp, actuarial modeling and data management', 'junior data science engineer (m/w/x)', 'healthcare data analyst', 'data scientist', 'data analyst | marketing or sales (f/m/d) - ger, uk, nl, pl', 'business intelligence expert', 'senior data analyst', 'principle mlops engineer', 'machine learning research engineer, generative ai', 'data analyst - product innovation', 'lead data scientist', 'data product owner', 'bi analyst jr - 24170', 'html developer', 'business intelligence developer', 'data scientist, marketing analytics', 'senior manager - aml/cft & data analyst', 'senior data visualization analyst', 'senior data engineer (remote)', 'customer data engineer', 'data engineer- data platform', 'digital marketing lead (zibraai)', 'staff data scientist - marketing', 'senior sales business intelligence manager', 'data analyst, customer experience', 'etas test lead - autonomous driving solutions', 'sr. data engineer', 'specialist solutions architect - mlops', 'data scientist, terminal', 'data analyst intern', 'react native engineer - mobile (dubai)', 'artificial intelligence lead | kpmg futures', 'jr. crm data quality specialist', 'data management consultant banking (f/d/m) financial services data platform fsdm', 'director, artificial intelligence (ai)', 'intermediate bi developer', 'senior business intelligence analyst', 'data analyst', 'staff machine learning engineer', 'data analyst (remote)', 'lead applied data scientist (experience with media mix modeling)', 'data engineer i', 'cloud database analyst', 'senior machine learning engineer', 'junior data analyst', 'financial data analyst', 'senior consultant in data science', 'staff clinical data manager # 3073', 'hr data analyst', 'consultant in data science', 'staff engineer, data platform', 'senior data scientist, marketing analytics', 'director, iva and ai solutions - professional services practice lead', 'lead data analyst(marketing/growth analytics)', 'data analyst, service analytics', 'amazon robotics - hardware engineer co-op (july-december 2023), amazon robotics', 'senior/staff data engineer', 'data product manager', 'fsa (fintech) - quantitative machine learning specialist & software developer', 'data engineer analyst', 'software engineer (data pipeline)', 'associate data scientist', 'data engineering analyst', 'talan consulting \x96 consultant senior/manager \x96 data strategy (h/f)', 'enterprise data architect - 6 month contract', 'data engineer ii', 'data scientist/machine learning engineer', 'senior data scientist, product', 'senior technical support engineer, dataset', 'finance business intelligence , operations finance', 'staff machine learning modeler, financial crimes', 'data engineer - music', 'data manager', 'salesforce administrator/data specialist', 'data engineer (starlink)', 'data engineer confirm√© bi - big data', 'director, spark technical solutions', 'middle data engineer (healthcare domain)', 'senior data analyst (pricing)', 'people analytics data visualization senior associate (open to remote)', 'd√©veloppeur power bi - h/f', 'product manager - experts & artificial intelligence', 'group manager data analytics india', 'vice president director, data scientist', 'business intelligence analyst, aws cloud logistics', 'scientist/senior scientist, machine learning', 'principal site reliability engineer, datastores (hybrid)', 'machine learning manager (systems)', 'consultant data engineer', 'machine learning engineer l3', 'data analyst coches.net', 'senior product marketing manager, conversational intelligence & ai products', 'graduate data analyst', 'analytics engineer', 'specialist solutions architect - data engineering (public sector)', 'senior data quality assurance specialist', 'senior site reliability engineer, datastores (hybrid)', 'customer success junior ml engineer, onboarding specialist', 'senior data science engineer', 'digital analytics engineer', 'senior big data engineer', 'senior data scientist, marketing', 'analytics engineer intern', 'master data team manager', 'senior data engineer, enterprise engineering', 'data operations associate', 'staff ml engineer (8627)', 'specialist architect : big data', 'research engineer in multi agent path finding for mobile robots (f/m/div.)', 'product marketing manager, data engineering', 'cv/ml engineer for 3d virtual humans - remote europe', 'senior data engineer - data bricks', 'director ai science', 'researcher- business intelligence', 'machine learning research scientist', 'staff database reliability engineer, datastores', 'senior data scientist - viator, london, oxford, uk remote', 'data analyst (bangkok based, relocation provided)', 'associate ai/ml engineer', 'azure data architect', 'senior applied data scientist', 'senior scientist, decision sciences', 'data operations & insights manager', 'principal ml engineer - ai platform', 'principal product marketing manager, ai & machine learning', 'technical support specialist (robotics) - eu - remote', 'data architect', 'operations data analyst (tableau)', 'head of applied ai/ml', 'data analytics engineer', 'software engineer - autonomy metrics', 'product manager- data visualization & analytics', 'data science in product design engineering', 'senior director of product - machine learning', 'senior data analyst (bangkok based, relocation provided)', 'operations planner data management technician', 'senior associate data engineering', 'data operations client onboarding', 'machine learning research scientist - reinforcement learning', 'machine learning engineer, generative ai', 'data management internship', 'sr big data engineer', 'consulting - robotics process automation (rpa) developer', 'data engineer with databricks - empower (remote/costa rica-based)', 'databricks and scala engineer geospatial', 'software engineer, data platform', 'senior manager data engineering', 'senior data engineer (p3949).', 'junior data engineer customer analytics', 'chief engineer, autonomy (r2020)', 'senior research data analyst', 'sport data operator', 'associate director | artificial intelligence lead | kpmg futures', 'research scientist', 'data engineering manager', 'principal engineer - data integrations', 'python engineer - machine learning specialist (remote)', 'senior applied scientist - document intelligence', 'data analyst, go live', 'senior data scientist (m/f)', 'researcher/senior researcher \x96 natural language processing and text analytics', 'data analyst (customer service industry, mandarin support)', 'manager data strategy', 'business partner, data analysis', 'data engineer - remote', 'marketing data analyst', 'post-doctoral fellow or associate - agronomy data scientist', 'sr. data scientist', 'researcher- computer vision', 'data science lead', 'senior data scientist, product analytics', 'software engineer - machine learning, granica screen', 'data engineer - t√ºrkiye', 'sde-iii, data engineering', 'oracle data modeler / pl/sql - data warehouse', 'product data specialist (hw)', 'sparkcognition director of accounting - controller', 'senior machine learning scientist (usa remote)', 'senior data scientist (p171).', 'cloud data analyst engineer (finops)', 'dataops engineer', 'robotic research engineer - mechatronics', 'manager - applied data scientist', '??¬∑????/business intelligence engineer, japan operations finance', 'senior data engineer - (christchurch)', 'senior software engineer - data architecture skills', 'bi developer, analytics', 'supervis√£o de business intelligence (foco em m√≠dia/comunica√ß√£o)', 'senior manager, perception deep learning', 'sme consultant for data analytics', 'senior data strategist', 'data analyst (oslo-based)', 'senior ai engineer', 'sql data engineers', 'subsurface data manager', 'senior data analyst with python sql - ms- bangalore', 'data analyst supply chain management (f/m/d)', 'senior data quality developer', 'remote intermediate fullstack engineer (ai team)', 'ios engineer (dubai)', 'business intelligence data strategist', 'data engineer customer analytics', 'sr. bi analyst', 'data scientist generalist', 'business intelligence analyst - sales operations', 'senior developer - data engineer (aws/python/node)', 'senior data scientist: nlp', 'data analyst (allegro pay)', 'data analyst (dea)', 'ai research engineer', 'ai research scientist', 'manager, business operations - diagnostic imaging and laboratory', 'data science consultant', 'customer master data analyst', 'senior data quality engineer', 'senior data analyst - hybrid', 'computer vision researcher', 'research scientist - machine learning and algorithms', 'senior applied scientist', 'tableau/bi developer', 'data scientist (real-time ops)', 'data science/ analytics intern- long term', 'master data management plants (f/m/div.)', 'coordinator of data operations', 'data science team lead', 'ai programmer vr (ue)', 'data engineer (python) - payments', 'master data management plants (f/m/div.) (salary: ~81.000 eur p.a.*)', 'data analyst pleno', 'research engineer pem electrolyzer (f/m/div.)', 'consulting - data engineer', 'data analyst intern - product analytics', 'system reliability engineer (big data)', 'enterprise data architect', 'ttgp fleet data manager/senior jico', 'senior software engineer - data analytics', 'staff technical product manager, ai platform and solutions', 'big data engineer - pyspark', 'consultant / sr consultant - qa data engineer', 'computational biologist, translational science - location flexible', 'lead software engineer, ml infrastructure', 'senior insurance data scientist', 'principal engineer, data systems', 'clinical data manager', 'data analyst i - fraud', 'senior data scientist, operations', 'software engineer - data platform (python, cloud, big data)', 'senior cloud data analyst engineer (finops)', 'data engineer - bulgaria', 'power bi developer', 'consultant, data analytics', 'junior mlops - intern', 'business intelligence internship (summer 23/24)', 'business analyst (tech/ai)', 'senior applied scientist, amazon', 'specialist solutions architect - data engineering (financial services)', 'data scientist ebike systems (f/m/div.)', 'graduate data scientist', 'robotics engineer, sensors', 'contract: data infrastructure engineer', 'ai/ml modeling, simulation and analysis engineer (senior)', 'cloud data engineer', 'head of data science, analytics and bi', 'clinical data reporter', 'staff+ machine learning engineer - generative ai', 'especialista em auditoria interna - data analytics', 'engineering team lead, imaging tech', 'senior ml engineer - nlp', 'data analyst (aberdeen-based)', 'principal engineer, data and control systems', 'data scientist (pricing)', 'head of aml operations (m/f/d)', 'data engineer - 14072', 'data analyst (reporting and insights)', 'sr. manager (ai/ml)', 'data scientist, decisions - rider', 'data architect - sme', 'senior sw engineer (machine learning)', '(global) senior research scientist', 'staff data scientist, model risk management', 'graduate imaging geophysicist', 'architecte plateforme big data / devops - f/h', 'data analyst - retention', 'lead machine learning engineer', 'data developer', 'data analyst - digital marketing (all genders)', 'android engineer (dubai)', 'data specialist - governance', 'senior robotics process automation developer', 'technical product manager, data engineering', 'sr. data developer (remote), experian consumer services', 'senior data analyst with python sql - bangalore', 'manager, measurement innovation & data science', 'cloud data architect', 'business intelligence engineering manager', 'devops engineer (dubai)', 'data analytics internship (summer 23/24)', 'confirmed data analyst - data pro supply', 'senior machine learning engineer (modeling)', 'stage: robotics', 'data scientist / data analyst', 'product data analyst s√©nior (h/f) en cdi √† paris', 'data analyst - stage', 'senior analytics engineer', 'sr. software engineer, data engineering', 'senior machine learning engineer i', 'data engineer sr.software engineer dx', 'senior staff data engineer', 'natural language processing intern', 'senior data engineers', 'coordinateur projets genotypage data analyse (h/f)', 'machine learning & software engineer, infrastructure - us remote', 'customer-facing deep learning solutions architect', 'data engineering manager - allegro pay', 'senior business intelligence developer (database architect & etl developer)', 'technical mentor (independent contractor) - data engineering nanodegree (us timezone)', 'data analyst, business optimisation', 'machine learning force fields scientist (materials science)', 'principal machine learning engineer - atg', 'senior associate data sciences', 'senior data engineer (all genders) ai', 'intermediate / senior fullstack engineer (ai team)', 'data quality analyst - stage', 'senior software engineer - ai/ml team (.net + python)', 'software engineer, data platform, data management', 'senior machine learning engineer (modeling), financial crimes technology', 'research analyst', 'backend / data engineers ii, cerebro', 'junior data manager', 'data infrastructure engineer', 'backend engineer (dubai)', 'senior software engineer i, machine learning, retrieval sciences', 'sr. staff machine learning engineer', 'staff systems engineer, autonomy & simulation', '[??-??&???] senior, data analyst (channel analytics)', 'senior machine learning expert (on-site, brussels / belgium)', "sp√©cialiste, intelligence d'affaires / specialist, business intelligence", 'senior product manager | api & data products', 'senior analyst, data science and analytics', 'senior product manager - data management & search', 'accounting professor- data analytics/ais- 90k+ salary', 'senior data engineer - healthgrades', 'sr applied data scientist', 'business intelligence engineer', 'assistant mgr - data sciences', "data analyst - stage de fin d'√©tudes - paris 2e", 'trading bi developer', 'data analytics intern - le cubs 2023', 'product data analyst -  f/h', 'data scientist (crypto)', '[job- 10639] senior data engineer developer, brazil', 'business intelligence associate', 'analyst, reporting and business intelligence', 'data science software engineer', 'product owner with tableau/power bi(6 to 10 years)', 'machine learning & software engineer, infrastructure - emea remote', 'sr ai solution developer (servicenow developer)', 'data integrations engineer', 'lead software engineer - ai/ml team (.net + python)', 'transportation data analyst coordinator', 'senior applied data scientist (all genders) ai', 'power bi analyst', 'senior cloud devops engineer (data & ai) bei ebike systems (w/m/div.)', 'business intelligence analyst i', 'power bi data visualization analyst', 'data analyst (ceo office)', 'senior data science analyst- model validation', 'sr. revenue operations specialist - data analytics', 'phd position - neuro-symbolic ai for scene understanding in autonomous driving', 'staff data analyst, product analytics', 'senior product manager, large language model', 'quintoandar - analytics engineer', 'vp, data products', 'data science director, adoption & enterprise', 'data platform developer, machine learning', 'senior vision engineer (english version)', 'lead data scientist (p3436)', '(canada) business intelligence engineer', 'lead ml platform engineer', 'staff data engineer', 'transportation data analyst (tableau)', 'robotics software developer intern fall 2023', 'senior data architect', 'software engineer, computer vision program', 'data engineer - tempcover', 'ml phd intern - llms & generative ai', 'alternance - ¬´ data analyst ¬ª ou ¬´ equipe business intelligence ¬ª (h/f)', 'software engineer - structured data strategies', 'data science intern', 'institution data analyst', 'senior solutions engineer - big data', 'principal machine learning (ml) engineer', 'product data engineer', "data engineer - stage de fin d'√©tudes - paris 2e", 'senior data engineer/scientist', 'principal data scientist, machine learning', 'sr director - project implementation - medical imaging / pacs', 'big data bi engineer', 'principal data scientist (spain, full-remote)', 'ai programmer', 'business intelligence data analyst', 'machine learning for natural language processing intern', 'data scientist engineer', 'ml postdoc researcher - llms & generative ai', 'principal engineer, data management engineering', 'lead data scientist - pricing', 'data scientist, product analytics', 'senior infrastructure software engineer, ml platform', 'alumio solution engineer (data integration)', 'senior ai research scientist \x96 perception and machine learning', 'field sample specialist (air samples) - eurofins environment testing \x96 pueblo, co', 'senior research scientist \x96 ai-based planning for autonomous systems', 'internship: business intelligence and finance excellence', 'senior data engineer, php', 'head of data science & predictive modeling', 'business and commercial banking (bcb) business intelligence and analytics graduate programme - gauteng', 'data scientist - data analytics and infrastructure', '(senior) machine learning engineer - mlops', 'team lead data science (f/m/x)', 'senior data scientist - monetization', 'lead machine learning research engineer, generative ai', 'course associate, data analysis and visualization in sustainability (fall 2023)', 'robotics engineer', 'ing√©nieur data modeler et/ou tech data - f/h', 'biomedical data scientist', 'product analyst - remote (mumbai)', 'databricks administrator', 'analyst, data engineering', 'lead data engineer- bangalore', 'marketing data scientist', 'insight analyst', 'data analyst junior f/h', 'senior applied scientist i', 'data manager consultant', 'foundation models lead', 'consultant big data & machine learning', 'senior machine learning scientist (8304)', 'senior product manager (ai team)', 'principal applied scientist', 'director of data science', 'data analyst consultant', 'senior market research analyst', 'senior manager of master data management (hybrid)', 'mid data scientist (f/m/x), remote (eu) / berlin', 'sr. product manager (ai team)', 'data analyst (pricing)', 'principal data strategist consultant', 'senior vehicle data analyst', 'machine learning engineer (m/w/x)', 'principal engineer, datacenter software systems', 'business intelligence (qlik) developer', 'staff data scientist, credit card', 'head of product data science', "data engineer / data analyst - stage de fin d'√©tudes - paris 2e (h/f)", 'junior data engineer', 'machine learning research engineer - federal', 'lead data engineer (p3796)', 'senior ml engineer', 

(None, 'Length :2129')

In [ ]:
intern=dataFrame[ (dataFrame["Experience level"] == 'Entry-level') &  (dataFrame["Location"].str.contains("United States")) ].groupby('Job Title')

In [ ]:
intern.first()

,Company,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency,City_State_Location,Country_Location
Job Title,,,,,,,,,,,
3d data quality analyst - contract,Geomagical Labs,"Palo Alto, California, United States",Full Time,Entry-level,39000.0,3D graphics,Flex hours,True,USD,Palo Alto,"California, United States"
"act two program- sr. analyst, data quality",NBCUniversal,"New York, NEW YORK, United States",Full Time,Entry-level,0.0,Agile,Career development,False,--,New York,"NEW YORK, United States"
"analyst - business intelligence (us remote in eastern time) fmcg, cpg and retail preferred",NielsenIQ,"Atlanta, GA, United States",Full Time,Entry-level,39000.0,Business Intelligence,Flex hours,True,USD,Atlanta,"GA, United States"
"analyst, business intelligence",Publicis Groupe,"Philadelphia, PA, United States",Full Time,Entry-level,44000.0,Business Intelligence,Startup environment,True,USD,Philadelphia,"PA, United States"
"analyst, data engineering",Publicis Groupe,"New York City, United States",Full Time,Entry-level,52000.0,AWS,Career development,False,USD,New York City,United States
"analyst, decision sciences",Publicis Groupe,"New York City, United States",Full Time,Entry-level,52000.0,Consulting,Health care,False,USD,New York City,United States
analytics engineer,Oxfam America,"Boston, MA, United States",Full Time,Entry-level,84000.0,Agile,Career development,False,USD,Boston,"MA, United States"
"bi analyst ¬ñ based in parsippany-troy hills, nj",NielsenIQ,"Parsippany-Troy Hills, NJ, United States",Full Time,Entry-level,48000.0,Business Intelligence,Career development,True,USD,Parsippany-Troy Hills,"NJ, United States"
broadcast research analyst,Sportradar,"Remote, New York, United States",Full Time,Entry-level,45000.0,Data analysis,401(k) matching,False,USD,Remote,"New York, United States"
business/data analyst intern (graduate student),Bosch Group,"Burnsville, MN, United States",Internship,Entry-level,0.0,Economics,no-Facilities,False,--,Burnsville,"MN, United States"
clinical data analyst,SGS,"Richardson, TX, United States",Full Time,Entry-level,48000.0,Computer Science,no-Facilities,True,USD,Richardson,"TX, United States"
cnsp surface force training requirements & data analyst,Sigma Defense,"San Diego, California, United States",Full Time,Entry-level,105000.0,Excel,Career development,False,USD,San Diego,"California, United States"
"course associate, data analysis and visualization in sustainability (fall 2023)",Columbia University,"New York City, United States",Full Time,Entry-level,44000.0,Data analysis,no-Facilities,True,USD,New York City,United States
customer success & insight analyst,NielsenIQ,"Knoxville, TN, United States",Full Time,Entry-level,44000.0,Business Intelligence,no-Facilities,True,USD,Knoxville,"TN, United States"
data analyst,Hitch,"Austin, Texas, United States",Full Time,Entry-level,48000.0,Computer Science,Startup environment,True,USD,Austin,"Texas, United States"
data analyst (dea),WWC Global,"New York City, United States",Full Time,Entry-level,48000.0,Consulting,Career development,True,USD,New York City,United States
data analyst (jira & azure devops or hp alm) - remote,matchpoint solutions,"California, California, United States",Full Time,Entry-level,48000.0,Azure,no-Facilities,True,USD,California,"California, United States"
data analyst intern,Bosch Group,"Mount Prospect, IL, United States",Full Time,Entry-level,0.0,Industrial,no-Facilities,False,--,Mount Prospect,"IL, United States"
"data architect, internal it (remote in us)",Resultant,"Indianapolis, IN, United States",Full Time,Entry-level,135000.0,APIs,Career development,True,USD,Indianapolis,"IN, United States"
data engineer,Adtalem Global Education,"Remote, REMOTE, United States",Full Time,Entry-level,71000.0,Airflow,401(k) matching,False,USD,Remote,"REMOTE, United States"
data engineering analyst,Publicis Groupe,"New York City, United States",Full Time,Entry-level,52000.0,AWS,Career development,False,USD,New York City,United States
data integration support representative,Renaissance,"Remote, REMOTE, United States",Full Time,Entry-level,40000.0,Computer Science,401(k) matching,False,USD,Remote,"REMOTE, United States"
data management supervisor,Eurofins,"Saint Charles, MO, United States",Full Time,Entry-level,44000.0,Data management,401(k) matching,True,USD,Saint Charles,"MO, United States"
data quality analyst,Qualtrics,"Provo, Utah, United States",Full Time,Entry-level,44000.0,APIs,no-Facilities,True,USD,Provo,"Utah, United States"
data science & analytics internships ¬ñ academic year,NBCUniversal,"Universal City, CA, United States",Internship,Entry-level,0.0,AWS,Career development,False,--,Universal City,"CA, United States"
data science intern,Equip Health,Remote United States,Internship,Entry-level,0.0,AWS,Career development,False,--,Remote United States,None
data science lead,Bosch Group,"Mount Prospect, IL, United States",Full Time,Entry-level,44000.0,A/B testing,Career development,True,USD,Mount Prospect,"IL, United States"
data scientist,NBCUniversal,"New York, NEW YORK, United States",Full Time,Entry-level,0.0,Computer Science,Career development,False,--,New York,"NEW YORK, United States"
data scientist (elasticsearch),CGG,"Houston, TX, United States",Full Time,Entry-level,40000.0,Agile,Career development,True,USD,Houston,"TX, United States"
data scientist (real-time ops),Gridware,"Walnut Creek, California, United States",Full Time,Entry-level,40000.0,Data analysis,401(k) matching,True,USD,Walnut Creek,"California, United States"
"data scientist - digitalization, trading & origination",Statkraft,"Stamford, CT, United States",Full Time,Entry-level,40000.0,Ansible,Career development,True,USD,Stamford,"CT, United States"
data scientist intern,Zscaler,"San Jose, CA, United States",Internship,Entry-level,0.0,Agile,Career development,False,--,San Jose,"CA, United States"
entry level (recent tech grads) bi analyst - must be us-based,NielsenIQ,"Parsippany-Troy Hills, NJ, United States",Full Time,Entry-level,48000.0,Business Intelligence,Career development,True,USD,Parsippany-Troy Hills,"NJ, United States"
"entry level (recent tech grads) business intelligence analyst ¬ñ parsippany-troy hills, nj",NielsenIQ,"Parsippany-Troy Hills, NJ, United States",Full Time,Entry-level,44000.0,Business Intelligence,Career development,True,USD,Parsippany-Troy Hills,"NJ, United States"
entry level data scientist,Eurofins,"Lancaster, PA, United States",Full Time,Entry-level,44000.0,Chemistry,401(k) matching,True,USD,Lancaster,"PA, United States"
"field sample specialist (air samples) - eurofins environment testing ¬ñ pueblo, co",Eurofins,"Pueblo, CO, United States",Full Time,Entry-level,40000.0,Chemistry,Career development,False,USD,Pueblo,"CO, United States"
information technology data analyst,OceanaGold,"Kershaw, South Carolina, United States",Full Time,Entry-level,48000.0,Data management,Career development,True,USD,Kershaw,"South Carolina, United States"
junior data analyst,Liquid Advertising,United States - Remote,Full Time,Entry-level,40000.0,Excel,401(k) matching,False,USD,United States - Remote,None
junior software engineer - python / java / ai / ml,Captivation Software,"Annapolis Junction, Maryland, United States",Full Time,Entry-level,125000.0,Computer Science,401(k) matching,False,USD,Annapolis Junction,"Maryland, United States"
lead data scientist,Verisk,"Jersey City, NJ, United States",Full Time,Entry-level,40000.0,Big Data,Career development,True,USD,Jersey City,"NJ, United States"
machine learning engineer,CGG,"Houston, TX, United States",Full Time,Entry-level,30000.0,Architecture,Career development,True,USD,Houston,"TX, United States"
machine learning engineer intern,Firework,"United States, Remote",Internship,Entry-level,0.0,AWS,Career development,False,--,United States,Remote
machine learning for natural language processing intern,Bosch Group,"Sunnyvale, CA, United States",Internship,Entry-level,0.0,Autonomous Driving,Conferences,False,--,Sunnyvale,"CA, United States"
natural language processing intern,Bosch Group,"Sunnyvale, CA, United States",Internship,Entry-level,0.0,APIs,Conferences,False,--,Sunnyvale,"CA, United States"
nlp engineer,CGG,"Houston, TX, United States",Full Time,Entry-level,44000.0,Architecture,Career development,True,USD,Houston,"TX, United States"
phd machine learning engineer intern (fall 2023),Block,"San Francisco, CA, United States",Internship,Entry-level,0.0,Architecture,Career development,False,--,San Francisco,"CA, United States"
"pre-college instructor, big data, machine learning & their real world applications (on-campus) summer 2023",Columbia University,"New York City, United States",Full Time,Entry-level,44000.0,Big Data,no-Facilities,True,USD,New York City,United States
product manager for healthcare ai products,John Snow Labs,"Remote, REMOTE, United States",Full Time,Entry-level,39000.0,Big Data,no-Facilities,True,USD,Remote,"REMOTE, United States"
program management data analytics internships ¬ñ academic year,NBCUniversal,"New York City, United States",Internship,Entry-level,0.0,Business Analytics,Career development,False,--,New York City,United States
research engineer- atmospheric perils vulnerability,Verisk,"Boston, MA, United States",Full Time,Entry-level,105000.0,Data Mining,Career development,True,USD,Boston,"MA, United States"
research scientist - machine learning and algorithms,Granica,"Mountain View, California, United States, Remote",Full Time,Entry-level,120000.0,Computer Science,401(k) matching,False,USD,Mountain View,"California, United States, Remote"
rotational development program - artificial intelligence and machine learning trainee,Bosch Group,"Plymouth, MI, United States",Full Time,Entry-level,44000.0,Airflow,Career development,True,USD,Plymouth,"MI, United States"
seismic imaging analyst,CGG,"Houston, TX, United States",Full Time,Entry-level,85000.0,Data analysis,401(k) matching,False,USD,Houston,"TX, United States"
senior data scientist,Verisk,"Jersey City, NJ, United States",Full Time,Entry-level,39000.0,Big Data,Career development,True,USD,Jersey City,"NJ, United States"
"software engineer, computer vision program",CCRi,"Charlottesville, Virginia, United States",Full Time,Entry-level,84000.0,Agile,401(k) matching,False,USD,Charlottesville,"Virginia, United States"
"software engineer, data streaming platform",Block,"Atlanta, GA, United States",Full Time,Entry-level,129000.0,Airflow,Career development,False,USD,Atlanta,"GA, United States"
specification coordinator - data management,Eurofins,"Ithaca, NY, United States",Full Time,Entry-level,39000.0,Data management,Flex hours,True,USD,Ithaca,"NY, United States"
summer 2023 data engineering intern,Western Digital,"San Jose, CA, United States",Internship,Entry-level,0.0,Big Data,Career development,False,--,San Jose,"CA, United States"

In [ ]:
dataFrame[dataFrame["Job Title"].str.contains('intern')]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency,City_State_Location,Country_Location
17760,Mitek Systems,Machine Learning Researcher (internship),Barcelona,Internship,Entry-level,0.0,Computer Vision,Career development,False,--,Barcelona,None
17761,Mitek Systems,Machine Learning Researcher (internship),Barcelona,Internship,Entry-level,0.0,Deep Learning,Career development,False,--,Barcelona,None
17762,Mitek Systems,Machine Learning Researcher (internship),Barcelona,Internship,Entry-level,0.0,Docker,Career development,False,--,Barcelona,None
17763,Mitek Systems,Machine Learning Researcher (internship),Barcelona,Internship,Entry-level,0.0,Git,Career development,False,--,Barcelona,None
17764,Mitek Systems,Machine Learning Researcher (internship),Barcelona,Internship,Entry-level,0.0,Linux,Career development,False,--,Barcelona,None
...,...,...,...,...,...,...,...,...,...,...,...,...
42949,Equip Health,Data Science intern,Remote United States,Internship,Entry-level,0.0,Computer Science,Salary bonus,False,--,Remote United States,None
42950,Equip Health,Data Science intern,Remote United States,Internship,Entry-level,0.0,Genetics,Salary bonus,False,--,Remote United States,None
42951,Equip Health,Data Science intern,Remote United States,Internship,Entry-level,0.0,GitHub,Salary bonus,False,--,Remote United States,None
42952,Equip Health,Data Science intern,Remote United States,Internship,Entry-level,0.0,LLMs,Salary bonus,False,--,Remote United States,None
42953,Equip Health,Data Science intern,Remote United States,Internship,Entry-level,0.0,Machine Learning,Salary bonus,False,--,Remote United States,None

In [ ]:
dataFrame[dataFrame['Job Title'] == 'Data Analytics Manager - Compliance, Risk & Internal Audit']

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency,City_State_Location,Country_Location
59880,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120000.0,Airflow,no-Facilities,True,USD,London,None
59881,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120000.0,APIs,no-Facilities,True,USD,London,None
59882,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120000.0,Data Analytics,no-Facilities,True,USD,London,None
59883,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120000.0,Data pipelines,no-Facilities,True,USD,London,None
59884,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120000.0,Data warehouse,no-Facilities,True,USD,London,None
59885,Wise,"Data Analytics Manager - Compliance, Risk & In...",London,Full Time,Entry-level,120000.0,Engineering,no-Facilities,True,USD,London,None

In [ ]:
import nltk

# Set the data directory for NLTK
# nltk.data.path.append("C:/Users/Youcode/nltk_data")

# Download necessary NLTK data
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Error loading punkt: <urlopen error [WinError 10060] Une
[nltk_data]     tentative de connexion a √©chou√© car le parti connect√©
[nltk_data]     n‚Äôa pas r√©pondu convenablement au-del√† d‚Äôune certaine
[nltk_data]     dur√©e ou une connexion √©tablie a √©chou√© car l‚Äôh√¥te de
[nltk_data]     connexion n‚Äôa pas r√©pondu>

KeyboardInterrupt:

In [ ]:
import nltk
import pandas as pd
from nltk import word_tokenize, pos_tag



def extract_job_name_and_more_info(job_title):
    words = word_tokenize(job_title)
    tagged_words = pos_tag(words)

    job_name = []
    more_info = []

    for i in range(len(tagged_words)):
        word, tag = tagged_words[i]
        if tag == 'NN' or tag == 'NNP':  # Noun or Proper Noun (potential job name)
            prev_word, prev_tag = tagged_words[i - 1] if i > 0 else (None, None)
            if prev_tag != 'JJ':  # Exclude if the previous word is an adjective (e.g., "Senior")
                job_name.append(word)
            else:
                more_info.append(word)
        else:
            more_info.append(word)

    return ' '.join(job_name), ' '.join(more_info)

def extract_location_info(location):
    location_info = location.split(', ')
    num_parts = len(location_info)

    city = location_info[0]

    state = location_info[1] if num_parts > 1 else ""

    country = location_info[-1]

    return city, state, country

# Example DataFrame with the provided lines
# data = {'Company': ['Freeform', 'Opera', 'Bosch Group', 'Tiendanube', 'Ask Media Group', 'Angi', 'Visa', 'AVIV Group', 'Mutt Data', 'Global Atlantic Financial Group', 'REWE International Dienstleistungsgesellschaft m.b.H', 'Imagen Technologies', 'Sunnova Energy International'],
#         'Job Title': ['Senior Software Engineer (Data Pipeline)', 'Senior Data Scientist', 'Data Science Lead (Hybrid)', 'Business Intelligence Analyst', 'Lead Business Intelligence Analyst', 'Senior Data Scientist', 'Sr Data Engineer', 'Data Modeler', 'Data Engineer', 'VP, Actuarial Modeling and Data Management', 'Junior Data Science Engineer (m/w/x)', 'Healthcare Data Analyst', 'Data Scientist'],
#         'Location': ['Los Angeles, CA', 'Wroclaw, PL', 'Mount Prospect, IL, United States', 'Buenos Aires, Buenos Aires, Argentina - Remote', 'United States - Remote', 'Indianapolis, IN - Hybrid', 'Bengaluru, India', 'Brussels, Germany', 'Argentina', 'Boston, Massachusetts, United States', 'Wien, Austria', 'Remote', 'United States'],
#         'Job Type': ['Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time', 'Full Time'],
#         'Experience level': ['Senior-level', 'Senior-level', '', 'Senior-level', 'Senior-level', 'Senior-level', 'Senior-level', 'Senior-level', 'Mid-level', 'Senior-level', 'Entry-level', 'Mid-level', 'Senior-level'],
#         'Salary': ['140K+', '129K+ *', '63K+ *', '49K+ *', '180K+', '', '115K+ *', '62K+ *', '73K+ *', '127K+', '', '60K+', '129K+ *'],
#         'Requirements': ['Big Data, CI/CD, Computer Science, Computer Vision, Data pipelines, Data Warehousing', 'Agile, Airflow, Big Data, BigQuery, Computer Science, Data analysis', 'A/B testing, Data visualization, Economics, Engineering, Mathematics, Power BI', 'Business Intelligence, E-commerce, Python, SQL, Tableau,', 'A/B testing, Business Intelligence, Data visualization, KPIs, Looker, Mathematics', 'Big Data, Data Mining, Machine Learning, Mathematics, ML models, PhD', 'Agile, Big Data, Business Intelligence, Data Mining, Data visualization, Engineering', 'Architecture, Data governance, Data management, Engineering, KPIs, Privacy', 'Airflow, Architecture, AWS, Big Data, BigQuery, CI/CD', 'Data management, Excel, Finance, Mathematics, ML models, Privacy', 'CI/CD, Computer Science, Data pipelines, Deep Learning, Oracle, Pipelines', 'Business Intelligence, Engineering, Genetics, Git, Pandas, Python', 'Agile, APIs, Architecture, AWS, Big Data, Classification'],
#         'Facilities': ['Career development, Equity, Flex hours, Flex vacation, Health care', 'Career development, Relocation support,,,', 'Career development, Competitive pay, Health care,,', ',,,,', 'Career development, Competitive pay, Equity, Fertility benefits', '401(k) matching, Career development, Competitive pay, Equity, Flex vacation', 'Career development, Flex hours, Startup environment,,,', 'Flex hours, Flex vacation,,,', 'Career development, Fitness / gym, Flex hours, Flex vacation, Gear', '401(k) matching, Career development, Competitive pay, Equity, Fertility benefits', ',,,,', 'Salary bonus, Startup environment,,,']}
df = dataFrame

# Extract job names and create a new column
df['Job Name'], df['More Job Information'] = zip(*df['Job Title'].apply(extract_job_name_and_more_info))

# Extract cities, states, and countries and create new columns
df['City'], df['State'], df['Country'] = zip(*df['Location'].apply(extract_location_info))

# Drop the original 'Job Title' and 'Location' columns (optional)
# df.drop(columns=['Job Title', 'Location'], inplace=True)

# Display the resulting DataFrame
print(df)

LookupError:
**********************************************************************
  Resource punkt not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt/english.pickle

  Searched in:
    - 'C:\\Users\\Youcode/nltk_data'
    - 'c:\\Users\\Youcode\\miniconda3\\envs\\scraping_brief\\nltk_data'
    - 'c:\\Users\\Youcode\\miniconda3\\envs\\scraping_brief\\share\\nltk_data'
    - 'c:\\Users\\Youcode\\miniconda3\\envs\\scraping_brief\\lib\\nltk_data'
    - 'C:\\Users\\Youcode\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
    - 'C:/Users/Youcode/nltk_data'
    - 'C:/Users/Youcode/nltk_data'
    - ''
**********************************************************************

In [ ]:
def extract_location_info(location):
    location_info = location.split(', ')
    num_parts = len(location_info)

    city = location_info[0]

    state = location_info[1] if num_parts > 1 else ""

    country = location_info[-1]


    return city, state, country

df = dataFrame

# Extract cities, states, and countries and create new columns
df['City'], df['State'], df['Country'] = zip(*df['Location'].apply(extract_location_info))

# Display the resulting DataFrame
df[df['City'].str.contains('Remote')]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Plus,Currency,City_State_Location,Country_Location,City,State,Country
336,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Full Time,Senior-level,129000.0,Agile,Career development,True,USD,Remote job,None,Remote job,,Remote job
337,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Full Time,Senior-level,129000.0,Data visualization,Career development,True,USD,Remote job,None,Remote job,,Remote job
338,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Full Time,Senior-level,129000.0,Economics,Career development,True,USD,Remote job,None,Remote job,,Remote job
339,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Full Time,Senior-level,129000.0,Machine Learning,Career development,True,USD,Remote job,None,Remote job,,Remote job
340,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Full Time,Senior-level,129000.0,Mathematics,Career development,True,USD,Remote job,None,Remote job,,Remote job
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60037,Galileo Financial Technologies,Staff ETL Developer,UT - Remote; UT - Cottonwood Heights,Full Time,Senior-level,63000.0,Data pipelines,no-Facilities,True,USD,UT - Remote; UT - Cottonwood Heights,None,UT - Remote; UT - Cottonwood Heights,,UT - Remote; UT - Cottonwood Heights
60038,Galileo Financial Technologies,Staff ETL Developer,UT - Remote; UT - Cottonwood Heights,Full Time,Senior-level,63000.0,Data warehouse,no-Facilities,True,USD,UT - Remote; UT - Cottonwood Heights,None,UT - Remote; UT - Cottonwood Heights,,UT - Remote; UT - Cottonwood Heights
60039,Galileo Financial Technologies,Staff ETL Developer,UT - Remote; UT - Cottonwood Heights,Full Time,Senior-level,63000.0,Data Warehousing,no-Facilities,True,USD,UT - Remote; UT - Cottonwood Heights,None,UT - Remote; UT - Cottonwood Heights,,UT - Remote; UT - Cottonwood Heights
60040,Galileo Financial Technologies,Staff ETL Developer,UT - Remote; UT - Cottonwood Heights,Full Time,Senior-level,63000.0,Engineering,no-Facilities,True,USD,UT - Remote; UT - Cottonwood Heights,None,UT - Remote; UT - Cottonwood Heights,,UT - Remote; UT - Cottonwood Heights
60041,Galileo Financial Technologies,Staff ETL Developer,UT - Remote; UT - Cottonwood Heights,Full Time,Senior-level,63000.0,ETL,no-Facilities,True,USD,UT - Remote; UT - Cottonwood Heights,None,UT - Remote; UT - Cottonwood Heights,,UT - Remote; UT - Cottonwood Heights

In [ ]:
import pandas as pd
import pycountry

# Sample DataFrame with the job titles and locations


df = dataFrame

# Function to detect countries in job locations
def detect_country(location):
    location=str(location).split(',')[-1]
    try:
        return pycountry.countries.search_fuzzy(location)[0].name
    except:
        pass

    return location

# Preprocess 'Location' column to contain only country names
df['Location'] = df['Location'].str.lower()  # Convert to lowercase for case-insensitive matching

# Create a new column to store detected countries
df['Detected Country'] = df['Location'].apply(detect_country)

df

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Detected Country
0,SGS,Clinical Data Analyst,"richardson, tx, united states",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,",United States
1,Ocorian,AML/CFT & Data Analyst,"eb√®ne, mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,",Mauritius
2,Cricut,Machine Learning Engineer,"south jordan, ut, united states",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,",United States
3,Bosch Group,Application Developer & Data Analyst,"nonantola, italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,",Italy
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"arlington, va, united states",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi...",United States
...,...,...,...,...,...,...,...,...,...
3193,Western Digital,Data Scientist - New College Graduate,"bi√±an, philippines",Full Time,Entry-level,39K+ *,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,",Philippines
3194,Experian,Cloud Data Analyst,"heredia, costa rica",Full Time,Senior-level,92K+ *,"AWS,Big Data,Computer Science,GCP,Snowflake,SQL","Equity,Medical leave,Salary bonus,,",Costa Rica
3195,Locus Robotics,"Robotics Engineer, Sensors","wilmington, ma, united states",Full Time,Senior-level,62K+ *,"E-commerce,Engineering,Linux,Python,Robotics,S...",",,,,",United States
3196,ATB Financial,Data Scientist,"edmonton, alberta, canada",Full Time,Entry-level,39K+ *,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,",Canada
3197,Shippeo,Senior Data Engineer,"paris, france",Full Time,Senior-level,115K+ *,"Airflow,Architecture,BigQuery,CI/CD,Computer S...",",,,,",France

In [ ]:
df[df['Detected Country'].str.contains('remote')]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities,Detected Country
19,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",remote job,Full Time,Senior-level,129K+ *,"Agile,Data visualization,Economics,Machine Lea...","Career development,,,,",remote job
24,EX2 Outcoding,Data Engineer Scientist,remote worldwide,Full Time,Mid-level,73K+ *,"Computer Science,Data Mining,Engineering,Pytho...",",,,,",remote worldwide
30,Neo Cybernetica,ML Research Engineer,poland or eastern europe remote,Full Time,Senior-level,105K+ *,"Cybernetics,DataRobot,Engineering,Keras,Machin...","Career development,Flex hours,Health care,Star...",poland or eastern europe remote
32,Podium,Senior Data Engineer,"lehi, utah, open to remote",Full Time,Senior-level,115K+ *,"APIs,Big Data,Computer Science,Data analysis,D...",",,,,",open to remote
37,Tiendanube,Business Intelligence Analyst,"buenos aires, buenos aires, argentina - remote",Full Time,Senior-level,49K+ *,"Business Intelligence,E-commerce,Python,SQL,Ta...",",,,,",argentina - remote
...,...,...,...,...,...,...,...,...,...
3161,EquipmentShare,BI Data Analyst,remote: kansas city; denver; chicago; phoenix;...,Full Time,Senior-level,36K+ *,"Business Analytics,Business Intelligence,Finan...","401(k) matching,Career development,Competitive...",remote: kansas city; denver; chicago; phoenix;...
3164,Rackspace,Trainee Data Engineer - R-16792,india - remote,Full Time,Entry-level,59K+ *,"Architecture,Azure,Big Data,Computer Science,D...","Team events,,,,",india - remote
3174,Sand Cherry Associates,Data Analyst,united states - remote,Full Time,Mid-level,65K+,"Computer Science,Consulting,Data Analytics,Dat...","401(k) matching,Flex hours,Flex vacation,Healt...",united states - remote
3176,iTech Media,Data Analytics Engineer,warsaw remote,Full Time,Entry-level,30K+ *,"Airflow,Data Analytics,Engineering,Finance,Kaf...","Career development,Flex hours,Flex vacation,He...",warsaw remote
3178,Galileo Financial Technologies,Staff ETL Developer,ut - remote; ut - cottonwood heights,Full Time,Senior-level,63K+ *,"Computer Science,Data pipelines,Data warehouse...","Flex hours,Health care,Insurance,,",ut - remote; ut - cottonwood heights

### DATA INSERTION

In [1]:
import sqlalchemy as sly
import psycopg2

In [2]:
engine = sly.create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/postgres')

In [ ]:
trans['repo_id'] = general_data['full_name'].astype('category').cat.codes